.item(ng-show="$root.tabularIndex===2",ng-controller="quizCtrl")
    .ui.container
        .ui.grid.middle.aligned
            .row
                .statusbar
                    .status(ng-repeat="quiz in quizzes track by $index",ng-class="{'active': $index==quizIndex, 'pass': $index<quizIndex&&quiz.status===STATUS.P,'fail': $index<quizIndex&&quiz.status===STATUS.F}",ng-click="itemClick($index)")
                        i.icon-checkmark(ng-show="$index<quizIndex&&quiz.status===STATUS.P")
                        i.icon-cross(ng-show="$index<quizIndex&&quiz.status===STATUS.F")
                        span(ng-show="$index>=quizIndex||quiz.status===STATUS.U") {{$index+1}}
            .row
                .one.wide.column
                .left.aligned.one.wide.column
                    .left.arrow(ng-click="turnQuiz(false)",ng-class="{'hidden':quizIndex===0}", style='padding:0;')
                        span.icon-circle-left
                .twelve.wide.column
                    .ui.container.fixed-ratio.four-three
                        .content
                            iframe(frameborder="0",style="width: 100%;height: 98%",ng-src="{{currentExercise.url}}")
                .left.aligned.two.wide.column
                    .right.arrow(ng-click="turnQuiz(true)",ng-class="{'hidden':quizIndex>=quizLimit}", style='padding:0;')
                        span.icon-circle-right

