style.
    #level-switcher .ui.toggle.checkbox input{
        width: 6rem;
    }

    #level-switcher .ui.toggle.checkbox label:before, 
    #level-switcher .ui.toggle.checkbox input:checked ~ label:before {
        background: white!important;
        width: 6rem;
    }

    #level-switcher .ui.toggle.checkbox label span {
        position: absolute;
        white-space: nowrap;
        left: 0;
        right: 0;
        z-index: 1;
        padding-left: 1.8rem;
        padding-right: 0;
    }

    #level-switcher .ui.toggle.checkbox label:after{
        background-color: #FBBD08;
        left: 0.1rem;
        content: '\f0c9'!important;
        font-family: 'Icons'!important;
        color: white;
        line-height: 1.5rem;
    }

    #level-switcher .ui.toggle.checkbox input:checked ~ label:after{
        left: 4.4rem;
    }

    #level-switcher .ui.toggle.checkbox input:checked ~ label span {
        padding-left: 0.8rem;
        padding-right: 1.8rem;
    }

div#level-switcher.item(ng-controller="LevelCtrl", ng-cloak, ng-click="switchToLevelFrom(currentLevel)")
    div.ui.toggle.checkbox
        input(type="checkbox", ng-checked="{{currentLevel==='A'}}")
        label 
            i.ui.content.icon
            span Level 
                strong {{currentLevel}}

//- script.
    $(function(){$('#level-switcher .ui.toggle.checkbox').checkbox();});