.item(ng-show="$root.tabularIndex===1",ng-controller="newWordCtrl",style="position:relative;")
    .ui.container
        .ui.grid.middle.aligned
            .row(style='padding-left:1em;')
                .three.wide.column
                    div(style="display:inline-block;height:40px;text-align:left;")
                        .button(ng-show="isWordMode&&hasWordMode",ng-click="changeWordMode(false)",ng-cloak ，style="background-color:white;padding: 5px 10px 5px 40px;border:2px solid #f7b52a;position:relative;box-shadow:2px 2px 2px #f7b52a;")
                            img(src="/images/bee.png",style="position:absolute;left:-15px;top:-25px;")
                            span(style="color:black") 进入练习
                        .button(ng-show="!isWordMode&&hasWordMode",ng-click="changeWordMode(true)",style="background-color:white;padding: 5px 10px 5px 40px;border:2px solid #f7b52a;position:relative;box-shadow:2px 2px 2px #f7b52a;")
                            img(src="/images/bee.png",style="position:absolute;left:-15px;top:-25px;")
                            span(style="color:black") 显示词汇
                .statusbar.ten.wide.column
                    .status(ng-repeat="word in newWords track by $index",ng-class="{'active': $index==wordIndex, 'pass': $index<wordIndex&&word.status===STATUS.P,'fail': $index<wordIndex&&word.status===STATUS.F}",ng-click="itemClick($index)",ng-cloak, style='text-align: center;')
                        i.icon-checkmark(ng-show="$index<wordIndex&&word.status===STATUS.P")
                        i.icon-cross(ng-show="$index<wordIndex&&word.status===STATUS.F")
                        span(ng-show="$index>=wordIndex||word.status===STATUS.U") {{$index+1}}
                .three.wide.column
            .row
                .one.wide.column
                .left.aligned.one.wide.column
                    .left.arrow(ng-click="turnWord(false)",ng-class="{'hidden':wordIndex===0}", ng-cloak, style='padding:0;')
                        span.icon-circle-left
                .twelve.wide.column(style='overflow-y: visible;')
                    .ui.container.fixed-ratio.four-three
                        .content
                            iframe(frameborder="0",style="width: 100%;height: 98%", ng-src="{{currentVocabulary.url}}")
                .left.aligned.two.wide.column
                    .right.arrow(ng-click="turnWord(true)",ng-class="{'hidden':wordIndex>=WORD_MAX_INDEX}", ng-cloak, style='padding:0;')
                        span.icon-circle-right