.item(ng-show="$root.tabularIndex===3", ng-controller="weeklyQuizCtrl")
    .weekly-meau(ng-show="weeklyStatus=='menu'")
        .img(style='width:30%;margin:30px auto;margin-top:50px;')
            img(style='width:50%;',src='/public/images/weeklyquiz.png')
        div(style="display: flex; width:40%;margin:0 auto;")
            a.button.yellow.exercisebutton(ng-click="turnTo('grade')", style="flex: 1;padding: .5em 0 !important;text-decoration: none;") 查看成绩
            span(style='flex:1;width:20%;')
            a.button.yellow.exercisebutton(ng-click="turnTo('exercise')", style="flex: 1;padding: .5em 0 !important;text-decoration: none;color: #f6b52a!important;background-color: #fff!important;border:1px solid #f6b52a;") 重新测试
    .weekly-grade(ng-show="weeklyStatus=='grade'")
        .grade-title 成绩单
        .grade-body
            .course
                .title 得分
                .span {{score}}
            .content
                .title 得分详情
                .detail
                    .detail-title 单选题
                    .detail-con 共{{total_sum}}题
                    .detail-con 答对{{total_correct}}题
                    .detail-con 获得{{score}}分
        a.button(ng-click="turnTo('menu')") 返回
    .exercise.container.cube(ng-show="weeklyStatus=='exercise'")
        .cube-side.side-a
            .progress
                span {{currentIndex+1}}/{{arrayWeeklyQuiz.length}}
                .percent
                    .tab &nbsp;
            .exercise-container
                .exercise-body(style='width: 80%;height: 350px;',ng-class="{ 'rtom':animateDirection==='rtom'}")
                    iframe(id="weekly-quiz-frame", frameborder="0", style="width: 100%; height: 100%;", ng-src="{{currentQuiz.quiz}}")
                .right.arrow(style='width:20%;',ng-click="nextQuiz()",ng-class="{'hidden':currentIndex+1>=arrayWeeklyQuiz.length}")
                    span.icon-circle-right
            a.button(ng-click="turnTo('menu')",style='margin-top:10px;') 返回