.header .logo {
    height: 40px;
    display: block;
    float: left;
}

.header .right.floated.menu {
    margin-top: 0;
    margin-bottom: 0;
    height: 40px;
}

.clear.float {
    clear: both;
    float: none;
}

.header .right.floated.menu > li {
    height: 40px;
    line-height: 40px;
}

.header .welcome.message {
    margin-top: 10px;
    display: inline-block;
}

.header a:link {
    color: white;
}

.header a:visited {
    color: white;
}

.header a:hover, .header a:active, .header a.active {
    color: white !important;
    text-decoration: none !important;
}

a {
    cursor: pointer;
}
.sidebar.sidebar-right {
    position: fixed;
    right: 9%;
    top: 40px;
    background-color: #f7b52a;
    height: 46px;
    line-height: 46px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
.sidebar.sidebar-right .scrollable {
    width: 46px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.sidebar.sidebar-right .scrollable button {
    background-color: transparent;
    border:none;
    outline: none;
    cursor: pointer;
}
.scrollable-header.app-name {
    font-size: 15px;
    color: #fff;
}