.header .logo {
    height: 40px;
    display: block;
    float: left;
}

.header .right.floated.menu {
    margin-top: 4px;
    margin-bottom: 1px;
}

.header .welcome.message {
    margin-top: 10px;
    display: inline-block;
}

.header a:link {
    color: white;
}

.header a:visited {
    color: white;
}

.header a:hover, .header a:active, .header a.active {
    color: white !important;
    text-decoration: none !important;
}