<div ng-controller="sharingCtrl as ctrl">
    <div ui-content-for="modals" ng-show="showModal">
        <div class="modal modal-overlay">
            <div class="modal-dialog" style="margin-top: 50px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" ng-click="showModal=false">&times;</button>
                        <h4 class="modal-title">太棒了！你已经学习了 {{videoData.smil.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            点击屏幕右上角，分享到朋友圈炫耀一下吧！
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="showModal=false" class="btn btn-default">关闭</button>
                        <button ng-click="showModal=false" class="btn btn-primary">开始做练习</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>