include share/common

doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="viewport", content="width=device-width, user-scalable=no")
        title BuzzBuzz English
        style.
            body,div{
                padding:0;
                margin:0;
            }
            .box{
                box-sizing: border-box;
            }
            .img-top{
                position: absolute;
                top:0;
                width: 100%;
                z-index:1;
            }
            .img-top img{
                width:100%;
            }

            .translate-img{
                transform: rotate(180deg);
                -ms-transform: rotate(180deg); /* IE 9 */
                -moz-transform: rotate(180deg); /* Firefox */
                -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
                -o-transform: rotate(180deg); /* Opera */
            }
            .translate-img-y{
                transform: rotateY(180deg);
                -ms-transform: rotateY(180deg); /* IE 9 */
                -moz-transform: rotateY(180deg); /* Firefox */
                -webkit-transform: rotateY(180deg); /* Safari 和 Chrome */
                -o-transform: rotateY(180deg); /* Opera */
            }
            .line-height-lit{
                line-height: 1.5em;
            }
            .middle{
                margin: 0 auto;
            }
            .middle-word{
                margin:0 auto;
                display: table;
            }
            .border-b{
                border-bottom: 2px dotted #f7b52a;
            }

            .word{
                font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 1em;
                padding-top: .8em;
            }

            .main-page{
                position: absolute;
                z-index:999;
                display: block;
                box-sizing: border-box;
                margin: .5em  5%  1em 5%;
                padding:.2em 5% 1em  5%;
                width: 90%;
                min-height: 800px;
                border-bottom:2px solid #aaa;
                border-top:2px solid #aaa;
            }
            .main-page>.item{
                width:100%;
            }

            .border-outside-right{
                height:100%;
                position: absolute;
                top: 0;
                right:0;
                border-left:2px solid #aaa;
            }

            .border-outside-left{
                height: 100%;
                position: absolute;
                left: 0;
                top:0;
                border-left: 2px solid #aaa;
            }

            .litter-title{
                color:#FFFFFF;
                font-size: 1.5em;
                font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
                padding: 8px 0;

            }

            .to-teacher{
                margin-top: 3em;
            }
            .title-teacher{
                margin: 1.5em 0 1em 0;
                letter-spacing: .1em;
                width:100%;
                background-color:#fff;
                color:#fff;
                font-weight: 500;
                height:2em;
                line-height: 2em;
                font-size:1em;
                text-align: center;
                position: relative;
            }
            .title-teacher>img{
                width:100%;
            }
            .title-teacher>div{
                position: absolute;
                display: table;
                margin:0 auto;
                top:5%;
                width:60%;
                left:20%;
                font-size: 1.2em;
            }


            .teacher-gift{
                color:#f7b52a;
                margin-bottom: .5em;
            }

            .ours-features{
                margin-top:.5em;
                width: 100%;
            }
            .ours-features>div{
                display: inline-block;
            }
            .ours-features>.fea-dot{
                width:20%;
                height: 100%;
                border-bottom: 2px dotted #f7b52a;
            }
            .ours-features > .fea-word {
                width: 35%;
                text-align: center;
                font-size: .8em;
            }
            .ours-features > .img {
                width: 12.5%;
            }




            .fea-list{
                width: 33%;
                display:inline-block;
                margin:1em 0;
            }

            .fea-list > img {
                width: 45%;
                display:block;
                margin:0 auto;
            }
            .fea-list>div{
                text-align: center;
            }

            .full-width{
                width:100%;
            }
            .half-width{
                width: 50%;
            }
            .feature-list{
                border-bottom: 2px dotted #f7b52a;
            }
            .feature-list>div{
                display: inline-block;
            }

            .gifts{
                position: relative;
            }
            .gifts>.gift-item{
                width: 100%;
                height:2em;
                line-height: 2em;
                font-size: 1em;
                margin-bottom: 2px;
                padding:.3em 0;
                background-color: #FFF5DE;
                color:#000;
                text-align: center;
            }
            .item.gift-title{
                width: 100%;
                height: auto;
                color:#FFB500;
                font-size: 1em;
                text-align: center;
                font-weight: 500;
                margin-bottom:.5em;
            }
            .gift-animate{
                position: absolute;
                width: 100%;
                height:100%;
                z-index:1000;
            }


            .heart-move{
                margin:1em 0;
                width: 100%;
                color: #FFB500;
                font-size: 1em;
                text-align: center;
                font-weight: 500;
                box-sizing: border-box;
                height: 2em;
            }
            .heart-move div{
                width: 33%;
                box-sizing: border-box;
                display: inline-block;
                height:100%;
            }
            .heart-img>img{
                width: 20%;
                display: inline-block;
                margin-left: 10%;
                vertical-align: middle;

            }
            .heart-img{
                display: inline-flex;
                align-items:center;
            }

            .sign-up-link{
                display: flex;
                align-items:center;
                margin-top:.5em;
            }
            .sign-up-link img{
                vertical-align: middle;
            }
            .padding-b{
                padding-bottom: 1.5em;
            }
            .padding-t{
                padding-top: 1.5em;
            }

            span.important{
                font-weight: bold;
                color:#FFB600;
            }
            .bottom-createdby .img-left{
                width: 20%;
                display: inline-block;
                vertical-align: middle;
            }
            .bottom-sherily{
                width:60%;
                display: inline-block;
                color: #FFB600;
                text-align: center;
            }

            .bottom-sherily div{
                margin-top:.5em;
            }

            .question-body{
                position: relative;
                margin-top: .5em;
                min-height: 15em;
                margin-bottom: 1em;
            }
            .question-body>.back-img{
                position: absolute;
                margin-left:-15%;
                width: 130%;
                z-index: -20;
            }
            .question-body>.question{
                position: absolute;
                z-index:100;
                padding-top: .5em;
            }
            .question-body>.question>.question-list{
                width:100%;
            }
            .question-body>.question .question-list-title{
                font-weight: 400;
                color: snow;
                margin:.2em 0;
            }
            .question-body>.question>.question-list>span{
                font-size: .8em;
                color:#F2F2F2;
            }

            @media screen and (min-width: 410px) {
                .question-body{
                    margin-bottom:3em;
                }
            }

            @media screen and (max-width: 320px) {
                .question-body {
                    margin-top: 0;
                }
                .question-body .question-list:nth-child(4){
                    display: none;
                    margin-bottom: 0;

                }
            }


    body
        .img-top
            img(src='http://resource.buzzbuzzenglish.com/ad-background.png')
        .main-page
            .item.box(style='min-height:30%;')
                .img.middle(style='width:50%;')
                    img(src='http://resource.buzzbuzzenglish.com/ad-top-1.png',style="width:100%;")
                .litter-title
                    div.middle-word.middle(style="border-top:2px solid #fff;padding-top:3px;margin-bottom:.2em;") 给孩子最好的礼物
                    div.middle-word.middle(style="border-bottom:2px solid #fff;padding-bottom:5px;") 是接受优质教育的机会
                .img.middle(style='width:50%;')
                    img.translate-img(src='http://resource.buzzbuzzenglish.com/ad-top-1.png',style="width:100%;")
            .item.box.to-teacher
                .title-teacher
                    img(src='http://resource.buzzbuzzenglish.com/ad-teacher-title.png')
                    div 亲爱的爸爸妈妈
                .middle-word.teacher-gift 恭喜您获得邀请
                .middle-word.teacher-gift(style='margin-bottom:1em;') 一起开启Buzzbuzz每日英语吧!
                .question-title 孩子有没有......
                .full-width.question-body
                    .question
                        .question-list
                            .question-list-title 死读书?
                            span 开口说英语,逃不出"What's your name? How are you?"的套路?
                        .question-list
                            .question-list-title 不够努力?
                            span 提笔写英语作文,就进入思路阻塞,像便秘一样痛苦?
                        .question-list
                            .question-list-title 没观点?
                            span 不知全球时事新闻,更谈不上用英语表述自己的观点?
                        .question-list
                            .question-list-title 磨洋工?
                            span 每天学校的作业都做到深夜,哪有碎片时间看新闻?
                    .back-img
                        img(src="http://resource.buzzbuzzenglish.com/ad-child.png",style="width:100%;")
                .middle-word(style='margin-bottom:1em;') 孩子有以上症状,都不是TA的错
                .middle-word.teacher-gift Buzzbuzz每日英语协助您
                .middle-word.teacher-gift 有效缓解孩子的症状!
                .icons-title.middle-word.ours-features
                    .fea-dot
                    .img
                        img.translate-img-y(src="http://resource.buzzbuzzenglish.com/ad-featrues-title.png",style="width:100%;")
                    .fea-word 我们的特点
                    .img
                        img(src="http://resource.buzzbuzzenglish.com/ad-featrues-title.png",style="width:100%;")
                    .fea-dot
                .feature-list.full-width
                    .fea-list.box
                        img(src='http://resource.buzzbuzzenglish.com/ad-icon-1.png')
                        div 时效性
                    .fea-list.box
                        img(src='http://resource.buzzbuzzenglish.com/ad-icon-2.png')
                        div 相关性
                    .fea-list.box
                        img(src='http://resource.buzzbuzzenglish.com/ad-icon-3.png')
                        div 实用性
                    .fea-list.box
                        img(src='http://resource.buzzbuzzenglish.com/ad-icon-4.png')
                        div 交互性
                    .fea-list.box
                        img(src='http://resource.buzzbuzzenglish.com/ad-icon-5.png')
                        div 个性化
                    .fea-list.box
                        img(src='http://resource.buzzbuzzenglish.com/ad-icon-6.png')
                        div 全球性
            .item.pic.full-width(style="min-height:150px;background-color:#ddd;padding-top:27%;text-align:center;box-sizing:border-box;margin-top:1em;margin-bottom:1em;")
                span 动图演示操作
            .item.gift-title  现在就点击下方图片注册
            .item.gift-title  即可享受以下福利
            .item.gifts
                .gift-item
                   span 一个月免费订阅
                .gift-item 英语学习+全球时事
                .gift-item 个性化定制生词本
                .gift-item 多维度可视报告
                //.gift-animate
                //img(style='width:100%;',src='')
            .item.sign-up
                .sign-up-link
                    .img.half-width
                        a(href="/sign-up?trk_tag=" + trk_tag)
                            img(src='http://resource.buzzbuzzenglish.com/ad-link-signup.png',style='width:60%;display:block;margin:0 auto;')
                    .link.half-width.clickme
                        img(src='http://resource.buzzbuzzenglish.com/ad-clickme.png',ng-click='clickme()')
                        span  &nbsp;点我！
            .item.heart-move
                .heart-img
                    img(src='http://resource.buzzbuzzenglish.com/ad-heart.png')
                    img(src='http://resource.buzzbuzzenglish.com/ad-heart.png')
                    img(src='http://resource.buzzbuzzenglish.com/ad-heart.png')
                .heart-img(style='width:33%;line-height:2em;') 怦然心动吗
                .heart-img
                    img(src='http://resource.buzzbuzzenglish.com/ad-heart.png')
                    img(src='http://resource.buzzbuzzenglish.com/ad-heart.png')
                    img(src='http://resource.buzzbuzzenglish.com/ad-heart.png')
            .sign-up-title.padding-b.border-b.line-height-lit
                    span 好东西，要分享！只需点击图片，注册后在【我的】获取专属二维码，一键分享给
                    span.important 5位
                    span 亲朋好友。福利来的就这么简单，您将获得
                    span.important 双倍
                    span 的免费订阅！
            .item.word.padding-t.padding-b.border-b.line-height-lit BuzzBuzz每日英语是国内首家线上青少年英语新闻分级阅读,由国际教育者、资深媒体人和国内英语名师强强联手制作播出。每天更新，孩子只花15分钟观看英语新闻时事,做与新闻匹配的互练习。不知不觉中,英语前进一大步！
            .item.bottom
                .middle-word(style='margin-top:1em;margin-bottom:.5em;color:#F5B41A') 让孩子的英语学习超越语言学习,
                .full-width.bottom-createdby(style='margin-bottom:1em;')
                    .img-left.translate-img
                       img(src='http://resource.buzzbuzzenglish.com/ad-bottom.png',style='width:100%;')
                    .bottom-sherily 这是我们间的约定!
                    .img-left
                        img(src='http://resource.buzzbuzzenglish.com/ad-bottom.png',style='width:100%;')
            .border-outside-left
            .border-outside-right