extends ./spa-layout

block body
    script(type="text/ng-template", id="agreement.html")
        .ui.container(style='padding: 60px 2rem;background-color: white;')
            h2(style='text-align: center;') 《BUZZBUZZ服务平台用户注册协议》
            include partial/agreement-content

block javascript
    + js('/js/spaModule.min.js')
    + js('/js/components/survey/spa-route.min.js')

