.fluid.container.header.fixed
    .center.aligned.container.column
        ul.large.right.floated.white.horizontal.menu
            li
                span 已有账号？
                a(href="/sign-in") 请登录

        .left.aligned.container.title
            img.logo(src="/images/logo.png")
            span.space
            span.welcome.message
                strong.black 注册即送
                strong.red 两周免费体验