.fluid.container.header.fixed
    .center.aligned.container.column.borderless
        ul.large.right.floated.white.horizontal.menu()
            if hcd_user
                li 欢迎你
            else
                li
                    span 已有账号？
                    a(href="/sign-in") 请登录

        .left.aligned.container.title
            img.white.background.logo(src="/images/logo1.png")
            span.space
            span.welcome.message
                strong.black 注册即送
                strong.red 两周免费体验