.fluid.container.header.fixed
    .center.aligned.container.column.borderless
        ul.large.right.floated.white.horizontal.menu()
            if hcd_user
                li 欢迎你
            else
                li
                    a(href="/sign-in")  已有账号？ 请登录

        .left.aligned.container.title
            if !saas
                img.white.background.logo(src="http://resource.buzzbuzzenglish.com/new_buzz_logo.png", style="max-height:40px;")
            span.space
            span.welcome.message
                strong.black 注册即送
                strong.red 两周免费体验