include share/common
+ js("/node_modules/angular/angular.min.js")
+ js("/node_modules/angular-translate/dist/angular-translate.min.js")
+ js("/node_modules/angular-query-parser-module/dist/scripts/all.min.js")
+ js("/node_modules/angular-service/dist/scripts/all.min.js")
+ js("/node_modules/angular-service-error-parser/dist/all.min.js")
+ js("/js/serviceCacheModule.js")
+ js("/clientConfig.js")

if !config.mock
    script(src=config.tracking)
else
    script.
        angular.module('trackingModule', [])
            .factory('tracking', [function () {
                var tracking = {
                    send: function () {
                    }
                };
                window.tracking = {
                    send: function () {
                    }
                };
                return tracking;
            }])
        ;