script(src="/node_modules/angular/angular.min.js")
script(src="/node_modules/angular-translate/dist/angular-translate.min.js")
script(src="/node_modules/angular-query-parser-module/dist/scripts/all.min.js")
script(src="/node_modules/angular-service/dist/scripts/all.min.js")
script(src="/node_modules/angular-service-error-parser/dist/all.min.js")
script(src="/clientConfig.js")