script(src="http://cdn.bridgeplus.cn/bower/angular/angular.min.js?4.0.3_20161216_0909")
script(src="/node_modules/angular-translate/dist/angular-translate.min.js")
script(src="/node_modules/angular-query-parser-module/dist/scripts/all.min.js")
script(src="http://cdn.bridgeplus.cn/bower/angular-service/dist/scripts/all.min.js?4.0.3_20161216_0909")
script(src="/node_modules/angular-service-error-parser/dist/all.min.js")
script(src="/clientConfig.js")
if !config.mock
    script(src=config.tracking)
else
    script.
        angular.module('trackingModule', [])
            .factory('tracking', [function () {
                var tracking = {
                    send: function () {
                    }
                };
                window.tracking = {
                    send: function () {
                    }
                };
                return tracking;
            }])
        ;