include share/common
+ js("/node_modules/angular/angular.min.js")
+ js("/clientConfig.js")
+ js("/node_modules/angular-translate/dist/angular-translate.min.js")
+ js("/node_modules/angular-query-parser-module/dist/scripts/all.min.js")
+ js("/node_modules/angular-service/dist/scripts/all.min.js")
+ js("/node_modules/angular-service-error-parser/dist/all.min.js")
+ js("/js/serviceCacheCoreModule.min.js")
+ js("/js/serviceCacheModule.min.js")
script.
    applicationCache.addEventListener('updateready', function (e) {
        if (applicationCache.status == applicationCache.UPDATEREADY) {
            applicationCache.swapCache();
            window.location.reload();
        }
    }, false);
+ js("http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
+ js("/js/wechat-share.js")

if !config.mock && !config.mockTracking
    + js(config.tracking)(onerror="if(location.pathname.indexOf('/mock-tracking') !== 0) { location.href='/mock-tracking'+location.href.replace(location.origin, ''); }")
else
    + js('/js/mock-tracking.js')