doctype html
html(manifest="/buzz.appcache")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="viewport", content="width=375, initial-scale=1.0, maximum-scale=1.0")
        include meta
        + css("/public/css/horizontal-menu.min.css")
        title=title || 'Buzzbuzz English - 每天15分钟，学英语读世界！'
        block head
        if saas
            base(href=saasBase)
    body.full.screen.container
        include header
        .full.height.center.aligned.container.borderless.column
            .middle.aligned.grid
                .sixteen.wide.column
                    block content
        include js
        block js