doctype html
html(manifest="/buzz.appcache")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="viewport", content="width=375, initial-scale=1.0, maximum-scale=1.0")
        include meta
        title=title || 'Buzz Buzz English'
        block head
    body.full.screen.container
        include header
        .full.height.center.aligned.container.borderless.column
            .middle.aligned.grid
                .sixteen.wide.column
                    block content
        include js
        block js