link(rel="stylesheet", href="/public/css/player.min.css")
link(rel="stylesheet", href="/public/css/player-layout.min.css")
link(rel="stylesheet", href="/public/css/horizontal-menu.min.css")
link(rel="stylesheet", href="/public/css/my/layout.min.css")
link(rel="stylesheet", href="/public/css/media-query.min.css")