include share/common

+ css("/public/css/player.min.css", true)
+ css("/public/css/player-layout.min.css")
+ css("/public/css/horizontal-menu.min.css")
+ css("/public/css/my/layout.min.css")
+ css("/public/css/media-query.min.css")