.fluid.container.header.fixed(style="background-color: white; border-bottom: solid 1px #f7b52a;")
    .center.aligned.container.column.borderless
        ul.large.right.floated.white.horizontal.menu()
            li(style="background-color: transparent;")
                a.yellow.button(href="/sign-in", style="display: inline;") 登录
            li(style="background-color: transparent;")
                span.space
            li(style="background-color: transparent;")
                a.yellow.button(href="/sign-up", style="display: inline;") 注册

        .left.aligned.container.title
            if !saas
                img.white.background.logo(src="http://resource.buzzbuzzenglish.com/new_buzz_logo.png")
            span.space
            span.welcome.message
                strong.black 找回密码