include share/common

doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        include meta
        link(rel="stylesheet", href="/public/css/sign-header.css")
        title=title || 'Sign in to Buzz English'
    body.full.screen.container(style="background-color:#fef6e7;")
        include sign-in-header
        .full.height.center.aligned.container.borderless.column
            .middle.aligned.grid
                .sixteen.wide.column
                    block content
        include js

        block js