.fluid.container.header.fixed.light.yellow.background(style="border-bottom: none;")
    .center.aligned.container.column
        .left.aligned.container.title
            img.logo(src="/images/logo.png")