extends layout

block head
    style.
        form {
            font-size: small;
        }

        form label {
            background-color: transparent !important;
            border-radius: 4px !important;
        }

        ul.indicator li {
            margin: 2em 0;
            color: #999;
            font-size: smaller;
        }

        ul.indicator li.active {
            color: black;
            font-size: medium;
        }

block content
    .top.aligned.grid
        .column
            ul.indicator
                li.active 创建账号
                li 信息填写
        .one.wide.column
        .column
            form.sign-up-form.text-label(name="signUpForm")
                .fluid.field
                    label
                        span 手机号码
                        input(type="phone", placeholder="请输入您的手机号码")
                .fluid.field
                    label
                        span 人机验证
                .fluid.field
                    label
                        span 短信验证码
                        input(type="number", placeholder="请输入您收到的短信验证码")
                .fluid.field
                    label
                        span 设置密码
                        input(type="password", placeholder="请设置您的密码")
                .field
                    button.fluid.yellow.button(type="submit") 下一步
                .field
                    .center.aglined.container
                        input(type="checkbox")
                        label 我已阅读并同意
                            a.active(href="/agreement") 《BUZZ 用户注册协议》

            form.info-form.text-label(name="infoForm")
                .fluid.field
                    label
                        span 姓名
                        input(type="text", placeholder="请输入您的姓名")
                .fluid.field
                    label
                        span 性别
                        input(type="radio")
                        label 金童
                        span.space
                        input(type="radio")
                        label 玉女
                .fluid.field
                    label
                        span 年级
                        select

                .fluid.field
                    label
                        span 喜欢的主题
                        select
                .fluid.field
                    label
                        span 选择难度版本
                    input(type="radio")
                    label 基础（推荐1~3年级）
                    br
                    input(type="radio")
                    label 进阶（推荐4~6年级）

                .field
                    button.fluid.yellow.button(type="submit") 完成