.fluid.container.header.fixed.light.yellow.background(style="border-bottom: none;")
    .center.aligned.container.column
        .left.aligned.container.title
            img.logo( src="http://resource.buzzbuzzenglish.com/new_buzz_logo.png")
            //src=`${config.cdn}/images/logo1.png?${config.version}`