extends layout

block head
    + css("/public/css/player.min.css")
    style.
        form {
            font-size: small;
        }

        form label {
            background-color: transparent !important;
            border-radius: 4px !important;
        }

        ul.indicator li {
            margin: 2em 0;
            color: #999;
            font-size: smaller;
            list-style-type: none;
        }

        ul.indicator li.active {
            color: black;
            font-size: medium;
        }
block js
    + js("/node_modules/ui-select/dist/select.min.js")
    + js("/js/educationModule.min.js")
    + js("/js/formModule.min.js")
    + js("/js/signUpModule.min.js")

block content
    .top.aligned.grid(ng-app="signUpModule", ng-controller="signUpParentCtrl")
        .column(style="align-self: flex-start;")
            ul.indicator
                li(ng-class="{'active': step == 1}") 创建账号
                li(ng-class="{'active': step == 2}") 信息填写
        .one.wide.column
        .column(ng-cloak)
            include partial/mobile-form
            + mobileForm
                .fluid.field
                    label
                        span 设置密码
                        input(type="password", placeholder="请设置您的密码", ng-model="signUpData.password", ng-required="true", minlength="6")
                .field
                    button.fluid.yellow.button(type="submit", ng-disabled="!signUpForm.$valid") 下一步
                .field
                    .center.aglined.container
                        input(type="checkbox", id="agree", ng-model="signUpData.agreed", ng-required="true")
                        label(for="agree") 我已阅读并同意
                            a.active(href="/agreement" target="_blank") 《BUZZ 用户注册协议》

            include partial/info
            + infoForm
                .field
                    br
                    br
                .field
                    button.fluid.yellow.button(type="submit", ng-disabled="!infoForm.$valid") 完成