extends ./my/layout

block head
    + css("/public/css/semantic-ui/semantic.min.css")
    <!-- Only required for desktop -->
    + css("/node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css")

    <!-- Always required -->
    + css("/node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css")

    <!-- Only required for desktop -->
    + css("/node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css")
    if base
        base(href=base)

    style.
        body {
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat-x 0 0;
            background-size: cover;
            background-attachment: fixed;
        }

block content
    #main.app-body(ng-app="mobileModule")
        ng-view(style="height: 100%; overflow: auto;")
        block body

block js
    + js("/node_modules/angular-route/angular-route.min.js")
    + js("/node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.min.js")
    block javascript