extends ./m/mobile-master-layout

block content
    script(type="text/ng-template", id="survey.html")
        div#wenjuan(style="height: 100%;")
            iframe#WJ_survey(name="WJ_survey", width="100%", frameborder="0", src='https://www.wenjuan.com/s/aAFjuu/?iframe=1&', style="min-height: 600px; border: 0; overflow: hidden; allow-transparency: true; height: 100%;")

block js
    + js('/js/components/survey/spa-route.min.js')
    script.
        if (typeof window.addEventListener != 'undefined') {
            window.addEventListener('message', wenjuanGetData, false);
        } else if (typeof window.attachEvent != 'undefined') {
            window.attachEvent('onmessage',wenjuanGetData);
        }

        var wenjuanGetData = function(e) {
            var data = e.data.toString().split(',');
            console.log('got wenjuan data: ', data);
            var iframeHeight = (data[0]*1)+45;
            var top = data[1]*1;
            if(body_height){
            wenjuanObj.style.height = body_height + 'px';
            wenjuanObj.style.display = 'block';
            wenjuanObj.style.overflowY = 'auto';
            }

            NewIframe.style.height = iframeHeight + 'px';

            if(top==-2){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
                return false;
            }if(top!==-1){

                if(body_height){
                    wenjuanObj.scrollTop = top;
                    var scrolltop = NewIframe.offsetTop;
                    //document.body.scrollTop = scrolltop;
                    //document.documentElement.scrollTop = scrolltop;
                }else{
                    var scrolltop = NewIframe.offsetTop+top;
                    //document.body.scrollTop = scrolltop;
                    //document.documentElement.scrollTop = scrolltop;
                }
            }else{
                if(body_height){
                    wenjuanObj.scrollTop = 0;
                }
                var scrolltop = NewIframe.offsetTop;
                //document.body.scrollTop = scrolltop;
                //document.documentElement.scrollTop = scrolltop;
            }
        };
