extends ./m/mobile-master-layout

block meta
    style.
        video {position:relative;}
        video::-webkit-media-controls-fullscreen-button
        {
                display: none !important;
        }

        video::-webkit-media-controls-panel {
            position: absolute;
            left:0;
            bottom:0;
            z-index: 99999;
            opacity: 1;
            background-color: white;
        }
block content
    script(type="text/ng-template", id="video.html")
        style.
            .form-group{position:relative;width: 640px; padding:0;}
            video{width:100%;display:block;}
            .record .video-mask, .playback .video-mask {
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                display:block;
                background: url(//resource.buzzbuzzenglish.com/bg6.png);
                background-size: 100% 100%;
                opacity: 0.8;
            }

            .playback .video-mask {opacity:1;}

        .ui.container
            form.ui.form(ng-submit="uploadVideo()", ng-class="{'error': !!errorMessage, 'loading': uploading}")
                include ./partial/formMessage
                fieldset
                    legend 
                    .form-group
                        div.btn-group
                            button.btn.btn-default(ng-click="startRecording()" type="button", ng-class="{'disabled': !allowRecording()}", ng-disabled="!allowRecording()") 
                                i.record.icon
                                | Start recording
                            button.btn.btn-default(ng-click="stopRecording()", type="button", ng-class="{'disabled': !recording}", ng-disabled="!recording") 
                                i.red.stop.icon
                                | Stop recording
                            button.btn.btn-default(ng-click="play()", type="button", ng-class="{'disabled': recording || playButton.disabled}", ng-disabled="recording || playButton.disabled") 
                                i.film.icon
                                | Playback
                           
                            div.countDown(ng-show="countDown", style="position:absolute; left:428px; width:100%; font-size:21px;") 您的录制时间剩余
                                span(style="color:red") {{times}}
                                span 秒
                    .form-group 
                        div(ng-show="countDown", style="width:100%; margin-top:12px; text-align:center; font-size:16px;") Recording......
                        br
                    .form-group.record(style="height: 480px;", ng-show="recording")
                        video#cam(autoplay)
                        .video-mask
                    .form-group.playback(style="height: 480px; background-color: white;", ng-show="!recording")
                        video#recorded(autoplay, loop, controls="{{recordedVideo.controls}}", src="{{recordedVideo.src}}", style="height: 480px;")
                        .video-mask   
                    .form-group
                        br
                    .form-group
                        button.btn.btn-primary.btn-block(type="submit", ng-class="{'disabled': recording}", ng-disabled="recording || playButton.disabled") 
                            i.send.icon
                            | Love it? Upload to share!
    script(type="text/ng-template", id="video-player.html")
        style.
            #c2, #c1, #c0 {
                background-image: url('//resource.buzzbuzzenglish.com/bg6.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 640px!important;
                height: 480px;
            }

            .display-area {position: relative;}
            .display-area .subtitle  {position: absolute; bottom:10px; width: 100%;text-align: center;text-shadow: black 1px 1px 0, black -1px -1px 0;color:white;}
        .ui.container
            h2
            div
                img#mask(src="//resource.buzzbuzzenglish.com/bg6.png", crossorigin="Anonymous", style="display: none;")
            div
                canvas#c0(style="display:none;")
            div
                canvas#c1(style="display:none;")
            .display-area(style="width: 640px;")
                canvas#c2(style="width: 100%;")
                .subtitle
                    h3 {{subtitle.text}}
            <video controls="controls" autoplay loop style="width: 640px; height: 30px; padding-top: 30px;" id="video-player" type="video/*" src="{{videoSrc}}" crossorigin="Anonymous">
            </video>
        
block js
    script.
        angular.module('spaModule', [
            'ngRoute',
            'mobile-angular-ui',
            'angular-file-reader',
            'videoParserModule'
        ]);
    + js('/js/videoParserModule.min.js')
    + js('/js/components/video/spa-route.min.js')
    + js('/node_modules/socket.io-client/dist/socket.io.slim.js')
    + js("/node_modules/angular-file-reader-module/dist/angular-file-reader.js")
    script.
        angular.element(document).ready(function(){
            //- var video = document.querySelector("#video");
        
            //- navigator.mediaDevices.getUserMedia({video: true})
            //- .then(handleVideo)
            //- .catch(videoError)
            //- ;
            
            //- function handleVideo(stream) {
            //-     video.src = window.URL.createObjectURL(stream);
            //-     socket.emit('video', stream);
            //- }
            
            //- function videoError(e) {
            //-     console.error(e);
            //-     alert(e);
            //- }

            //- var socket = io();

            //- socket.emit('test', 'test message');
        });