
/* http://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */
.flex-box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flex-box .row {
}

.flex-box .row.dynamic {
    flex: 0 1 auto;
}

.flex-box .row.content {
    flex: 1 1 auto;
}
.vertical.middle.aligned{
    display: inline-block;
    vertical-align: middle;
}
.list-group-item {
    display: flex!important;
    align-items: center;
}

.list-group-item > * {
    flex: 1;
}

.list-group-item > *:last-child {
    text-align: right;
}