ul.horizontal.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

ul.horizontal.menu li {
    padding: 0;
}

ul.horizontal.menu li a {
    padding: 5px 10px;
}

ul.white.horizontal.menu {
    color: white;
}

ul.large.menu {
    font-size: larger;
}

ul.menu li {
    cursor: pointer;
    position: relative;
}

#buzz-header ul.menu li:hover, ul.menu li:active, ul.menu li.active {
    background-color: #f2c855;
}

ul.menu.non-interactive li:active {
    background-color: inherit !important;
}

ul.menu li:hover .sub.menu {
    display: block;
    top: 100%;
}

ul.sub.vertical.menu {
    background-color: white;
    color: #333;
    border-radius: 1px;
    list-style-type: none;
    position: absolute;
    z-index: auto;
    padding-left: 0;
    right: 0;
    display: none;
    box-shadow: 1px 1px 4px 1px #c2c2c2;
}

ul.sub.vertical.menu li a {
    display: inline-block;
    white-space: nowrap;
    padding-left: 2em;
    padding-right: 2em;
    color: #333;
}

ul.sub.vertical.menu li a:hover {
    color: #f9b600 !important;
}

ul.sub.vertical.menu li:hover {
    background-color: #f5f5f5 !important;
    border-radius: 1px;
}