@import url('style.css');

* {
    font-family: Arial;
}

.subtitle {
    text-align: left;
    color: #666;
    font-family: Arial;
    line-height: 2rem;
    overflow: auto;
}

.subtitle a:link {
}

.subtitle a:visited {
}

.subtitle a:hover, .subtitle a:active {
    text-decoration: none !important;
    color: black;
}

.highlight, a.highlight {
    color: blue !important;
}

.newWord, a.newWord {
    color: #f7b52a !important;
    font-weight: bold;
}

.script {
    cursor: pointer;
    display: inline-block;
}

.script:hover {
    /*background-color: #edc;*/
}

.header {
    background-color: #f7b52a;
}

.fixed {
    position: fixed;
    z-index: 1;
}

.video-wrapper > * {
    display: inline-block !important;
}