* {
    box-sizing: border-box;
    font-family: Arial, serif;
}

html, body {
    height: 100%;
}

.fluid {
    width: 100%;
}

.padded {
    padding: 16px;
}

.white.title {
    color: white;
    font-weight: bold;
    text-align: left;
}

.full.screen.container {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0;
}

.full.height.container {
    height: 100%;
}

.center.aligned.container {
    text-align: center;
    margin: 0 auto;
}

.left.aligned.container {
    text-align: left;
}

.white.background {
    background-color: white;
}

.light.yellow.background {
    background-color: #f7e6bd;
}

.center.column {
    width: 900px;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
}

.right.floated {
    float: right;
}

.avatar {
    border-radius: 50%;
    max-height: 30px;
}

.page.with-header {
    padding-top: 50px;
}

.fixed.header {
    position: fixed;
}

.page {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.bordered.segment {
    border: solid 1px #eee;
    border-bottom: solid 2px #ccc;
    margin: 10px 15px;
    padding: 0 20px 20px 20px;
}

.borderless.segment {
    margin: 10px 15px;
    padding: 0 20px 20px 20px;
}

.borderless.column {
    border: none !important;
}

.transparent {
    background: transparent;
}

span.space {
    width: 1em;
    display: inline-block;
}

.black {
    color: black;
}

.red {
    color: red;
}

.grid {
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 100%;
}

.middle.aligned.grid {
    align-items: center;
}

.top.aligned.grid {
    align-items: baseline;
}

.grid .row {
    width: auto;
}

.column img {
    max-width: 100%;
}

.grid .column {
    text-align: left;
}

.grid .column {

}

.one.wide.column {
    width: 6.25%;
}

.seven.wide.column {
    width: 43.75%;
}

.eight.wide.column {
    width: 50%;
}

.sixteen.wide.column {
    width: 100%;
}

.fluid {
    width: 100%;
}

.padded {
    padding: 16px;
}

.white.title {
    color: white;
    font-weight: bold;
    text-align: left;
}

.full.screen.container {
    width: 100%;
    /*height: 100%;*/
    margin: 0 0 0 0;
    padding: 0;
}

.center.aligned.container {
    text-align: center;
    margin: 0 auto;
}

.white.background {
    background-color: white;
}

.center.column {
    width: 900px;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
}

.right.floated {
    float: right;
}

.avatar {
    border-radius: 50%;
    max-height: 30px;
}

.page.with-header {
    padding-top: 50px;
}

.page {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.bordered.segment {
    border: solid 1px #eee;
    border-bottom: solid 2px #ccc;
    margin: 10px 15px;
    padding: 0 20px 20px 20px;
}

span.top.aligned {
    vertical-align: top;
}

span.middle.aligned {
    vertical-align: middle;
}