extends layout

mixin pair(key, value)
    div(style="margin:0 0 2em 0;")
        div.pair
            span.key #{key}
            span.value #{value}
            block

block js
    + js("/js/formModule.min.js")
    + js("/js/accountModule.min.js")
    + js("/js/educationModule.min.js")
    + js("/node_modules/angular-file-reader-module/dist/angular-file-reader.js")

block head
    + css("/public/css/button.min.css")
    + css("/public/css/modal.min.css")
    + css("/node_modules/cropper/dist/cropper.css")
    style.
        .pair {
            display: flex;
            flex-flow: row;
            color: #333;
            width: 100%;
        }

        .pair .key {
            background-color: #f5f5f5;
            display: block;
            padding: 0.5em 1.5em;
            flex-grow: 0.5;
            width: 6em;
            text-align: center;
        }

        .pair .value {
            border-bottom: solid 1px #eee;
            display: block;
            padding: 0.5em 1.5em 0.5em 3em;
            margin-left: 0.5em;
            flex-grow: 10;
        }

        .info-form .fluid.field > :first-child {
            background-color: transparent;
        }

        h2 {
            font-weight: normal;
            font-size: 1.1rem;
        }
        .preview>img{
            width:160px;
            height:100px;
            display: block;
            margin: 0 auto;
        }
        .choose-img{
            display: none;
        }

        .head-img{
            margin:0 auto;
            width:100px;
            height:100px;
            border-radius:50%;
            cursor:pointer;
            overflow:hidden;
            border:1px solid #f7b52a;
        }

block content
    #full-page.full.height.container(ng-app="accountModule", ng-controller="viewAccountCtrl")
        a.page-pos(name="page-1")
        .page.with-header.section.transparent
            .center.aligned.container.column.flex-box.white.background(style="padding-left: 50px; padding-right: 50px;")
                .row.dynamic
                    .account
                        h2.center.aligned
                            span(style="padding-left: 4em; padding-right: 4em; background-color: white; display: inline-block;") 我的信息
                            hr(style="margin-top: -0.7em; height: 1px; border: none; border-top: solid 1px #f7b52a; display: block;")
                        div.clear
                            button.linear.button.right.floated(ng-click="showModal('')") 编辑
                        br
                        .left.aligned.container
                            .head-img(ng-click="showModal('#head')")
                                img(src='http://upload.bridgeplus.cn/FpfgA6nojLQAcoXjEv7sHfrNlOVd-minor',style='width:100%;height:100%;')
                            + pair('姓名', '{{$root.profile.real_name}}')
                            + pair('性别', '{{displayGender}}')
                            + pair('年级', '{{info.displayGrade}}')
                            + pair('绑定手机', '{{$root.profile.mobile}}')
                                div
                                    button.linear.button(type="button", ng-click="showModal('#mobile')") 修改
                            + pair('喜欢主题', '{{info.topics[0]}}')
                            + pair('难度版本', '{{info.level}}')
        #my-info.mask(ng-controller="infoFormParentCtrl", ng-class="{'hide': hideModal, 'show': showModal}", ng-click="hideTheModal()")
            .popup(ng-click="keepModal($event)")
                .title
                    h3 我的信息
                .body
                    .center.aligned.container(style="padding-left: 150px; padding-right: 150px;",  ng-cloak)
                        include ../partial/info
                        + infoForm
                            .fluid.field
                                label.padded.select
                                    span 喜欢的主题
                                    select(ng-model="infoData.topics", placeholder="请选择你喜欢的主题", ng-required="false")
                                        option(ng-repeat="topic in topics", value="{{topic.key}}") {{topic.name}}
                            .fluid.field
                                label(style="border: none;")
                                    span 选择难度版本
                                    div(style="border-left: none;")
                                        input(type="radio", name="level", ng-model="infoData.level", value="B", id="basic", ng-required="true")
                                        label(for="basic") 基础（推荐3~4年级）
                                        br
                                        input(type="radio", name="level", ng-model="infoData.level", value="A", id="advanced", ng-required="true")
                                        label(for="advanced") 进阶（推荐5~9年级）
                            .field
                                br
                            .field
                                button.fluid.yellow.button(type="submit", ng-disabled="!infoForm.$valid") 保存我的信息

        #mobile.mask(ng-controller="mobileModalCtrl", ng-class="{'hide': hideModal, 'show': showModal}", ng-click="hideTheModal()")
            .popup(ng-click="keepModal($event)")
                .title
                    h3 修改手机号码
                .body(ng-controller="changeMobileCtrl")
                    .center.aligned.container(ng-cloak, style="padding-right: 120px; padding-left: 120px;")
                        include ../partial/mobile-form
                        + mobileForm
                            .field
                                button.fluid.yellow.button(type="submit", ng-disabled="!signUpForm.$valid") 确定
        #head.mask(ng-controller='headImgCtrl',ng-class="{'hide': hideModal, 'show': showModal}", ng-click="hideTheModal()")
            .popup(ng-click="keepModal($event)")
                .title
                    h3 上传头像
                form.head-form.body(name="headForm", ng-submit="uploadImg()")(style='min-height:200px;')
                    .center.aligned.container(style="padding-left: 150px; padding-right: 150px;",  ng-cloak)
                            span 选择图片 : &nbsp;
                            input(id='choose-image',type="file",name="photo",placeholder="选择图片",accept=".png,.gif,.jpeg,.jpg",style='cursor:pointer;',ng-src='{{files[0].name}}', onchange='angular.element(this).scope().fileChanged(this)')
                    .aligned.container(style="padding-left: 150px; padding-right: 150px;margin-top:20px;",  ng-cloak)
                        span 预览图片 :
                        .choose-img(style='width:50%;margin:0 auto;')
                            img(id="image-cut" src="/public/images/bee.png" alt="Picture")
                        .preview(style='width:100px;height:100px;over-flow:hidden;margin:0 auto;')
                        .field(style='margin-top:20px;')
                            button.fluid.yellow.button.img-choose-btn(type="submit", disabled='true') 确定
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='/node_modules/cropper/dist/cropper.js')
    script.
        var cutImage = function (id) {
            var $image = $(id);
            var minAspectRatio = 0.5;
            var maxAspectRatio = 1.5;

            $image.cropper({
                ready: function () {
                    var containerData = $image.cropper('getContainerData');
                    var cropBoxData = $image.cropper('getCropBoxData');
                    var aspectRatio = cropBoxData.width / cropBoxData.height;
                    var newCropBoxWidth;

                    if (aspectRatio < minAspectRatio || aspectRatio > maxAspectRatio) {
                        newCropBoxWidth = cropBoxData.height * ((minAspectRatio + maxAspectRatio) / 2);

                        $image.cropper('setCropBoxData', {
                            left: (containerData.width - newCropBoxWidth) / 2,
                            width: newCropBoxWidth
                        });
                    }
                },
                cropmove: function () {
                    var cropBoxData = $image.cropper('getCropBoxData');
                    var aspectRatio = cropBoxData.width / cropBoxData.height;

                    if (aspectRatio < minAspectRatio) {
                        $image.cropper('setCropBoxData', {
                            width: cropBoxData.height * minAspectRatio
                        });
                    } else if (aspectRatio > maxAspectRatio) {
                        $image.cropper('setCropBoxData', {
                            width: cropBoxData.height * maxAspectRatio
                        });
                    }
                }
            });
        };

        cutImage('#image-cut');

        function preview1(file) {
            var img = new Image(), url = img.src = URL.createObjectURL(file);
            img.width='100px';
            img.height='100px';
            var $img = $(img);
            console.log('进行preview方法');
            img.onload = function () {
                URL.revokeObjectURL(url);
                $('.preview').empty().append($img);
            }
        }

        $('#choose-image').change(function (e) {
                console.log('图片改变');
                var file = e.target.files[0];
                preview1(file);
                $('.img-choose-btn').removeAttr("disabled");
        });




