extends layout

mixin pair(key, value)
    div(style="margin: 2em 0;")
        div.pair
            span.key #{key}
            span.value #{value}

block js
    script(src="/js/accountModule.min.js")
    script(src="/js/educationModule.min.js")

block head
    link(rel="stylesheet", href="/public/css/button.min.css")
    link(rel="stylesheet", href="/public/css/modal.min.css")
    style.
        .pair {
            display: flex;
            flex-flow: row;
            color: #333;
            width: 100%;
        }

        .pair .key {
            background-color: #f5f5f5;
            display: block;
            padding: 0.5em 1.5em;
            flex-grow: 0.5;
            width: 6em;
            text-align: center;
        }

        .pair .value {
            border-bottom: solid 1px #eee;
            display: block;
            padding: 0.5em 1.5em 0.5em 3em;
            margin-left: 0.5em;
            flex-grow: 10;
        }

        .info-form .fluid.field > :first-child {
            background-color: transparent;
        }

block content
    #full-page.full.height.container(ng-app="accountModule")(ng-controller="viewAccountCtrl")
        a.page-pos(name="page-1")
        .page.with-header.section.transparent
            .center.aligned.container.column.flex-box.white.background(style="padding-left: 50px; padding-right: 50px;")
                .row.dynamic
                    .account
                        h2.center.aligned
                            span(style="padding-left: 4em; padding-right: 4em; background-color: white; display: inline-block;") 我的信息
                            hr(style="margin-top: -0.7em; height: 1px; border: none; border-top: solid 1px #f7b52a; display: block;")
                        div.clear
                            button.linear.button.right.floated(ng-click="showModal()") 编辑
                        br
                        .left.aligned.container
                            + pair('姓名', '{{$root.profile.real_name}}')
                            + pair('性别', '{{displayGender}}')
                            + pair('年级', '{{info.displayGrade}}')
                            + pair('绑定手机', '{{$root.profile.mobile}}')
                            + pair('喜欢主题', '{{info.topics[0]}}')
                            + pair('难度版本', '{{info.level}}')
        #my-info.mask(ng-controller="infoFormParentCtrl", ng-class="{'hide': hideModal, 'show': showModal}", ng-click="hideTheModal()")
            .popup(ng-click="keepModal($event)")
                .title
                    h3 我的信息
                .body
                    .center.aligned.container(style="padding-left: 150px; padding-right: 150px;",  ng-cloak)
                        include ../partial/info
                        + infoForm
                            .fluid.field
                                label.padded.select
                                    span 喜欢的主题
                                    select(ng-model="infoData.topics", placeholder="请选择你喜欢的主题", ng-required="false")
                                        option(ng-repeat="topic in topics", value="{{topic.key}}") {{topic.name}}
                            //.fluid.field
                                label
                                    span 绑定手机号
                                    input(type="text", placeholder="请输入手机号", ng-model="infoData.name", ng-required="true")
                            .fluid.field
                                label(style="border: none;")
                                    span 选择难度版本
                                    div(style="border-left: none;")
                                        input(type="radio", name="level", ng-model="infoData.level", value="B", id="basic", ng-required="true")
                                        label(for="basic") 基础（推荐3~4年级）
                                        br
                                        input(type="radio", name="level", ng-model="infoData.level", value="A", id="advanced", ng-required="true")
                                        label(for="advanced") 进阶（推荐5~9年级）
                            .field
                                br
                            .field
                                button.fluid.yellow.button(type="submit", ng-disabled="!infoForm.$valid") 保存我的信息