extends layout

block js
    script(src="/js/buzzHistoryModule.min.js")
    script(src="/js/level-ctrl.min.js")

block head
    style.
        body {
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat-x 0 0;
            background-size: contain;
            background-attachment: fixed;
        }

        .separate.title {
            color: #666;
        }

        .separate.title:before {
            content: ' ';
            display: inline-block;
            border-bottom: solid 1px black;
            width: 20%;
            margin-right: 3em;
            vertical-align: middle;
        }

        .separate.title:after {
            content: ' ';
            width: 20%;
            margin-left: 3em;
            display: inline-block;
            border-bottom: solid 1px black;
            vertical-align: middle;
        }

        #history-chart {
        }

        .clickable {
            cursor: pointer;
            max-width: 420px;
            display: inline-block;
            white-space: normal;
        }

        .categories .active {
            font-weight: bold;
        }

        .categories .active [class^="icon-"],
        .categories .active [class*=" icon-"] {
            color: #999 !important;
            font-weight: bold;
        }

        .tag {
            text-transform: lowercase;
            display: inline-block;
        }

        .tag:first-letter {
            text-transform: uppercase !important;
        }

block extraMenus
    include partials/level-switcher

block content
    full.height.container(ng-app="buzzHistoryModule", style="white-space: nowrap;")
        .page.with-header.section.transparent(style="overflow:visible;height:auto;min-height:100%;")
            .center.aligned.container.column.flex-box.white.background(style="padding-left: 50px; padding-right: 50px;",ng-controller="historyCtrl")
                br
                .container.left.aligned.categories(ng-controller="courseCategoryCtrl")
                    span(style="float: left; margin-right: 15px; margin-bottom: 10px;", ng-class="{'active': !currentCategory}")
                        span.icon-price-tags(style="color: #ccc;")
                        | &nbsp;
                        a(ng-href="?") [All]
                    span(ng-repeat="c in categories", style="float: left; margin-right: 15px; margin-bottom: 10px;", ng-class="{'active': currentCategory === c.category}")
                        span.icon-price-tag(style="color: #ccc;")
                        | &nbsp;
                        a.tag(ng-href="?category={{c.category}}") {{c.category}}
                .container(style="height:200px;margin-top:2em;margin-bottom:2em;",ng-repeat="lesson in courseList track by $index")
                    .left.clickable(style="display:inline-block;vertical-align:top;height:200px;",ng-click='aLikeClick("/my/play?date="+lesson.date+"&cat="+ lesson.category.toLowerCase()+"&level="+lesson.level)')
                        img(style="width:280px;height:200px",src="http://source.bridgeplus.cn/image/png/buzz-poster.png")
                    .right(style="display:inline-block;vertical-align:top;height:100%;text-align:left;height:200px;padding:1.4em;position:relative;border:1px solid grey")
                        .content
                            a.title.clickable(style="color:#f7b52a;margin-bottom:0.4em;font-weight:bold;")(ng-click='aLikeClick("/my/play?date="+lesson.date+"&cat="+ lesson.category.toLowerCase()+"&level="+lesson.level)') {{lesson.title}}
                            .time(style="font-size:12px;line-height:1.6em;margin-bottom:0.4em;") {{lesson.date}}
                            .summery(style="min-width:418px;") {{lesson.description}}
                        .tail(style="position:absolute;bottom:4px;width:435px;border-top: 1px dashed #bcbcbc;padding-top:1em;padding-bottom:1em;font-size:14px;")
                            .likeit(style="display:inline-block;")
                                i.icon-heart(style="color:red;margin-right:0.4em;")
                                span(style="color:red;margin-right:0.4em;") {{lesson.baseNumber}}
                                span 人参加了本节课程
                            .reviewbtn.clickable(style="display:inline-block;position:absolute;right:0px;padding-top:0.4em;padding-bottom:0.4em;padding-left:0.8em;padding-right:0.8em;background-color:#f7b52a;color:white;font-size:14px;",ng-click='aLikeClick("/my/play?date="+lesson.date+"&cat="+ lesson.category.toLowerCase()+"&level="+lesson.level)')
                                | 课程回顾
                