extends layout

block js
    + js("/js/buzzHistoryModule.min.js")
    + js("/js/level-ctrl.min.js")

block head
    + css('/public/css/pagination.min.css')
    + css('/public/css/semantic-ui/semantic.min.css')
    style.
        body {
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat-x 0 0;
            background-size: contain;
            background-attachment: fixed;
        }

        .separate.title {
            color: #666;
        }

        .separate.title:before {
            content: ' ';
            display: inline-block;
            border-bottom: solid 1px black;
            width: 20%;
            margin-right: 3em;
            vertical-align: middle;
        }

        .separate.title:after {
            content: ' ';
            width: 20%;
            margin-left: 3em;
            display: inline-block;
            border-bottom: solid 1px black;
            vertical-align: middle;
        }

        #history-chart {
        }

        .clickable {
            cursor: pointer;
            max-width: 420px;
            display: inline-block;
            white-space: normal;
        }

        .categories .active {
            font-weight: bold;
        }

        .categories .active [class^="icon-"],
        .categories .active [class*=" icon-"] {
            color: #999 !important;
            font-weight: bold;
        }

        .tag {
            text-transform: lowercase;
            display: inline-block;
        }

        .tag:first-letter {
            text-transform: uppercase !important;
        }

block extraMenus
    include partials/level-switcher

block content
    #full-page.full.height.container(ng-app="buzzHistoryModule", style="white-space: nowrap;", ng-cloak)
        .page.with-header.section.transparent
            .center.aligned.container.column.flex-box.white.background(style="padding-left: 50px; padding-right: 50px; overflow: auto;",ng-controller="historyCtrl")
                .row.dynamic
                    br
                    .container.left.aligned.categories(ng-controller="courseCategoryCtrl")
                        span(style="float: left; margin-right: 15px; margin-bottom: 10px;", ng-class="{'active': !currentCategory}")
                            span.icon-price-tags(style="color: #ccc;")
                            | &nbsp;
                            a(ng-href="?") [All]
                        span(ng-repeat="c in categories", style="float: left; margin-right: 15px; margin-bottom: 10px;", ng-class="{'active': currentCategory === c.category}")
                            span.icon-price-tag(style="color: #ccc;")
                            | &nbsp;
                            a.tag(ng-href="?category={{c.category}}") {{c.category}}
                        div.clear.float
                    .ui.container
                        .ui.grid(style='margin:0 !important;')
                             .row(ng-repeat="lesson in courseList track by $index")
                                 .six.wide.column(ng-click='aLikeClick("/my/play?date="+lesson.date+"&cat="+ lesson.category.toLowerCase()+"&level="+lesson.level)', ng-cloak)
                                     img(style="width:100%; cursor:pointer;",ng-src="{{lesson.image}}")
                                 .ten.wide.column
                                     .ui.card(style='height:95%;width:100%;')
                                         .content(style='font-size:1em;')
                                             .meta
                                                 span.date(ng-cloak) {{lesson.date}}
                                             .description(style='color: #f7b52a; font-weight:bold; cursor:pointer; white-space: normal;', ng-click='aLikeClick("/my/play?date="+lesson.date+"&cat="+ lesson.category.toLowerCase()+"&level="+lesson.level)', ng-cloak) {{lesson.title}}
                                         .extra.content
                                             a
                                                 i.icon-heart(style='color:red;')
                                                 span(ng-click='aLikeClick("/my/play?date="+lesson.date+"&cat="+ lesson.category.toLowerCase()+"&level="+lesson.level)', ng-cloak) &nbsp;&nbsp;&nbsp;{{lesson.baseNumber}}人参加了本节课程
                    br
                    include ../../node_modules/angular-service/views/pagination
                    + pagination('courseData')
