extends layout

block js
    script(src="/js/buzzHistoryModule.js")

block head
    style.
        body {
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat-x 0 0;
            background-size: contain;
            background-attachment: fixed;
        }

        .separate.title {
            color: #666;
        }

        .separate.title:before {
            content: ' ';
            display: inline-block;
            border-bottom: solid 1px black;
            width: 20%;
            margin-right: 3em;
            vertical-align: middle;
        }

        .separate.title:after {
            content: ' ';
            width: 20%;
            margin-left: 3em;
            display: inline-block;
            border-bottom: solid 1px black;
            vertical-align: middle;
        }

        #history-chart {
        }

        .clickable {
            cursor: pointer;
        }

block content
    full.height.container(ng-app="buzzHistoryModule")
        .page.with-header.section.transparent(style="overflow:visible;height:auto;min-height:100%;")
            .center.aligned.container.column.flex-box.white.background(style="padding-left: 50px; padding-right: 50px;",ng-controller="historyCtrl")
                p
                    span Level:
                    a &nbsp;&nbsp;
                    a(href="?level=B", ng-style="level === 'B' && {'font-weight': 'bold'}") Basic
                    a &nbsp;&nbsp;
                    a(href="?level=A", ng-style="level === 'A' && {'font-weight': 'bold'}") Advanced
                .container(style="height:200px;margin-top:2em;margin-bottom:2em;",ng-repeat="lesson in courseList track by $index")
                    .left.clickable(style="display:inline-block;vertical-align:top;height:200px;",ng-click='aLikeClick("/my/play?date="+lesson+"&cat=science&level=B")')
                        img(style="width:280px;height:200px",src="http://source.bridgeplus.cn/image/png/buzz-poster.png")
                    .right(style="display:inline-block;vertical-align:top;height:100%;text-align:left;height:200px;padding:1.4em;position:relative;border:1px solid grey")
                        .content
                            a.title.clickable(style="color:#f7b52a;margin-bottom:0.4em;font-weight:bold;")(ng-click='aLikeClick("/my/play?date="+lesson+"&cat=science&level=B")') {{courseInfo[lesson].title}}
                            .time(style="font-size:12px;line-height:1.6em;margin-bottom:0.4em;") {{courseInfo[lesson].date}}
                            .summery(style="min-width:418px;") {{courseInfo[lesson].description}}
                        .tail(style="position:absolute;bottom:4px;width:435px;border-top: 1px dashed #bcbcbc;padding-top:1em;padding-bottom:1em;font-size:14px;")
                            .likeit(style="display:inline-block;")
                                i.icon-heart(style="color:red;margin-right:0.4em;")
                                span(style="color:red;margin-right:0.4em;") {{courseInfo[lesson].numberliked}}
                                span 人参加了本节课程
                            .reviewbtn.clickable(style="display:inline-block;position:absolute;right:0px;padding-top:0.4em;padding-bottom:0.4em;padding-left:0.8em;padding-right:0.8em;background-color:#f7b52a;color:white;font-size:14px;",ng-click='aLikeClick("/my/play?date="+lesson+"&cat=science&level=B")')
                                | 课程回顾
                