doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        link(rel="stylesheet", href="/public/css/player.css")
        link(rel="stylesheet", href="/public/css/player-layout.css")
        link(rel="stylesheet", href="/public/css/horizontal-menu.css")
        link(rel="stylesheet", href="/public/css/flex-box.css")
        link(rel="stylesheet", href="/public/css/media-query.css")
        link(rel="stylesheet", href="/public/css/my/layout.css")
        title=title || 'Buzz English'
        block head
    body.full.screen.container
        #buzz-header.fluid.container.header.fixed(ng-controller="headerCtrl")
            .center.aligned.container.column.borderless
                ul.large.right.floated.white.horizontal.menu
                    block extraMenus
                    li(ng-class="{'active': isActive('/my/history')}")
                        a.middle.aligned.icon-history(title="历史课程", href="/my/history")
                    li(ng-class="{'active': isActive('/my/progress')}")
                        a.middle.aligned.icon-stats-bars(title="学习进度", href="/my/progress")
                    li(ng-class="{'active': isActive('/vocabulary/my')}")
                        a.middle.aligned.icon-file-text(title="生词本",href="/vocabulary/my")
                    li
                        img.middle.aligned.avatar(ng-src="{{profile.avatar}}", ng-if="profile.avatar")
                        a.middle.aligned(ng-if="!profile.avatar") 欢迎你
                        ul.sub.vertical.menu
                            li
                                a(href="/sign-out") 退出
                .white.title
                    a(href="/")
                        img.white.background.logo(src="/images/logo1.png")
                    span.space
                    span.top.aligned.welcome.message(style="position: absolute;") Hello {{profile.display_name}}, welcome to Buzzbuzz English show.
        block content
        include ../js
        script(src="/js/buzzHeaderModule.js")
        script.
            angular.element(document).ready(function () {
                angular.bootstrap(document.getElementById('buzz-header'), ['buzzHeaderModule']);
            });
        block js