doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        link(rel="stylesheet", href="/public/css/player.css")
        link(rel="stylesheet", href="/public/css/player-layout.css")
        link(rel="stylesheet", href="/public/css/horizontal-menu.css")
        link(rel="stylesheet", href="/public/css/flex-box.css")
        link(rel="stylesheet", href="/public/css/media-query.css")
        link(rel="stylesheet", href="/public/css/my/layout.css")
        title=title || 'Buzz English'
        block head
    body.full.screen.container
        include header
        block content
        include ../js
        script(src="/js/buzzHeaderModule.js")
        script.
            angular.element(document).ready(function () {
                angular.bootstrap(document.getElementById('buzz-header'), ['buzzHeaderModule']);
            });
        block js