include ../share/common

doctype html
html(manifest="/buzz.appcache")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        meta(name="keywords", content="Buzz、Buzzbuzz、buzz、English、children english")
        meta(name="description", content=" 每天15分钟,学英语读世界！")
        include ../meta
        + css("/public/css/flex-box.min.css")
        + css("/public/css/lib/cube.min.css")
        title=title || 'Buzzbuzz English'
        block head
    body.full.screen.container
        #buzz-header.fluid.container.header.fixed(ng-controller="headerCtrl")
            .center.aligned.container.column.borderless
                ul.large.right.floated.white.horizontal.menu
                    block extraMenus
                    li(ng-class="{'active': isActive('/my/history')}")
                        a.middle.aligned.icon-history(title="历史课程", href="/my/history")
                    li(ng-class="{'active': isActive('/my/progress')}")
                        a.middle.aligned.icon-stats-bars(title="学习进度", href="/my/progress")
                    li(ng-class="{'active': isActive('/vocabulary/my')}")
                        a.middle.aligned.icon-file-text(title="生词本",href="/vocabulary/my")
                    li#headportrait
                        img.middle.aligned.avatar(ng-src="{{profile.avatar}}", ng-if="profile.avatar", ng-cloak)
                        img.payingmember(src='/images/v.png',ng-show="payingMember" ng-cloak) 
                        a.middle.aligned(ng-if="!profile.avatar",href="/sign-in", ng-cloak) 请登录
                        ul.sub.vertical.menu(ng-if="profile.avatar")
                            li
                                a(href="/my/account") 账号信息
                            li
                                a(href="/my/password") 修改密码
                            li
                                a(href="/sign-out") 退出
                .white.title
                    a(href="/")
                        img.white.background.logo(src="http://resource.buzzbuzzenglish.com/new_buzz_logo.png")
                    span.space
                    span.top.aligned.welcome.message(style="position: absolute;",ng-cloak) Hello {{profile.display_name}}, welcome to Buzzbuzz English.
        block content
        include ../js
        + js("/js/buzzHeaderModule.min.js")
        script.
            angular.element(document).ready(function () {
                angular.bootstrap(document.getElementById('buzz-header'), ['buzzHeaderModule']);
            });
        block js