extends layout

block js
    + js("/js/passwordModule.min.js")

block head
    + css("/public/css/button.min.css")
    style.
        .change-password-form .fluid.field > :first-child {
            background-color: transparent;
        }

        h2 {
            font-weight: normal;
            font-size: 1.1rem;
        }

        .field label span {white-space: nowrap;}

        .field label input {max-width: 200px;}

block content
    #full-page.full.height.container(ng-app="passwordModule")
        a.page-pos(name="page-1")
        .page.with-header.section.transparent
            .center.aligned.container.column.flex-box.white.background(style="padding-left: 50px; padding-right: 50px;")
                .row.dynamic
                    form.change-password-form.text-label.loose(name="changePasswordForm", ng-controller="changePasswordCtrl", ng-submit="changePassword()", style="min-width: 250px;", ng-cloak)
                        .ui.horizontal.divider
                        h2.center.aligned
                            span(style="padding-left: 4em; padding-right: 4em; background-color: white; display: inline-block;") 修改密码
                            hr(style="margin-top: -0.7em; height: 1px; border: none; border-top: solid 1px #f7b52a; display: block;")
                        .center.aligned.container(style="max-width: 350px;")
                            br
                            br
                            include ../partial/formMessage
                            .fluid.field
                                label
                                    span.right.aligned 当前密码：
                                    input(type="password", placeholder="请输入原登录密码", ng-model="data.currentPassword", ng-required="true")
                            .fluid.field
                                label
                                    span.right.aligned 新密码：
                                    input(type="password", placeholder="请输入新登录密码", ng-model="data.password", ng-required="true", minlength="6")
                            .fluid.field
                                label
                                    span.right.aligned 确认新密码：
                                    input(type="password", placeholder="请再次输入新登录密码", ng-model="data.password2", ng-required="true", minlength="6")
                            .field
                                button.fluid.yellow.button(type="submit", ng-disabled="!changePasswordForm.$valid") 完成