include ../share/common

+ js("/node_modules/angular/angular.min.js")
+ js("/node_modules/angular-query-parser-module/dist/scripts/all.min.js")
+ js("/public/lib/jwplayer/jwplayer.js")
+ js("/public/js/serviceCacheCoreModule.min.js")
+ js("/public/js/parserModule.min.js")
+ js("/public/js/videoParserModule.min.js")
+ js("/public/js/buzzPlayerModule.min.js")