extends layout

block js
    + js("/node_modules/quiz-adapter/main.js")
    + js('/js/parserModule.min.js')
    + js("/js/quizModule.min.js")
    + js("/js/DateModule.min.js")
    + js("/js/buzzModule.min.js")
    + js("/js/buzzModule/quizCtrl.min.js")
    + js("/js/buzzModule/newWordCtrl.min.js")
    + js("/js/buzzModule/weeklyQuizCtrl.min.js")
    + js("/lib/jwplayer/jwplayer.js")
    script.
        jwplayer.key = 'lG24bAGJCRLF1gi4kajg4EnUKi+ujyUyKMoSNA==';
    + js("/js/level-ctrl.min.js")
    + js("/js/full-page.min.js")

block head
    + css("/public/css/modal.min.css")
    + css("/public/css/button.min.css")
    style.
        body {
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat 0 0;
            background-size: cover;
            background-attachment: fixed;
        }

        a {
            text-decoration: none;
        }

        .weekly-grade {
            width: 90%;
            margin: 30px auto;
            border: 1px solid #bbb;
            border-radius: 2px;
            padding: 20px 0;
        }

        .grade-title {
            min-height: 40px;
            line-height: 40px;
            text-align: center;
            width: 80%;
            margin: 10px auto;
        }

        .grade-body {
            width: 80%;
            display: flex;
            margin: 25px auto;
            justify-content: space-between;
        }

        .grade-body > div {
            border: 1px solid #bbb;
            border-radius: 2px;
        }

        .grade-body .course {
            padding: 1em 5%;
            width: 30%;
        }

        .course .title {
            text-align: left;
        }

        .course .span {
            color: red;
            font-size: 3em;
            padding: 1em 0;
            font-weight: 100;
        }

        .grade-body .content {
            width: 65%;
        }

        .grade-body .content > .title {
            font-weight: bold;
        }

        .grade-body .content > div {
            height: 2em;
            line-height: 2em;
            width: 100%;
            border-bottom: 1px solid #bbb;
            padding: 0;
            margin: 0;
        }

        .progress {
            margin: 20px;
            width: 87%;
        }

        .progress > span {
            width: 10%;
        }

        .progress > .percent {
            display: inline-block;
            width: 85%;
            padding: 0;
            margin: 0 0 0 3%;
            background-color: rgba(249, 182, 0, .5);
            height: 100%;
        }

        .progress > .percent > .tab {
            height: 100%;
            background-color: rgb(249, 182, 0);
        }

        .exercise-container > div {
            padding: 0;
            margin: 0;
            display: inline-block;
        }

        .exercise-container {
            position: relative;
        }

        .exercise-container > .right.arrow {
            position: absolute;
            top: 40%;
        }

        .detail > div {
            display: inline-block;
            width: 25%;
            text-align: center;
        }

block extraMenus
    include partials/level-switcher

block content
    #full-page.full.height.container(ng-app="buzzModule", ng-controller="UpdateHitsCtrl")
        a.page-pos(name="page-1")
        .page.with-header.section.transparent
            .center.aligned.container.column.flex-box.transparent
                iframe.row.content.white.background(ng-src="{{src}}" ng-controller="VideoPlayerCtrl", style="border:none; width: 100%;", allowfullscreen)
                #page-2-header.center.aligned.container.column.white.background.row.dynamic
                    .tabular.menu
                        .item.middle(ng-class="{'active': $root.tabularIndex===1}", ng-click="$root.tabularIndex=1")
                            span.icon.icon-list2
                            span Today's Vocabulary
                        .item(ng-class="{'active': $root.tabularIndex===2}", ng-click="$root.tabularIndex=2")
                            span.icon.icon-list2
                            span Daily Exercise
                        .item(ng-class="{'active': $root.tabularIndex===3}", ng-click="$root.tabularIndex=3", ng-show="showWeeklyQuiz", ng-controller="weeklyQuizTabCtrl", ng-cloak)
                            span.icon.icon-list2
                            span Weekly Quiz
        a.page-pos(name="page-2")
        .page.section.flex-box.scrolly(ng-controller="page2ParentCtrl")
            .center.aligned.container.column.white.background.row.content
                .tabular.content
                    include partials/vocabulary
                    .item(ng-show="$root.tabularIndex===2",ng-controller="quizCtrl")
                        .statusbar
                            .status(ng-repeat="quiz in quizzes track by $index",ng-class="{'active': $index==quizIndex, 'pass': $index<quizIndex&&quiz.status===STATUS.P,'fail': $index<quizIndex&&quiz.status===STATUS.F}",ng-click="itemClick($index)")
                                i.icon-checkmark(ng-show="$index<quizIndex&&quiz.status===STATUS.P")
                                i.icon-cross(ng-show="$index<quizIndex&&quiz.status===STATUS.F")
                                span(ng-show="$index>=quizIndex||quiz.status===STATUS.U") {{$index+1}}
                        .left.arrow(ng-click="turnQuiz(false)",ng-class="{'hidden':quizIndex===0}")
                            span.icon-circle-left
                        .exercise.container.cube(ng-class="{'init': initStatus==='true', 'rtom':animateDirection==='rtom','ltom':animateDirection==='ltom','side-a':currentID==='quiz-1', 'side-b':currentID==='quiz-2', 'lock':!actionLock}")
                            .cube-side.side-a
                                iframe(id="quiz-1",frameborder="0",style="width: 100%;height: 100%")
                            .cube-side.side-b
                                iframe(id="quiz-2",frameborder="0",style="width: 100%;height: 100%")
                        .right.arrow(ng-click="turnQuiz(true)",ng-class="{'hidden':quizIndex>=quizLimit}")
                            span.icon-circle-right
                    include partials/weekly-quiz
        include ../partial/ask-for-login-modal
        #audit-modal.dark.mask(ng-controller="auditModalCtrl", ng-class="{'hide': hideModal, 'show': showModal}", ng-click=(hcd_user && hcd_user.isAdmin) + ' ? hideTheModal() :""')
            .popup(style="padding: 1em 2em;")
                h1 当前课程正在审核中，请稍后再来哦……