extends layout

block js
    + js('/js/parserModule.min.js')
    + js("/js/quizModule.min.js")
    + js("/js/DateModule.min.js")
    + js("/js/buzzModule.min.js")
    + js("/js/buzzModule/quizCtrl.min.js")
    + js("/js/buzzModule/newWordCtrl.min.js")
    + js("/js/buzzModule/weeklyQuizCtrl.min.js")
    + js("/lib/jwplayer/jwplayer.js")
    script.
        jwplayer.key = 'lG24bAGJCRLF1gi4kajg4EnUKi+ujyUyKMoSNA==';
    + js("/js/level-ctrl.min.js")
    + js("/js/full-page.min.js")
    + js("/node_modules/jquery/dist/jquery.min.js")
    + js("/public/css/semantic-ui/semantic.min.js")

block head
    + css("/public/css/modal.min.css")
    + css("/public/css/button.min.css")
    + css("/public/css/semantic-ui/semantic.min.css")
    + css("/public/css/play.min.css")
    + css("/public/css/player.min.css", true)
    + css("/public/css/fixed-ratio.min.css")


block extraMenus
    include partials/level-switcher

block content
    #full-page.full.height.container(ng-app="buzzModule", ng-controller="UpdateHitsCtrl")
        a.page-pos(name="page-1")
        .page.with-header.section.transparent
            .center.aligned.container.column.flex-box.transparent(style='position: relative;')
                include ../partial/loading
                include ../partial/survey-pc
                iframe.row.content.white.background(id='mobile-video-iframe', ng-src="{{src}}" ng-controller="VideoPlayerCtrl", style="border:none; width: 100%; display: none;", allowfullscreen)
                #page-2-header.center.aligned.container.column.white.background.row.dynamic
                    .tabular.menu
                        .item.middle(ng-class="{'active': $root.tabularIndex===1}", ng-click="$root.tabularIndex=1")
                            span.icon.icon-list2
                            span Today's Vocabulary
                        .item(ng-class="{'active': $root.tabularIndex===2}", ng-click="$root.tabularIndex=2")
                            span.icon.icon-list2
                            span Daily Exercise
                        .item(ng-class="{'active': $root.tabularIndex===3}", ng-click="$root.tabularIndex=3", ng-show="showWeeklyQuiz", ng-controller="weeklyQuizTabCtrl", ng-cloak)
                            span.icon.icon-list2
                            span Weekly Quiz
        a.page-pos(name="page-2")
        .page.section.flex-box.scrolly(ng-controller="page2ParentCtrl")
            .center.aligned.container.column.white.background.row.content
                .tabular.content
                    include partials/vocabulary
                    include partials/daily-exercise
                    include partials/weekly-quiz
        .sidebar.sidebar-right(ng-show="$scope.award === false", ng-cloak)
            .scrollable
                button.scrollable-header.app-name  打赏
        #audit-modal.dark.mask(ng-controller="auditModalCtrl", ng-class="{'hide': " + (!!hcd_user && hcd_user.isAdmin) + " || hideModal, 'show': showModal}", ng-click=(hcd_user && hcd_user.isAdmin) + ' ? hideTheModal() :""')
        include ../partial/ask-for-login-modal
            .popup(style="padding: 1em 2em;")
                h1 当前课程正在审核中，请稍后再来哦……
        #paying-modal.dark.mask(ng-controller="payingModalCtrl", ng-class="{'hide': hideModal, 'show': showModal}", ng-click=(hcd_user && hcd_user.isAdmin) + ' ? hideTheModal() : ""')
            .popup(style="padding: 1em 2em;")
                h1 你无权查看本课程……