extends layout

block js
    + js("/node_modules/quiz-adapter/main.js")
    + js('/js/parserModule.min.js')
    + js("/js/quizModule.min.js")
    + js("/js/dateModule.min.js")
    + js("/js/buzzModule.min.js")
    + js("/lib/jwplayer/jwplayer.js")
    script.
        jwplayer.key = 'lG24bAGJCRLF1gi4kajg4EnUKi+ujyUyKMoSNA==';
    + js("/js/level-ctrl.min.js")
    + js("/js/full-page.min.js")

block head
    + css("/public/css/modal.min.css")
    + css("/public/css/button.min.css")
    style.
        body {
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat 0 0;
            background-size: cover;
            background-attachment: fixed;
        }

block extraMenus
    include partials/level-switcher

block content
    #full-page.full.height.container(ng-app="buzzModule", ng-controller="UpdateHitsCtrl")
        a.page-pos(name="page-1")
        .page.with-header.section.transparent
            .center.aligned.container.column.flex-box.transparent
                iframe.row.content.white.background(ng-src="{{src}}" ng-controller="VideoPlayerCtrl", style="border:none; width: 100%;", allowfullscreen)
                #page-2-header.center.aligned.container.column.white.background.row.dynamic
                    .tabular.menu
                        .item.middle(ng-class="{'active': $root.tabularIndex===1}", ng-click="$root.tabularIndex=1")
                            span.icon.icon-list2
                            span Today's Vocabulary
                        .item(ng-class="{'active': $root.tabularIndex===2}", ng-click="$root.tabularIndex=2")
                            span.icon.icon-list2
                            span Daily Exercise
                        .item(ng-class="{'active': $root.tabularIndex===3}", ng-click="$root.tabularIndex=3", ng-show="showWeeklyQuiz", ng-controller="weeklyQuizTabCtrl", ng-cloak)
                            span.icon.icon-list2
                            span Weekly Quiz
        a.page-pos(name="page-2")
        .page.section.flex-box.scrolly(ng-controller="page2ParentCtrl")
            .center.aligned.container.column.white.background.row.content
                .tabular.content
                    .item(ng-show="$root.tabularIndex===1",ng-controller="newWordCtrl",style="position:relative;")
                        .statusbar
                            .status(ng-repeat="word in newWords track by $index",ng-class="{'active': $index==wordIndex, 'pass': $index<wordIndex&&word.status===STATUS.P,'fail': $index<wordIndex&&word.status===STATUS.F}",ng-click="itemClick($index)")
                                i.icon-checkmark(ng-show="$index<wordIndex&&word.status===STATUS.P")
                                i.icon-cross(ng-show="$index<wordIndex&&word.status===STATUS.F")
                                span(ng-show="$index>=wordIndex||word.status===STATUS.U") {{$index+1}}
                        div(style="position:absolute;top:0px;left:20px;")
                            div(style="display:inline-block;height:40px;text-align:left;")
                                .button(ng-show="isWordMode&&hasWordMode",ng-click="changeWordMode(false)",style="background-color:white;padding: 5px 10px 5px 40px;border:2px solid #f7b52a;position:relative;box-shadow:2px 2px 2px #f7b52a;")
                                    img(src="/images/bee.png",style="position:absolute;left:-15px;top:-25px;")
                                    span(style="color:black") 进入练习
                                .button(ng-show="!isWordMode&&hasWordMode",ng-click="changeWordMode(true)",style="background-color:white;padding: 5px 10px 5px 40px;border:2px solid #f7b52a;position:relative;box-shadow:2px 2px 2px #f7b52a;")
                                    img(src="/images/bee.png",style="position:absolute;left:-15px;top:-25px;")
                                    span(style="color:black") 显示词汇
                        .left.arrow(ng-click="turnWord(false)",ng-class="{'hidden':wordIndex===0}")
                            span.icon-circle-left
                        .vocabulary.container.cube(ng-class="{'init': initStatus==='true', 'rtom':animateDirection==='rtom','ltom':animateDirection==='ltom','ttom':animateDirection==='ttom','btom':animateDirection==='btom','side-a':currentID==='word-1', 'side-b':currentID==='word-2', 'lock':!actionLock}")
                            .cube-side.side-a
                                iframe(id="word-1",frameborder="0",style="width: 100%;height: 100%")
                            .cube-side.side-b
                                iframe(id="word-2",frameborder="0",style="width: 100%;height: 100%")
                        .right.arrow(ng-click="turnWord(true)",ng-class="{'hidden':wordIndex>=WORD_MAX_INDEX}")
                            span.icon-circle-right
                    .item(ng-show="$root.tabularIndex===2",ng-controller="quizCtrl")
                        .statusbar
                            .status(ng-repeat="quiz in quizzes track by $index",ng-class="{'active': $index==quizIndex, 'pass': $index<quizIndex&&quiz.status===STATUS.P,'fail': $index<quizIndex&&quiz.status===STATUS.F}",ng-click="itemClick($index)")
                                i.icon-checkmark(ng-show="$index<quizIndex&&quiz.status===STATUS.P")
                                i.icon-cross(ng-show="$index<quizIndex&&quiz.status===STATUS.F")
                                span(ng-show="$index>=quizIndex||quiz.status===STATUS.U") {{$index+1}}
                        .left.arrow(ng-click="turnQuiz(false)",ng-class="{'hidden':quizIndex===0}")
                            span.icon-circle-left
                        .exercise.container.cube(ng-class="{'init': initStatus==='true', 'rtom':animateDirection==='rtom','ltom':animateDirection==='ltom','side-a':currentID==='quiz-1', 'side-b':currentID==='quiz-2', 'lock':!actionLock}")
                            .cube-side.side-a
                                iframe(id="quiz-1",frameborder="0",style="width: 100%;height: 100%")
                            .cube-side.side-b
                                iframe(id="quiz-2",frameborder="0",style="width: 100%;height: 100%")
                        .right.arrow(ng-click="turnQuiz(true)",ng-class="{'hidden':quizIndex>=quizLimit}")
                            span.icon-circle-right
                    .item(ng-show="$root.tabularIndex===3", ng-controller="weeklyQuizCtrl")
                        .exercise.container.cube()
                            .cube-side.side-a
                                iframe(id="weekly-quiz-1", frameborder="0", style="width: 100%; height: 100%;")
        include ../partial/ask-for-login-modal
        #audit-modal.dark.mask(ng-controller="auditModalCtrl", ng-class="{'hide': hideModal, 'show': showModal}", ng-click=(hcd_user && hcd_user.isAdmin) + ' ? hideTheModal() : ""')
            .popup(style="padding: 1em 2em;")
                h1 当前课程正在审核中，请稍后再来哦……