extends layout

block js
    + js("/node_modules/chart.js/dist/Chart.js")
    + js("/node_modules/angular-chart.js/dist/angular-chart.min.js")
    + js("/js/quizModule.min.js")
    + js("/js/DateModule.min.js")
    + js("/node_modules/moment/min/moment.min.js")
    + js("/js/buzzProgressModule.min.js")

block head
    + css("/public/css/progress-table.min.css")
    style.
        body {
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat-x 0 0;
            background-size: contain;
            background-attachment: fixed;
        }

        .separate.title {
            color: #666;
        }

        .separate.title:before {
            content: ' ';
            display: inline-block;
            border-bottom: solid 1px black;
            width: 20%;
            margin-right: 3em;
            vertical-align: middle;
        }

        .separate.title:after {
            content: ' ';
            width:20%;
            margin-left: 3em;
            display: inline-block;
            border-bottom: solid 1px black;
            vertical-align: middle;
        }

        #history-chart {
        }

        .page {
            min-height: 800px;
        }

block content
    #full-page.full.height.container(ng-app="buzzProgressModule", ng-controller="calendarParentCtrl")
        a.page-pos(name="page-1")
        .page.with-header.section.transparent
            .center.aligned.container.column.flex-box.white.background(style="padding-left: 50px; padding-right: 50px;")
                .row.dynamic
                    p.left.aligned 每月打卡
                    ul.right.floated.horizontal.menu.non-interactive
                        li
                            img.middle.aligned(ng-src="http://source.bridgeplus.cn/image/png/%E5%AD%A6%E4%B9%A0%E8%BF%9B%E5%BA%A6_06.png")
                            span.middle.aligned
                            div 好棒！练习全对&nbsp;&nbsp;
                        li(style="margin-left: 1.5em; margin-right: 1.5em;")
                            img.middle.aligned(ng-src="http://source.bridgeplus.cn/image/png/%E5%AD%A6%E4%B9%A0%E8%BF%9B%E5%BA%A6_10.png")
                            span.middle.aligned
                            div 有错误，继续努力&nbsp;&nbsp;
                        li
                            img.middle.aligned(ng-src="http://source.bridgeplus.cn/image/png/%E5%AD%A6%E4%B9%A0%E8%BF%9B%E5%BA%A6_13.png")
                            div 练习未做
                    ul.left.floated.horizontal.menu.non-interactive
                        li.middle.aligned.all
                            div &nbsp;
                            img(ng-src="http://source.bridgeplus.cn/image/png/%E5%AD%A6%E4%B9%A0%E8%BF%9B%E5%BA%A6_19.png")
                            span.space
                            span {{totalScore}}分
                            span.space
                            span.space
                        li.middle.aligned.all
                            div &nbsp;
                            img(ng-src="http://source.bridgeplus.cn/image/png/%E5%AD%A6%E4%B9%A0%E8%BF%9B%E5%BA%A6_16.png")
                            span.space
                            span 16个
                    div.clear.float
                    include calendar

        a.page-pos(name="page-2")
        .page.with-header.section.transparent
            .center.aligned.container.column.flex-box.white.background(style="padding-left: 50px; padding-right: 50px;")
                .row.dynamic
                    p.left.aligned 本周进度
                    table.progress.table
                        thead
                            tr
                                th 练习全对
                                th 练习有错
                                th 系统排名
                        tbody
                            tr
                                td
                                    + goodPerformance(ng-repeat="i in [].constructor(weekPerformance.good) track by $index",ng-show='weekPerformance.good<=7',ng-cloak)
                                    .lg(ng-show='weekPerformance.good>7',ng-cloak)
                                        span {{weekPerformance.good}}
                                        + goodPerformance
                                td
                                    + badPerformance(ng-repeat="i in [].constructor(weekPerformance.bad) track by $index",ng-show='weekPerformance.bad<=7',ng-cloak)
                                    .lg(ng-show='weekPerformance.bad>7',ng-cloak)
                                        span {{weekPerformance.bad}}
                                        + badPerformance
                                td  {{rank||12}}
                .row.content(ng-controller="pcChartCtrl")
                    p &nbsp;
                    p &nbsp;
                    p.left.aligned 历史成绩
                    p.separate.title
                        span 你累计学习多少单词
                    canvas#history-chart.chart.chart-bar(chart-data="data", chart-labels="labels", chart-series="series", chart-options="options" chart-dataset-override="datasetOverride",chart-colors="colors")
                    p &nbsp;
                    p &nbsp;