extends layout

block js
    + js("/node_modules/chart.js/dist/Chart.js")
    + js("/node_modules/angular-chart.js/dist/angular-chart.min.js")
    + js("/js/quizModule.min.js")
    + js("/js/DateModule.min.js")
    + js("/node_modules/moment/min/moment.min.js")
    + js("/js/buzzProgressModule.min.js")
    + js("/js/level-ctrl.min.js")

block head
    + css("/public/css/progress-table.min.css")
    + css("/public/css/semantic-ui/semantic.min.css")
    style.
        body {
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat-x 0 0;
            background-size: contain;
            background-attachment: fixed;
            font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .ui.grid{
            margin:0;
        }

        .fix-head {
            padding-left: 1em;
            padding-bottom: 1em;
            font-weight: bold;
        }

        .white-center {
            background-color: white;
        }

        .table-center {
            display: table;
            margin: 0 auto;
        }

        .fix-middle {
            padding: 1em;
            margin: 2em auto 0 auto !important;
        }
        .top-with-header{
            padding-top: 55px;
        }

block extraMenus
    include partials/level-switcher

block content
    .container.center.column(style='margin: 0 auto;', ng-app="buzzProgressModule", ng-controller="calendarParentCtrl")
        .left.aligned.fix-head.white-center.top-with-header 每月打卡
        .ui.grid.white-center
            .row
                .two.wide.column
                    img.middle.aligned(ng-src="{{totalScoreUrl}}")
                    span.space
                    span(ng-cloak) {{totalScore}}分
                .two.wide.column
                    img.middle.aligned(ng-src="{{totalTowardsUrl}}")
                    span.space
                    span(ng-cloak) 16个
                .three.wide.column
                .three.wide.column
                    img.middle.aligned(ng-src="{{allCorrectUrl}}")
                    span.middle.aligned  &nbsp;练习全对
                .three.wide.column
                    img.middle.aligned(ng-src="{{allIncorrectUrl}}")
                    span.middle.aligned  &nbsp;练习有错
                .three.wide.column
                    img.middle.aligned(ng-src="{{unExerciseUrl}}")
                    span.middle.aligned  &nbsp;练习未做
            .row
                .column
                    include calendar
        .left.aligned.fix-head.fix-middle.white-center 本周进度
            .span(style='height:2em;width:100%;color:#666;text-align:left;font-weight:normal;margin-top:.5em;',ng-cloak) {{this_date}}
            table.progress.table
                thead
                    tr
                        th 练习全对
                        th 练习有错
                        th 系统排名
                tbody
                    tr
                        td
                            + goodPerformance(ng-repeat="i in [].constructor(weekPerformance.good) track by $index",ng-show='weekPerformance.good<=7',ng-cloak)
                        td
                            + badPerformance(ng-repeat="i in [].constructor(weekPerformance.bad) track by $index",ng-show='weekPerformance.bad<=7',ng-cloak)
                        td(ng-cloak) {{rank}}
        .left.aligned.fix-head.fix-middle.white-center 历史成绩
            .table-center(ng-controller="pcChartCtrl")
                span(style='font-weight: normal;', ng-cloak) 你已累计学习了{{totalWord}}个单词
        .ui.grid.white-center(style='padding-bottom:5em;')
            .row(ng-controller="pcChartCtrl")
                p &nbsp;
                p &nbsp;
                canvas#history-chart.chart.chart-bar(chart-data="data", chart-labels="labels", chart-series="series", chart-options="options" chart-dataset-override="datasetOverride",chart-colors="colors")
                p &nbsp;
                p &nbsp;