extends ../m/mobile-layout

block js
    script.
        angular.module('mobileModule')
            .run(['$rootScope', function ($rootScope) {
                $rootScope.tabularIndex = 3;
            }])
        ;

block content
    script(type="text/ng-template", id="weekly-quiz.html")
        include partials/weekly-quiz