script(type="text/ng-template", id="video-list.html")
    .ui.container(style='padding: 0;')
        a(name='top')
        .ui.two.cards(style='margin-top: .5em; padding: .5rem; margin-bottom: 1em;')
            .card(ng-repeat='v in videos', style='width: calc(50% - 1em); margin-left: .5em; margin-right: .5em;')
                a.img(ng-href="/video-player/{{v.url}}")
                    img(src='//resource.buzzbuzzenglish.com/image/png/buzz-poster.png')
                .extra(style='background-color: #eee; font-size: 1rem;') {{v.mtime.substr(0, 19).replace('T',' ')}}
                    .ui.star.rating(data-rating="4")
        button.btn.btn-block(ng-click='loadMore()' ng-hide="!more") 加载更多历史
        button.btn.btn-block(ng-disabled="true" ng-if="!more") 没有更多了
        button.btn.btn-block(ng-click='toTop()') 返回顶部