script(type="text/ng-template", id="video.html")
    style.
        .pasters label {position: relative; padding-left: 0;}
        .pasters label input {position: absolute; right: 0; bottom:-5px; width: 100%; text-align: center;}
        .pasters label img {max-width: 74px;}
        .ui.horizontal.segments{padding-left:1.5em;}
        .ui.segment, .ui.segments .segment{margin:0; font-size:0;}
    form.ui.form(ng-class="{'error': !!errorMessage, 'loading': uploading || loading}")
        include ../../partial/formMessage
        fieldset
            legend(style='text-align: center; font-size: 40px; padding-top: 2rem; border: none; margin-bottom: 0; font-family:"HYxindipaofu"; font-weight: 800;') level 1
            .ui.container
                .subtitle(style='border: 10px solid #f7b52a; background-color: #fff; min-height: 30rem; padding: 1rem; position: relative;')
                    .subtitle-label(style='font-family:"HYxindipaofu"; color: #888; margin-bottom: 1em;') 请记住以下内容:
                    .subtitle-english(style='padding-top: 1rem;') {{formData.subtitle || 'Today is monday.'}}
                    .subtitle-change(style='display: flex; justify-content: center; margin-top: 1rem;', ng-if='changeDialogueTag')
                        .ui.mini.button(style='padding: .5em; font-size: 1.5rem; color: white; background-color: #f7b52a;', ng-click='previous()')
                            i.step.backward.icon
                            span 上一个
                        .ui.mini.button(style='padding: .5em; font-size: 1.5rem; color: white; background-color: #f7b52a;', ng-show="random", ng-click='changeDialogue()' )
                            i.random.icon
                            span 换一换
                        .ui.mini.button(style='padding: .5em; font-size: 1.5rem; color: white; background-color: #f7b52a;', ng-click='next()')
                            i.step.forward.icon
                            span 下一个
                    .tips-bottom(style='position: absolute; right: 0; bottom: 1em; font-weight: 800; font-size: .8em;')
                        p PS: 请在录制时说出这句'台词' ,
                        span 时长不超过
                        span(style='font-size: 1.5em; color: red;') 30
                        span 秒
                .ui.horizontal.segments(ng-controller="recipesCtrl")
                    .inline.fields.pasters
                        .field()
                            h2.ui.header(style="background-color: transparent;") 贴纸:
                        .ui.basic.segment
                            .checkbox
                                label(for="sun_glasses")
                                    img(src="//resource.buzzbuzzenglish.com/image/png/recipe-sunglasses.png")
                                    input(type="checkbox", ng-model="formData.recipes.recipe_sun_glasses", ng-true-value="true", ng-false-value="false", id="sun_glasses", ng-click="checkRecipes($event)")
                                
                        .ui.basic.segment
                            .checkbox
                                label(for="moustache")
                                    img(src="//resource.buzzbuzzenglish.com/image/png/recipe-moustache.png")
                                    input(type="checkbox", ng-model="formData.recipes.recipe_moustache" ng-true-value="true", ng-false-value="false", id="moustache", ng-click="checkRecipes($event)")
                                
                        .ui.basic.segment
                            .checkbox 
                                label(for="nose")
                                    img(src="//resource.buzzbuzzenglish.com/image/png/recipe-nose.png")
                                    input(type="checkbox", ng-model="formData.recipes.recipe_nose" ng-true-value="true", ng-false-value="false", id="nose", ng-click="checkRecipes($event)")
                                
                .form-group
                    label.ui.yellow.button.center-block(style='font-size: 2rem; border-radius: 0; letter-spacing: 3px; position: relative; font-family:"HYxindipaofu"', for="video-file") 我记住了,开始录制
                    input#video-file.form-control(type="file", accept="video/*", capture="camcorder", style='position: absolute; top: 0; left: 0;clip:rect(0 0 0 0);', onchange="angular.element(this).scope().videoChange()")
                    button.ui.yellow.button.center-block(ng-if='uploadAgainTag', style='font-size: 2rem; border-radius: 0; letter-spacing: 3px; position: relative; font-family:"HYxindipaofu"', ng-click='videoChange()') 重新上传
