script(type="text/ng-template", id="video.html")
    form.ui.form(ng-class="{'error': !!errorMessage, 'loading': uploading}")
        include ../../partial/formMessage
        fieldset
            legend(style='text-align: center; font-size: 40px; padding-top: 2rem; border: none; margin-bottom: 0; font-family:"HYxindipaofu"; font-weight: 800;') level 1
            .ui.container
                .subtitle(style='border: 10px solid #f7b52a; background-color: #fff; min-height: 25rem; padding: 1rem;')
                    .subtitle-label(style='font-family:"HYxindipaofu"; color: #888;') 请记住以下内容:
                    .subtitle-english(style='padding-top: 1rem;') {{formData.subtitle || 'Today is monday.'}}
                    .ui.segment(style='margin-top: 8rem; font-family:"HYxindipaofu"; font-size: 16px; color: #aaa; padding: .5em 1em;') PS: 请在录制时说出这句"台词", 时长不超过30秒
                .form-group
                    button.ui.yellow.button.center-block(style='font-size: 2rem; border-radius: 0; letter-spacing: 3px; position: relative; font-family:"HYxindipaofu"') 我记住了,开始录制
                        input#video-file.form-control(type="file", accept="video/*", capture="camcorder", style='position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;', onchange="angular.element(this).scope().videoChange()")
                    button.ui.yellow.button.center-block(ng-if='uploadAgainTag', style='font-size: 2rem; border-radius: 0; letter-spacing: 3px; position: relative; font-family:"HYxindipaofu"', ng-click='videoChange()') 重新上传