.ui.dimmer#dimmer-video(style='z-index: 1500;', ng-controller='videoShareCtrl')
    .content(style='position: relative;', ng-click='closeDimmer()')
        img(src='//resource.buzzbuzzenglish.com/video-share-friends.png', style='width: 100%;')
.ui.dimmer#dimmer-processing
    .ui.segment.loading.content(style='position: relative; background: #262522; margin: 0; padding: 0; border: none;', ng-class="{'loading': loading}")
        div(style='width: 100%;') 
            img(src='//resource.buzzbuzzenglish.com/video-0825.gif')
    
            p(style="position: absolute; left: 20%; top: 49%;") 该视频正在处理中，请稍后再回来查看……
    .renovate-button(style="position: absolute; width: 100%; text-align: center; bottom: 35%; height: 45px; line-height: 45px;" ng-click="refreshStatus()" )
        img(src='//resource.buzzbuzzenglish.com/button.png', style="width: 30%;")
        .link(style="position: absolute; top: 0; width: 100%; text-align: center; padding-top: 0.25rem; font-size: 12px; font-weight: bolder") 刷新一下
.ui.dimmer#dimmer-error
    .ui.loading.inverted.segment(ng-if="loading")
    .content
        p 在获取视频信息时碰到了错误，请稍后回来查看……
.ui.dimmer#dimmer-video-grade(style='z-index: 1500;')
    .content(style='position: relative;')
        img.center-block(ng-src='{{videoStatus.score >= 30 ? "//resource.buzzbuzzenglish.com/video-grade-success.png" : "//resource.buzzbuzzenglish.com/video-grade-fail.png"}}', style='width: 80%; padding-top: 3rem;')
        .tips(style='position: absolute; top: 5rem; margin: 0 auto; width: 100%; color: #333;')
            p(style='font-family:"HYxindipaofu"; font-size: 30px; font-weight: 600;', ng-cloak) {{videoStatus.score >= 30 ? 'Great!!' : 'oh! no!'}}
            p(style='font-family:"HYxindipaofu"; font-size: 20px; font-weight: 600;', ng-cloak) {{videoStatus.score >= 30 ? '你的读音正确率达到了' : '你的读音正确率只有'}}
            p(style='font-family:"HYxindipaofu"; font-size: 40px; font-weight: 800;', ng-cloak) {{videoStatus.score}}%
        .grade-button.center-block(ng-click='closeVideoGrade()', style='width: 50%; position: relative; height: 70px;')
            img(src='//resource.buzzbuzzenglish.com/video-grade-button.png', style='height: 100%;')
            .tips(style='position: absolute; top: 0; width: 100%; color: #333; height: 100%; text-align: center; line-height: 70px; font-family:"HYxindipaofu"; font-size: 20px; font-weight: 600;', ng-cloak) {{videoStatus.score >= 30 ? '朕已阅' : '重新录制'}}