script(type="text/ng-template", id="video-player.html")
    .ui.container(ng-hide="hideVideo")
        .ui.loading.segment(ng-if="loading")
        #video-title.title(style='font-size: 30px; margin: 1rem 0; font-family:"HYxindipaofu"') 录制完成!
        p#cue(style='font-size: 20px; margin: 1rem 0; font-family:"HYxindipaofu"') 以下是您已录制完成的视频 :

    include video-angular
    include ./video-dimmers
    include ./wechat-share