.ui.dimmer#dimmer-video-grade(style='z-index: 1500;', ng-controller='videoShareCtrl')
    .content(style='position: relative;', ng-click='closeDimmer()')
        img(src='//resource.buzzbuzzenglish.com/video-share-friends.png', style='width: 100%;')