video#video-uploaded(style="width: 100%;", controls, crossorigin="Anonymous", preload, ng-src="{{videoStatus.raw}}", type="video/*", poster="//resource.buzzbuzzenglish.com/image/png/buzz-poster.png")
    track(ng-src="{{videoStatus.vtt}}", label="English", kind="subtitles", srclang="en", default)
