div(ng-controller="jwPlayerCtrl", style='position: relative;') 
    video#video-uploaded(style="width: 100%;", controls, crossorigin="Anonymous", preload, ng-src="{{videoStatus.pastered || videoStatus.raw}}", type="video/*", poster="{{videoStatus.poster || '//resource.buzzbuzzenglish.com/image/png/buzz-poster.png'}}")
        track(ng-src="{{videoStatus.vtt}}", label="English", kind="subtitles", srclang="en", default)
    .video-navbar(style="position: absolute; right: -3%; top: 30%; margin-top: -50px; width:17%;")
        a.btn.btn-navbar.active(style='font-size: 150%;', ng-click="shareToFriends()", ng-show="videoStatus.status !== 2 && videoStatus.status !== 0")
            i.share.icon(ng-class="{'loading': loading}")
        a.btn.btn-navbar.active(href='/video', style="line-height: initial; text-align: center;", ng-show="videoStatus.status === 'done'" )
            i.huge.icons(style="font-size: 110%;")
                i.big.thin.circle.icon
                i.record.icon
        a.btn.btn-navbar(style='font-size: 150%; color: white;', ng-click="thumbsUp()")
            i.thumbs.up.icon#thumbsUp
