div(ng-controller="jwPlayerCtrl", style='position: relative;') 
    video#video-uploaded(style="width: 100%;", controls, crossorigin="Anonymous", preload, ng-src="{{videoStatus.pasteredNose || videoStatus.pastered || videoStatus.cartoonized || videoStatus.raw}}", type="video/*", poster="//resource.buzzbuzzenglish.com/image/png/buzz-poster.png")
        track(ng-src="{{videoStatus.vtt}}", label="English", kind="subtitles", srclang="en", default)
    a.btn.btn-navbar.active(style='position: absolute; right: -3%; top: 40%; font-size: 2rem;', ng-click="shareToFriends()", ng-show="videoStatus.status === 'done'")
        i.share.icon
    a.btn.btn-navbar.active(href='/video', style="line-height: initial; text-align: center; position: absolute; right: -3%; bottom: 40%;", ng-show="videoStatus.status === 'done'" )
        i.huge.icons(style="font-size: 110%;")
            i.big.thin.circle.icon
            i.record.icon