extends ../m/mobile-layout

block rightTopMenu
    if !hcd_user
        a.btn(href="javascript:location.href='/sign-in';",  style="color: black;") 登录

block meta
    style.
        .meta > .tag-meta {
            position: relative;
            float: right;
            width: 50%;
            padding: 0 1rem;
        }

        .meta > .tag-meta > .tags {
            position: relative;
            float: right;
            border-radius: 3px;
            background-color: #f7b52a;
            color: white;
            width: auto;
            padding: 0 .5rem;
            margin-left: .5rem;
            font-size: 1.5rem;
        }

block js
    script.
        angular.module('spaModule')
            .run(['$rootScope', function ($rootScope) {
            }])
        ;
block content
    script(type="text/ng-template", id="history.html")
        div#history-list.scrollable-content.ui.segment(style='padding: 0; background-color: #eee; min-height: 10rem;', ng-controller="historyCtrl", ng-class='{"loading": loading}')
            include my/partials/history-list