extends ../m/mobile-layout

block meta
    style.
        html{
            height:auto !important;
            overflow: auto;
        }

        .meta > .tag-meta {
            position: relative;
            float: right;
            width: 50%;
            padding: 0 1rem;
        }

        .meta > .tag-meta > .tags {
            position: relative;
            float: right;
            border-radius: 3px;
            background-color: #f7b52a;
            color: white;
            width: auto;
            padding: 0 .5rem;
            margin-left: .5rem;
            font-size: 1.5rem;
        }

block js
    script.
        angular.module('mobileModule')
            .run(['$rootScope', function ($rootScope) {
            }])
        ;
block content
    script(type="text/ng-template", id="history.html")
        div(style='background-color: #eee;', ng-controller="historyCtrl")
            include my/partials/history-list