doctype html
html
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title='Buzz Buzz English'
    style.
        .valign-middle {
            vertical-align: middle;
        }

        .left-row {
            display: inline-block;
        }

        .center-row {
            display: inline-block;
            text-align: center;
        }

        body {
            margin: 0px;
        }

        .head {
            width: 100vw;
            height: 17vw;
            background-color: #f9b600;
            position: absolute;
        }

        .title {
            width: 100vw;
            height: 17vw;
            line-height: 17vw;
            text-align: center;
            font-size: 6vw;
            color: #333333;
        }

        .back {
            height: 17vw;
            line-height: 17vw;
            font-size: 8vw;
            color: #333333;
            position: absolute;
            top: 0px;
            left: 8vw;
        }

        a {
            text-decoration: none;
        }

        .input-container {
            position: absolute;
            left: 10vw;
            width: 80vw;
            padding-bottom: 1.7vw;
            border-bottom: 1px solid #aaaaaa;
        }

        .without-border {
            border: none;
        }

        input[type=phone],
        input[type=password],
        input[type=text] {
            vertical-align: top;
            font-size: 4.5vw;
            width: 50vw;
            border: none;
            background-color: transparent;
        }

        input[type=phone]:focus,
        input[type=password]:focus,
        input[type=text]:focus {
            outline: none;
            background-color: transparent;
        }

        .phone {
            top: 15.5vw;
        }

        .captchabox {
            top: 32.5vw;
        }

        .verification-box {
            top: 49.5vw;
        }

        .verification-box button {
            width: 19vw;
            position: absolute;
            right: 0px;
            bottom: 1.7vw;
            height: 8.5vw;
            line-height: 4.2vw;
            font-size: 3.5vw !important;
            color: white;
        }

        button {
            font-size: 6vw;
            color: #333333;
            border-radius: 4px;
            background-color: #f9b600;
            height: 13.6vw;
            line-height: 13.6vw;
            border: none;
        }

        .password {
            top: 66.5vw;
        }

        .label {
            font-size: 4vw;
            width: 18vw;
            display: inline-block;
            text-align: left;
        }

        .captcha {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }

        .captcha img {
            width: 19vw;
        }

        .next {
            position: absolute;
            top: 83.5vw;
            left: 10vw;
            width: 80vw;
        }

        button:disabled,
        .button:disabled {
            opacity: 0.5;
        }

        .agreement {
            position: absolute;
            top: 102.2vw;
            width: 80vw;
            left: 10vw;
        }

        .agreement a,
        .agreement label {
            font-size: 3.5vw;
        }

        a {
            font-size: 4.5vw;
            color: #f9b600;
            text-decoration: none;
        }

        #agree {
            vertical-align: bottom;
            width: 4vw;
        }

        .hidden {
            display: none;
        }

        .name {
            top: 15.5vw;
        }

        .gender {
            top: 32.5vw;
        }

        .grade {
            top: 49.5vw;
        }

        .grade select {
            width: 50vw;
        }

        .space {
            display: inline-block;
            width: 14vw;
        }

        select:invalid {
            color: gray;
        }

        select:focus,
        select {
            outline: none;
            border: none;
            color: black;
            background-color: white;
            font-size: 4.5vw;
        }

        .finish {
            position: absolute;
            top: 66.5vw;
            left: 10vw;
            width: 80vw;
        }

        .form-container {
            width: 100vw;
            height: 153vw;
            background-color: white;
            position: absolute;
            top: 17vw;
        }
body
    block content
    include ../js
    block js