doctype html
html
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title='Buzzbuzz English'
body
    style.
        body {
            margin: 0px;
        }
        .background img {
            display: block;
            width: 100vw;
            height: 100vh;
        }
        .bar {
            position: absolute;
            bottom: 10vh;
            width: 80vw;
            left: 10vw;
            height: 1.5vh;
            border: 2px solid #333333;
            border-radius: 5px;
        }
        .bar .fill {
                    animation:mymove 3s ease-in-out;
            -webkit-animation:mymove 3s ease-in-out;
            height: 1.5vh;
            background-color: #000000;
        }
        @keyframes mymove
        {
            from {width: 0%;}
            to {width: 100%;}
        }
    .background
        img(src="http://resource.buzzbuzzenglish.com/bg_loading.jpg?2017-03-03")
    .bar
        .fill
    script(type="text/javascript").
        if (window.location.search) {
            var parsedObject = {};
            var parseReg = /[?&](.+?)=([^&]+)/g;
            var parseAry = null;
            while(parseAry = parseReg.exec(window.location.search)) {
                parsedObject[parseAry[1]] = parseAry[2];
            }
            var targeturl = parsedObject.url ? parsedObject.url : "/";
            if (targeturl) {
                setTimeout(function() {
                    location.href = targeturl;
                }, 3200);
            }
        }
