include ../share/common

doctype html
html(manifest="/buzz.appcache")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    + css("/public/css/player-layout.min.css")
    + css("/public/css/button.min.css")
    <!-- Only required for desktop -->
    + css("/node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css")

    <!-- Always required -->
    + css("/node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css")

    <!-- Only required for desktop -->
    + css("/node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css")
    title='Buzzbuzz English'
    style.
        body {
            margin: 0;
            padding: 0;
        }

        .app {
            background: white;
        }

        .navbar-app {
            background-color: #f6b52a;
            color: black;
        }
    if base
        base(href=base)
    block meta
body(ng-app="mobileModule")
    .sidebar.sidebar-left
    .sidebar.sidebar-right

    .app
        .navbar.navbar-app.navbar-absolute-top
            .navbar-brand.navbar-brand-center
                span Buzzbuzz English
            .btn.sidebar-toggle
                .btn-group.pull-left
                    a(href='javascript:location.href="/m/my/today"') <
        //.navbar.navbar-app.navbar-absolute-bottom

        .app-body
            .app-content
                ng-view

    div(ui-yield-to="modals")

    block content

    include ../js
    + js("/node_modules/angular-route/angular-route.min.js")
    + js("/node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.min.js")
    script.
        angular.module('mobileModule', [
            'ngRoute',
            'mobile-angular-ui'
        ])
            .config(['$routeProvider', '$locationProvider', function ($routeProvider, $locationProvider) {
                $locationProvider.html5Mode(true);

                $routeProvider
                    .when('/weekly-quiz', {
                        templateUrl: 'weekly-quiz.html',
                        controller: 'weeklyQuizCtrl'
                    })
                    .when('/bind-mobile', {
                        templateUrl: 'bind-mobile.html'
                    })
                ;

                $routeProvider.otherwise('/weekly-quiz');
            }])
            .controller('weeklyQuizCtrl', [function () {
            }])
        ;
    block js