html
    head
        include player-head.html
        if saas
            base(href=saasBase)
    body(ng-app="buzzPlayerModule", ng-controller="videoCtrl", class="full screen container")
        include player-body.html
        include ../my/player-js
        script(src=config.tracking)