html
    head
        include player-head.html
    body(ng-app="buzzPlayerModule", ng-controller="videoCtrl", class="full screen container")
        .center.aligned.container
            .video(style="width: 100%;")

        include ../my/player-js.html
        script(src=config.tracking)

