style.
    .tail-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 4.3rem;
        background-color: #333333;
        z-index: 100;
    }

    .tail-container a:hover,
    .tail-container a {
        text-decoration: none;
    }

    .tail-container .button {
        display: inline-block;
        width: 25%;
        height: 100%;
        color: white;
        text-align: center;
    }

    .tail-container .button .icon {
        width: 100%;
        height: 2.8rem;
        line-height: 2.8rem;
        font-size: 2rem;
    }

    .tail-container .button .icon i {
        display: inline-block;
        vertical-align: middle;
    }

    .tail-container .button .text {
        width: 100%;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: 0.7rem;
    }

    .tail-container .button.focus {
        color: #f9b600;
    }
mixin tailcontentdetail(href, focus, text, icon)
    if focus
        a.button.focus(href= href, style="padding: 5px 0!important;")
            div.icon
                i(class= icon)
            div.text= text
    else
        a.button(href= href, style="padding: 5px 0!important;")
            div.icon
                i(class= icon)
            div.text= text

mixin tailcontent(today,progress, vocabulary, my)
    .tail-container
        + tailcontentdetail("/my/today", today, "学习", "icon-play2")
        + tailcontentdetail("/m/my/progress", progress, "成绩", "icon-stats-bars")
        + tailcontentdetail("/m/my/vocabulary", vocabulary, "生词", "icon-book")
        + tailcontentdetail("/m/my/my", my, "我的", "icon-user")