include ../share/common

doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="viewport", content="width=375, user-scalable=no")
        //width=device-width, initial-scale=1.0, maximum-scale=1.0
        + css("/public/css/player.min.css")
        + css("/public/css/player-layout.min.css")
        + css("/public/css/horizontal-menu.min.css")
        + css("/public/css/flex-box.min.css")
        + css("/public/css/media-query.min.css")
        + css("/public/css/my/layout.min.css")
        + css("/public/css/lib/cube.min.css")
        title=title || 'Buzzbuzz English'
        block head
    body.full.screen.container
        #buzz-header.fluid.container.header.fixed(ng-controller="headerCtrl")
            .center.aligned.container.column.borderless
                ul.large.right.floated.white.horizontal.menu
                    block extraMenus
                    li
                        img.middle.aligned.avatar(ng-src="{{profile.avatar}}", ng-if="profile.avatar")
                .white.title
                    a(href="/")
                        img.white.background.logo(src="/images/logo1.png")
                    span.space
                    span.top.aligned.welcome.message(style="position: absolute;") Hello {{profile.display_name}}
        block content
        include ../js
        + js("/js/buzzHeaderModule.min.js")
        script.
            angular.element(document).ready(function () {
                angular.bootstrap(document.getElementById('buzz-header'), ['buzzHeaderModule']);
            });
        block js

