include ../share/common

doctype html
html(manifest="/buzz.appcache")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="viewport", content="width=375, user-scalable=no")
        include ../partial/seo.pug
        //width=device-width, initial-scale=1.0, maximum-scale=1.0
        + css("/public/css/player.min.css", true)
        + css("/public/css/player-layout.min.css")
        + css("/public/css/horizontal-menu.min.css")
        + css("/public/css/flex-box.min.css")
        + css("/public/css/media-query.min.css")
        + css("/public/css/my/layout.min.css")
        + css("/public/css/lib/cube.min.css")
        title=title || 'Buzzbuzz English'
        block head
        if base
            base(href=saasBase)
    body.full.screen
        #buzz-header.fluid.header.fixed(ng-controller="headerCtrl")
            .center.aligned.column.borderless
                ul.large.right.floated.white.horizontal.menu
                    block extraMenus
                    li
                        img.middle.aligned.avatar(ng-src="{{profile.avatar}}", ng-if="profile.avatar")
                .white.title
                    if !saas
                        a(href="/")
                            img.white.background.logo(src="http://resource.buzzbuzzenglish.com/new_buzz_logo.png")
                    span.space
                    span.top.aligned.welcome.message(style="position: absolute;",ng-cloak) Hello {{profile.display_name}}
        block content
        include ../js
        + js("/js/buzzHeaderModule.min.js")
        script.
            angular.module('buzzFooterModule', [])
                .run(['$rootScope', function($rootScope){
                    $rootScope.location = location;
                }])
            ;

            angular.element(document).ready(function () {
                angular.bootstrap(document.getElementById('buzz-header'), ['buzzHeaderModule']);
                angular.bootstrap(document.getElementById('buzz-footer'), ['buzzFooterModule']);
            });
        block js

