extends ./mobile-master-layout
block content
    script(type="text/ng-template", id="video.html")
        form.ui.form(ng-class="{'error': !!errorMessage, 'loading': uploading}")
            include ../partial/formMessage
            fieldset
                legend(style='text-align: center; padding-top: 2rem; border: none; margin-bottom: 0;') level 1
                .ui.container
                    .subtitle(style='border: 6px solid #f7b52a; background-color: #fff; min-height: 20rem; padding: 1rem;')
                        .subtitle-label 请记住以下内容:
                        .subtitle-english(style='padding-top: 1rem;') {{formData.subtitle || 'Today is monday.'}}
                        .ui.segment(style='margin-top: 3rem;') 请在录制时说出这句"台词"
                    .form-group
                        button.ui.yellow.button.center-block(style='font-size: 1.5rem; border-radius: 0; letter-spacing: 3px; position: relative;') 我记住了,开始录制
                            input#video-file.form-control(type="file", accept="video/*", capture="camcorder", style='position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;')
                        button.ui.yellow.button.center-block(ng-click='uploadVideoToOwnServer()', style='font-size: 1.5rem; border-radius: 0; letter-spacing: 3px;') 确认上传
    script(type="text/ng-template", id="video-player.html")
        .ui.container
            .title(style='font-size: 20px; margin: 1rem 0;') level 1 闯关成功!
            p(style='font-size: 16px; margin: 1rem 0;') 以下是您录制的视频 :
            <video controls="controls" autoplay style="width: 100%;" id="video-player" type="video/*" ng-src="{{videoSrc}}" crossorigin="Anonymous"></video>
            .ui.submit-div(style='position: relative; margin-top: 2rem;')
                button.btn.btn-block(style='display: inline-block; width: 45%; margin-top: 0; background-color: #f7b52a; color: #fff;')
                    i.external.icon
                    span 下一关
                button.btn.btn-block(ng-click='tryAgain()', style='display: inline-block; width: 45%; margin-top: 0; background-color: #f7b52a; color: #fff; position: absolute; right: 0;')
                    i.repeat.icon
                    span 重新录制

block js
    script.
        angular.module('spaModule', [
            'ngRoute',
            'mobile-angular-ui',
            'angular-file-reader',
            'videoParserModule'
        ]);
    + js('/js/videoParserModule.min.js')
    + js('/js/components/video/spa-route.js')
    + js('/node_modules/socket.io-client/dist/socket.io.slim.js')
    + js("/node_modules/angular-file-reader-module/dist/angular-file-reader.js")
    script.
        angular.element(document).ready(function(){
            //- var video = document.querySelector("#video");

            //- navigator.mediaDevices.getUserMedia({video: true})
            //- .then(handleVideo)
            //- .catch(videoError)
            //- ;

            //- function handleVideo(stream) {
            //-     video.src = window.URL.createObjectURL(stream);
            //-     socket.emit('video', stream);
            //- }

            //- function videoError(e) {
            //-     console.error(e);
            //-     alert(e);
            //- }

            //- var socket = io();

            //- socket.emit('test', 'test message');
        });