extends ./mobile-master-layout
block content
    include ./video/record
    include ./video/video-preview
    include ./video/video-player
    include ./video/video-share
    include ./video/list

block js
    if config.NODE_ENV === 'prd'
        script.
            if(location.protocol !== 'https:') {
                location.href = location.href.replace('http:', 'https:');
            }
    script.
        angular.module('spaModule', [
            'ngRoute',
            'mobile-angular-ui',
            'angular-file-reader',
            'videoParserModule',
            'buzzHeaderModule',
            'wechatShareModule'
        ]);
    + js('/js/videoParserModule.min.js')
    + js('/js/components/video/spa-route.min.js')
    + js('/js/components/video/list.min.js')
    + js('/js/components/video/preview.min.js')
    + js('/js/components/video/video-player.js')
    + js("/node_modules/angular-file-reader-module/dist/angular-file-reader.js")
    + js("/js/buzzHeaderModule.min.js")
    + js("/lib/jwplayer/jwplayer.js")
