extends ./mobile-master-layout
block content
    script(type="text/ng-template", id="video.html")
        form.ui.form(ng-class="{'error': !!errorMessage, 'loading': uploading}")
            include ../partial/formMessage
            fieldset
                legend(style='text-align: center; font-size: 40px; padding-top: 2rem; border: none; margin-bottom: 0; font-family:"HYxindipaofu"; font-weight: 800;') level 1
                .ui.container
                    .subtitle(style='border: 6px solid #f7b52a; background-color: #fff; min-height: 20rem; padding: 1rem;')
                        .subtitle-label(style='font-family:"HYxindipaofu"') 请记住以下内容:
                        .subtitle-english(style='padding-top: 1rem;') {{formData.subtitle || 'Today is monday.'}}
                        .ui.segment(style='margin-top: 3rem; font-family:"HYxindipaofu"') 请在录制时说出这句"台词"
                    .form-group
                        button.ui.yellow.button.center-block(style='font-size: 2rem; border-radius: 0; letter-spacing: 3px; position: relative; font-family:"HYxindipaofu"') 我记住了,开始录制
                            input#video-file.form-control(type="file", accept="video/*", capture="camcorder", style='position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;', onchange="angular.element(this).scope().videoChange()")
    include ./video/video-preview
    include ./video/video-player
    include ./video/list

block js
    script.
        angular.module('spaModule', [
            'ngRoute',
            'mobile-angular-ui',
            'angular-file-reader',
            'videoParserModule',
            'buzzHeaderModule'
        ]);
    + js('/js/videoParserModule.min.js')
    + js('/js/components/video/spa-route.min.js')
    + js('/js/components/video/list.js')
    + js('/node_modules/socket.io-client/dist/socket.io.slim.js')
    + js("/node_modules/angular-file-reader-module/dist/angular-file-reader.js")
    + js("/js/buzzHeaderModule.min.js")
    script.
        angular.element(document).ready(function(){
            //- var video = document.querySelector("#video");

            //- navigator.mediaDevices.getUserMedia({video: true})
            //- .then(handleVideo)
            //- .catch(videoError)
            //- ;

            //- function handleVideo(stream) {
            //-     video.src = window.URL.createObjectURL(stream);
            //-     socket.emit('video', stream);
            //- }

            //- function videoError(e) {
            //-     console.error(e);
            //-     alert(e);
            //- }

            //- var socket = io();

            //- socket.emit('test', 'test message');
        });