nav#buzz-footer.navbar.navbar-app.navbar-absolute-bottom(style="background-color: #333;", ng-controller="footerCtrl")
    .btn-group.justified(style="padding: 0.6rem !important;")
        a.btn.btn-navbar(href="/my/today", style="color: white; line-height: initial;", ng-class="{'active':isActive('/my/play')}")
            i.icon-play2(style="font-size: 200%;")
            br
            | 学习
        a.btn.btn-navbar(href=`/my/progress?${config.version}`, style="color: white; line-height: initial;", ng-class="{'active': isActive('/my/progress')}")
            i.icon-stats-bars(style="font-size: 200%;")
            br
            | 成绩
        a.btn.btn-navbar(href=`/video?${config.version}`, style="color: white; line-height: initial; text-align: center;")
            i.huge.icons(style="font-size: 200%;")
                i.big.thin.circle.icon
                i.record.icon(style="color: #f7b52a;")
        a.btn.btn-navbar(href=`/my/vocabulary?${config.version}`, style="color: white; line-height: initial;", ng-class="{'active':isActive('/my/vocabulary')}")
            i.icon-book(style="font-size: 200%;")
            br
            | 生词
        a.btn.btn-navbar(href=`/my/account?${config.version}`, style="color: white; line-height: initial;", ng-class="{'active':isActive('/my/account')}")
            i.icon-user(style="font-size: 200%;")
            br
            | 我的