.history-list(style='margin-bottom:2em;', ng-repeat="lesson in courseList track by $index")
    .ui.card(style='width:100%;')
        .image
            img(ng-src="{{lesson.image}}", ng-click='aLikeClick("/m/my/today?date="+lesson.date+"&cat="+ lesson.category.toLowerCase()+"&level="+lesson.level)')
        .content(style='font-size:1.5em;')
            .meta
                .description(style='color: #f7b52a;', ng-click='aLikeClick("/m/my/today?date="+lesson.date+"&cat="+ lesson.category.toLowerCase()+"&level="+lesson.level)', ng-cloak) {{lesson.title}}
                span.date(ng-cloak) {{lesson.date}}
                .tag-meta(ng-show='lesson.tags.length !== 0', ng-cloak)
                    .tags(ng-repeat="tag in lesson.tags track by $index")
                        span(ng-cloak) {{tag}}
        .extra.content
            .ui.grid
                .row
                    .eight.wide.column
                        a(ng-click='aLikeClick("/my/play?date="+lesson.date+"&cat="+ lesson.category.toLowerCase()+"&level="+lesson.level)', ng-cloak)
                            i.users.icon
                            span(ng-cloak, style='color: #f7b52a;') {{lesson.baseNumber || 0}}人
                            span 参加课程
                    .eight.wide.column(style='text-align: right;')
                        a(ng-click='aLikeClick("/my/play?date="+lesson.date+"&cat="+ lesson.category.toLowerCase()+"&level="+lesson.level)', ng-cloak)
                            i.student.icon
                            span(ng-cloak, style='color: #f7b52a;') {{lesson.visited_time || 0}}人
                            span 完成学习
include ../../../partial/loading
.button(style='background:#e8e8e8;text-align: center;padding:.4em;') 顶部下拉刷新    底部上滑翻页