a(name="top")
.history-list(style='margin-bottom:2em;', ng-repeat="lesson in allCourseData track by $index")
    .ui.card(style="width: 100%;")
        .image(style="height: 211px;")
            image.ui.fluid.image(ng-src="{{lesson.image}}", ng-click='aLikeClick("/m/my/today?date="+lesson.date+"&cat="+ lesson.category.toLowerCase()+"&level="+lesson.level)')
        .content(style='font-size:1.5em;')
            .meta
                .description(style='color: #f7b52a;', ng-click='aLikeClick("/m/my/today?date="+lesson.date+"&cat="+ lesson.category.toLowerCase()+"&level="+lesson.level)', ng-cloak) {{lesson.title}}
                span.date(ng-cloak) {{lesson.date}}
                .tag-meta(ng-show='lesson.tags.length !== 0', ng-cloak)
                    .tags(ng-repeat="tag in lesson.tags track by $index")
                        span(ng-cloak) {{tag}}
        .extra.content(style="white-space: nowrap;")
            a.right.floated
                i.student.icon
                span(ng-cloak, style='color: #f7b52a;') {{lesson.visited_time || 0}}人
                span 完成学习
            a
                i.users.icon
                span(ng-cloak, style='color: #f7b52a;') {{lesson.baseNumber || 0}}人
                span 参加课程
            
include ../../../partial/loading
div(style='position: relative; width: 100%; padding: 0;')
    button.btn.btn-block(ng-click='loadMore()' ng-hide="!more") 加载更多历史
    button.btn.btn-block(ng-disabled="true" ng-if="!more") 没有更多了
