.ui.dimmer#dimmer-once(onclick = 'javascript:localStorage.setItem("newFucTag", "true");document.getElementById("dimmer-once").style.display= "none";')
    .content(style='position: relative;')
        img(src='//resource.buzzbuzzenglish.com/footer-video-notice.png', style='width: 65%; position: absolute; right: 0; bottom: 60px;')