.ui.dimmer#dimmer-once(onclick='javascript:document.getElementById("dimmer-once").style.display= "none";', style='position: fixed; z-index: 1500; display: block; opacity: 1;')
    .content(style='position: relative;')
        img(src='//resource.buzzbuzzenglish.com/footer-video-notice.png', style='width: 65%; position: absolute; right: 0; bottom: 60px;')