div(ng-show="$root.tabularIndex===1",ng-controller="newWordCtrl",style="padding: 5px 10px; background-color: white;")
    .vocabulary.container.cube(ng-class="{'init': initStatus==='true', 'rtom':animateDirection==='rtom','ltom':animateDirection==='ltom','ttom':animateDirection==='ttom','btom':animateDirection==='btom','side-a':side==='a', 'side-b':side==='b', 'lock':!actionLock}")
        .cube-side.side-a
            iframe(id="word-1",frameborder="0",style="width: 100%; min-height: 400px;", ng-src="{{currentVocabulary.url}}")
        .cube-side.side-b
            iframe(id="word-2",frameborder="0",style="width: 100%;min-height: 400px;", ng-src="{{currentVocabulary.url}}")
        .exersise-progress(style='height:44px;position:absolute;top:0;width:100%;background-color:#fff;text-align:center;line-height:44px;',ng-cloak)  {{wordIndex+1}}/{{WORD_MAX_INDEX+1}}
    div(style="display: flex; margin-top: 5px;")
        a.button.yellow.exercisebutton(ng-show="isWordMode&&hasWordMode",ng-click="changeWordMode(false)", style="flex: 1;") 进入练习
        a.button.yellow.exercisebutton(ng-show="!isWordMode&&hasWordMode",ng-click="changeWordMode(true)", style="flex: 1;") 显示词汇
        div#space
        a.button.yellow.exercisebutton(ng-click="turnWord(true)",ng-class="{'hidden':wordIndex===WORD_MAX_INDEX}", style="flex: 1;") 下一题