+ css("/public/css/modal.css")

style.
    #in-code.mask:before {
        opacity: 0.9;
    }

    #in-code .popup,
    #in-code .body {
        border-radius: 3px !important;
        border: none !important;
    }

    #in-code .popup {
        margin: auto 1.5em;
    }
    a {
        text-decoration:none;
        color:#f9b600;
    }
#in-code.mask(ng-controller="inCodeModalCtrl", ng-class="{'hide': hideModal, 'show': showModal}", ng-click="hideTheModal()")
    .popup(ng-click="keepModal($event)")
        .body(style="text-align: center; max-width: 250px;")
            p &nbsp;
            P 是否有邀请渠道？有请在下方填入。
            input(type="text", placeholder="没有请忽略", ng-model="channelData.data")
            button(ng-click="crateLink()") 生成邀请链接
            a(ng-href="{{myShareLink}}" target="_blank") {{myShareLink}}
