include ../../share/common

doctype html
html(manifest="/buzz.appcache")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=375, user-scalable=no")
    title='Buzzbuzz English'
    + css("/public/css/style.min.css", true)
body(ng-app="accountModule", ng-controller="viewAccountCtrl")
    style.
        .init {
            display: none;
        }

        body {
            margin: 0px;
            font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #333;
        }

        .body {
            position: relative;
            margin: 0 auto;
        }

        .row {
            display: block;
            position: relative;
            width: 100%;
        }

        .row.blank {
            height: 1rem;
        }

        .header {
            width: 100%;
            height: 3rem;
            line-height: 3rem;
            font-size: 1.4rem;
            text-align: center;
            color: #333333;
            background-color: #f9b600;
            position: relative;
        }

        body {
            background-color: #eee;
        }

        .bar,
        .row.person {
            background-color: white;
            height: 5.4rem;
            line-height: 5.4rem;
            color: #333333;
            margin-top: 1.2rem;
            padding-left: 1rem;
            border-top: solid 1px #e8e8e8;
            border-bottom: solid 1px #e8e8e8;
            box-sizing: border-box;
            float: none;
            clear: both;
            display: flex;
            align-items: center;
        }

        .bar.narrow {
            height: 3rem;
            line-height: 3rem;
        }

        .bar:after {
            content: '';
            float: none;
            clear: both;
            display: block;
        }

        .bar.stackable {
            border-top: none;
            margin-top: 0;
        }

        .bar.notch:before {
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            left: 0;
            border: solid 1px white;
            width: 15px;
        }

        .row.person img {
            height: 4rem;
            vertical-align: middle;
            border-radius: 50%;
        }

        .row.person .name {
            display: inline-block;
            margin-left: 1rem;
        }

        .more {
            font-size: 1.4rem;
            color: #bcbcbc;
            margin-right: 1em;
            flex: 1;
            text-align: right;
        }

        .row.quit {
            background-color: white;
            margin-top: 1.4rem;
            height: 2.8rem;
            padding-left: 1rem;
        }

        .row.quit {
            padding-left: 0;
            text-align: center;
            line-height: 2.8rem;
            color: #f9b600;
            text-decoration: none;
        }

        .row.quit:hover {
            text-decoration: none;
        }

        .row .title {
            display: inline-block;
            width: 20.6rem;
            line-height: 2.8rem;
            color: #333333;
        }

        .header .back {
            display: block;
            position: absolute;
            top: 0;
            left: 1rem;
        }

        .row.title {
            height: 2.8rem;
            line-height: 2.8rem;
            padding-left: 1rem;
        }

        .row.content {
            background-color: white;
            line-height: 2.8rem;
            padding-left: 1rem;
        }

        input {
            text-decoration: none;
            border: none;
        }

        input:focus {
            text-decoration: none;
            border: none;
            outline: none;
        }

        .row.button-row {
            background-color: white;
            line-height: 2.8rem;
        }

        .row.button-row .blank {
            display: inline-block;
            width: 0px;
            border-left: 1px solid grey;
        }

        .row.button-row .button {
            display: inline-block;
            width: 187px;
            text-align: center;
            background-color: #f9b600;
            color: white;
        }

        .radio {
            display: inline-block;
            width: 50%;
            text-align: center;
        }

        select {
            border: none;
            background-color: white;
            width: 40%;
        }
    .header.init
        span 我
        .back(ng-if="expanded", ng-click="expand(false)") <
    .body.init
        .menu(ng-if="!expanded")
            .row.bar.person(ng-click="expand(true)")
                img(ng-src=`{{$root.profile.avatar || '${config.cdn}/public/images/default_avatar.png?${config.imageversion}'}}`)
                .name {{$root.profile.real_name}}
                span.more.icon-chevron-thin-right
            .row.bar.narrow.stackable.notch(ng-click="showDetail()", ng-controller="qrCodeCtrl")
                span(style="flex: 4;") 我的二维码
                span.more(style="flex:1; text-align: right;")
                    i.icon-qrcode
                    span &nbsp;&nbsp;&nbsp;
                    span.icon-chevron-thin-right(style="text-align: right;")
            a.row.bar.quit(href="/sign-out", style="text-align: center; display: block;") 退出当前登陆
        .account(ng-if="expanded",ng-controller="mobileInfoCtrl")
            div(ng-controller="mobileWidgetCtrl")
                .row.title 姓名
                .row.content(ng-click="changeMode(true)")
                    input(type="text", ng-model="data.name")
                .row.button-row(ng-if="editMode")
                    .button(ng-click="updateName()") 保存
                    .blank
                    .button(ng-click="cancel()") 取消
            div(ng-controller="mobileWidgetCtrl")
                .row.title 性别
                .row.content(ng-click="changeMode(true)", ng-if="!editMode")
                    div(ng-if="data.gender=='M'") 金童
                    div(ng-if="data.gender=='F'") 玉女
                    div(ng-if="!data.gender || data.gender == 'U'") 未知
                .row.button-row(ng-if="editMode")
                    .radio
                        input(type="radio", ng-model="data.gender", value="M", id="male")
                        label(for="male") 金童
                    .radio
                        input(type="radio", ng-model="data.gender", value="F", id="female")
                        label(for="female") 玉女
                .row.button-row(ng-if="editMode")
                    .button(ng-click="updateGender()") 保存
                    .blank
                    .button(ng-click="cancel()") 取消
            div(ng-controller="mobileWidgetCtrl")
                .row.title 年级
                .row.content(ng-click="changeMode(true)", ng-if="!editMode") {{data.displayGrade || "未选择"}}
                .row.content(ng-if="editMode")
                    select(ng-model="data.grade", ng-options="i.name for i in grades")
                .row.button-row(ng-if="editMode")
                    .button(ng-click="updateGrade()") 保存
                    .blank
                    .button(ng-click="cancel()") 取消
    include ../tail.pug
    + tailcontent(false, false, false, true)
    include qrcode
    include ../../js
    + js("/js/formModule.min.js")
    + js("/js/accountModule.min.js")
    + js("/js/educationModule.min.js")
    + js("/node_modules/chart.js/dist/Chart.js")
    + js("/node_modules/angular-chart.js/dist/angular-chart.min.js")
    + js("/js/quizModule.min.js")
    + js("/js/DateModule.min.js")
    + js("/node_modules/moment/min/moment.min.js")
    + js("/js/buzzProgressModule.min.js")
    + js("/js/buzzHeaderModule.min.js")
    script.
        Array.from(document.getElementsByClassName("init")).forEach(function (ele) {
            ele.className = ele.className.replace(/(^|\s)init($|\s)/, ' ')
        });
