doctype html
html
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=375, user-scalable=no")
    title='Buzzbuzz English'
    link(href="/public/css/style.min.css", rel="stylesheet")
body
    style.
        body {
            margin: 0px;
        }
        .body {
            width: 375px;
            position: relative;
            margin: 0 auto;
        }
        .hidden {
            visibility: hidden;
        }
        .column {
            display: inline-block;
        }
        .row.special {
            height: 12rem;
        }
        .row {
            display: block;
            position: relative;
            width: 375px;
        }
        .row .box {
            width: 21.5rem;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        .row.blank {
            width: 21.5rem;
            height: 1rem;
        }
        .process-head {
            text-align: left;
            border-left: 4px solid #f9b600;
            font-size: 0.9rem;
            height: 1rem;
            line-height: 1rem;
        }
        .process-content {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            border-top: 2px solid #f9b600;
            border-bottom: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
        }
        .chart,
        .learn,
        .calander {
            display: inline-block;
            text-align: center;
        }
        .calander {
            height: 3rem;
            line-height: 3rem;
        }
        .expend-calander {
            line-height: 2rem;
        }
        .expend-calander.row {
            width: 100%;
        }
        .expend-calander.unit {
            width: 14.25%;
            text-align: center;
        }
        .expend-calander.unit.invalid {
            color: #bbbbbb;
        }
        .expend-calander.unit.current {
            color: #f9b600;
        }
        .expend-calander.unit.signed {
            color: #ff0000!important;
        }
        .expend-calander.unit.now {
            color: #ffffff;
            background-color: #f9b600;
        }
        .learn {
            height: 5rem;
            font-size: 0.85rem;
            vertical-align: top;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        .chart {
            height: 3rem;
            line-height: 3rem;
        }
        .expend-chart {
            height: 30rem;
            line-height: 1rem;
        }
         .chart.left {
            width: 15rem;
            font-size: 0.85rem;
            border-right: 1px solid #cccccc;
        }
        .chart.right {
            width: 6.4rem;
        }
        .chart img {
            width: 1.56rem;
        }
        .learn .content {
            text-align: left;
        }
        .learn .text-content {
            height: 5rem;
            line-height: 2rem;
        }
        .learn img {
            width: 1.2rem;
            margin-left: 0.1rem;
            margin-right: 0.1rem;
        }
        .learn.left {
            width: 6rem;
            border-right: 1px solid #cccccc;
        }
        .learn.middle {
            width: 6rem;
            border-right: 1px solid #cccccc;
        }
        .learn.right {
            width: 6rem;
        }
        .calander.left {
            width: 16rem;
            font-size: 0.85rem;
            border-right: 1px solid #cccccc;
        }
        .calander.right {
            width: 5.4rem;
        }
        .calander img {
            width: 1.56rem;
        }
        .valign-middle {
            vertical-align: middle;
        }
        .font.grey {
            color: #cccccc;
        }
        .font.black {
            color: #333333;
        }
        .font.orange {
            color: #f9b600;
        }
        .account.column {
            width: 16%;
            display: inline-block;
            vertical-align: top;
        }
        .account.column .head{
            margin-top: 3rem;
            height: 2rem;
            line-height: 2rem;
        }
        .pic.column {
            width: 36%;
            display: inline-block;
        }
        .pic.column .img{
            height: 8rem;
            line-height: 8rem;
            text-align: center;
        }
        .pic.column .img img{
            width: 80%;
            border-radius: 50%;
            vertical-align: middle;
        }
        .pic.column .text{
            text-align: center;
        }
        .account {
            height: 9rem;
            font-size: 0.9rem;
            text-align: center;
        }
        .bold {
            font-weight: bold;
        }
    .body()
        .row.special(id="profile", ng-controller="headerCtrl")
            .box
                .account.column
                    .text.head.font.black Level
                    .text.content.font.black.bold A
                .account.column
                    .text.head.font.black Lesson
                    .text.content.font.black.bold 20
                .pic.column
                    .img
                        img(ng-src="{{profile.avatar || '/public/images/default_avatar.png'}}")
                    .text(ng-bind="profile.real_name")
                .account.column
                    .text.head.font.black
                        img(ng-src="/public/images/points.png")
                    .text.content.font.black.bold 200
                .account.column
                    .text.head.font.black
                        img(ng-src="/public/images/medal.png")
                    .text.content.font.black.bold 5
        .row
            .box.process-head 练习打卡日历
        .row.blank
        .row(ng-app="buzzProgressModule", ng-controller="calendarCtrl")
            .box.process-content(ng-if="!expanded")
                .calander.left
                    span.font.grey 你来到BUZZ BUZZ已有：
                    span.font.black 20 Days
                .calander.right(ng-click="expandContent(true)")
                    img.valign-middle(src="/public/images/calander.png")
            .box.process-content(ng-if="expanded")
                .expend-calander.row
                    .expend-calander.left.font.orange(style="font-size: 1.5rem;line-height: 2.5rem;height: 2.5rem;width: 85%;display:inline-block;vertical-align:top;",) {{current | date: 'MMM, yyyy'}}
                    .expend-calander.right(ng-click="expandContent(false)",style="height: 2.5rem;width: 15%;display:inline-block;vertical-align:top")
                        img.valign-middle(style="width:1.86em",src="/public/images/calander_off.png")
                .expend-calander.row.blank
                .expend-calander.row.blank
                .expend-calander.row(style="color: #999999;")
                    .expend-calander.unit.column 日
                    .expend-calander.unit.column 一
                    .expend-calander.unit.column 二
                    .expend-calander.unit.column 三
                    .expend-calander.unit.column 四
                    .expend-calander.unit.column 五
                    .expend-calander.unit.column 六
                .expend-calander.row.blank
                .expend-calander.row(ng-repeat="week in extendedweekdays")
                    .expend-calander.unit.column(ng-repeat="day in week", ng-class="{'invalid': !day.iscurrentmonth,'now': day.istoday,'signed': day.goodness!==''}") {{day.date.getDate()}}
                    .expend-calander.row.blank
                .expend-calander.row.blank
        .row.blank
        .row.blank
        .row
            .box.process-head 学习进度
        .row.blank
        .row
            .box.process-content
                .learn.left
                    .title 练习全对
                    .content
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                .learn.middle
                    .title 练习有错
                    .content
                        img(src="/public/images/wrong_1.png")
                        img(src="/public/images/wrong_2.png")
                .learn.right
                    .title 打败多少对手
                    .text-content 2028
        .row.blank
        .row.blank
        div()
            .row
                .box.process-head 历史曲线
            .row.blank
            .row(ng-controller="chartCtrl")
                .box.process-content
                    .chart.left
                        span.font.grey 你已累计学习了
                        span.font.black 1200个
                        span.font.grey 单词
                    .chart.right
                        img.valign-middle(src="/public/images/chart.png")
        .row.blank
        .row.blank
        .row.blank
        .row.blank
        .row.blank
    include ../tail.pug
    include ../../js
    script(src="/node_modules/chart.js/dist/Chart.js")
    script(src="/node_modules/angular-chart.js/dist/angular-chart.min.js")
    script(src="/js/quizModule.min.js")
    script(src="/js/DateModule.min.js")
    script(src="/node_modules/moment/min/moment.min.js")
    script(src="/js/buzzProgressModule.min.js")
    script(src="/js/buzzHeaderModule.min.js")
    script.
        angular.bootstrap(document.getElementById("profile"), ['buzzHeaderModule']);
