doctype html
html
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=375, user-scalable=no")
    title='Buzzbuzz English'
    link(href="/public/css/style.min.css?2017-03-03", rel="stylesheet")
body
    style.
        .init {
            display: none;
        }
        .init.done {
            display: initial;
        }
        body {
            margin: 0px;
        }
        .body {
            width: 375px;
            position: relative;
            margin: 0 auto;
        }
        .hidden {
            visibility: hidden;
        }
        .column {
            display: inline-block;
        }
        .row.special {
            height: 10rem;
        }
        .row {
            display: block;
            position: relative;
            width: 375px;
        }
        .row .box {
            width: 21.5rem;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        .row.blank {
            width: 21.5rem;
            height: 1rem;
        }
        .process-head {
            text-align: left;
            border-left: 4px solid #f9b600;
            font-size: 0.9rem;
            height: 1rem;
            line-height: 1rem;
        }
        .process-content {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            border-top: 2px solid #f9b600;
            border-bottom: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
        }
        .chart,
        .learn,
        .calander {
            display: inline-block;
            text-align: center;
        }
        .calander {
            height: 3rem;
            line-height: 3rem;
        }
        .expand-calander {
            line-height: 2rem;
        }
        .expand-chart.left {
            font-size: 0.85rem;
            line-height: 2.5rem;
            height: 2.5rem;
            width: 85%;
            display:inline-block;
            vertical-align:top;
        }
        .expand-chart.small.left {
            font-size: 0.75rem;
            line-height: 2.5rem;
            height: 2.5rem;
            width: 55%;
            display:inline-block;
            vertical-align:top;
        }
        .expand-calander.left {
            font-size: 1.5rem;
            line-height: 2.5rem;
            height: 2.5rem;
            width: 85%;
            display:inline-block;
            vertical-align:top;
        }
        .expand-chart.right,
        .expand-calander.right {
            height: 2.5rem;
            line-height: 2.5rem;
            width: 15%;
            display:inline-block;
            vertical-align:top
        }
        .expand-chart.small.right {
            height: 2.5rem;
            line-height: 2.5rem;
            font-size: 0.75rem;
            width: 45%;
            display:inline-block;
            vertical-align:top;
            text-align: right;
        }
        .expand-chart.row,
        .expand-calander.row {
            width: 100%;
        }
        .expand-calander.unit {
            width: 14.25%;
            text-align: center;
        }
        .expand-calander.unit.invalid {
            color: #bbbbbb;
        }
        .expand-calander.unit.current {
            color: #f9b600;
        }
        .expand-calander.unit.signed {
            color: #ff0000!important;
        }
        .expand-calander.unit.now {
            color: #ffffff;
            background-color: #f9b600;
        }
        .learn {
            height: 5rem;
            font-size: 0.85rem;
            vertical-align: top;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        .chart {
            height: 3rem;
            line-height: 3rem;
        }
        .chart.left {
            width: 15rem;
            font-size: 0.85rem;
            border-right: 1px solid #cccccc;
        }
        .chart.right {
            width: 6.4rem;
        }
        .chart img {
            width: 1.56rem;
        }
        .learn .content {
            text-align: left;
        }
        .learn .text-content {
            height: 5rem;
            line-height: 2rem;
        }
        .learn img {
            width: 1.2rem;
            margin-left: 0.1rem;
            margin-right: 0.1rem;
        }
        .learn.left {
            width: 6rem;
            border-right: 1px solid #cccccc;
        }
        .learn.middle {
            width: 6rem;
            border-right: 1px solid #cccccc;
        }
        .learn.right {
            width: 6rem;
        }
        .calander.left {
            width: 16rem;
            font-size: 0.85rem;
            border-right: 1px solid #cccccc;
        }
        .calander.right {
            width: 5.4rem;
        }
        .calander img {
            width: 1.56rem;
        }
        .valign-middle {
            vertical-align: middle;
        }
        .font.grey {
            color: #cccccc;
        }
        .font.black {
            color: #333333;
        }
        .font.orange {
            color: #f9b600;
        }
        .account.column {
            width: 16%;
            display: inline-block;
            vertical-align: top;
        }
        .account.column .head{
            margin-top: 3rem;
            height: 2rem;
            line-height: 2rem;
        }
        .pic.column {
            width: 36%;
            display: inline-block;
        }
        .pic.column .img{
            height: 7rem;
            line-height: 7rem;
            text-align: center;
        }
        .pic.column .img img{
            width: 80%;
            border-radius: 50%;
            vertical-align: middle;
        }
        .pic.column .text{
            text-align: center;
        }
        .account {
            height: 9rem;
            font-size: 0.9rem;
            text-align: center;
        }
        .bold {
            font-weight: bold;
        }
                .chart-box {
            position: absolute;
        }
        .chart-box {
            position: absolute;
            z-index: 20;
        }
        .chart-box .part {
            position: absolute;
            overflow: hidden;
            width: calc(50% + 1px);
            height: 50%;
            z-index: 20;
        }
        .chart-box .part .shape{
            position: absolute;
            width: calc(200% - 4px); 
            height: calc(200% - 4px);
            border: 2px solid #3366ff;
            border-radius: 50%;
        }
        .chart-box.down .part.left {
            left: 0%;
            top: 0%;
        }
        .chart-box.down .part.right {
            left:calc(50% - 1px);
            top:50%;
        }
        .chart-box.down .left.part .shape{
            top:0%;
            left:-100%; 
        }
        .chart-box.down .right.part .shape{
            top:-100%;
            left:0%;
        }
        .chart-box.up .part.left {
            top: 50%;
            left: 0%;
        }
        .chart-box.up .part.right {
            top: 0%;
            left: calc(50% - 1px);
        }
        .chart-box.up .left.part .shape{
            top:-100%;
            left:-100%; 
        }
        .chart-box.up .right.part .shape{
            top:0%;
            left:0%;
        }
        .chart-box:after,
        .chart-box:before {
            content: "";
            display: block;
            position: absolute;
            background-color: #3366ff;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            border: 2px solid #3366ff;
            z-index: 20;
        }
        .chart-box.down:before {
            top: -2px;
            left: -2px;
        }
        .chart-box.down:after {
            top: calc(100% - 4px);
            left: calc(100% - 2px);
        }
        .chart-box.up:before {
            top: calc(100% - 4px);
            left: -2px;
        }
        .chart-box.up:after {
            top: -2px;
            left: calc(100% - 2px);
        }
        .chart-box.eval:before {
            top: -3px;
            left: -2px;
        }
        .chart-box.eval:after {
            top: -3px;
            left: calc(100% - 2px);
        }
        .chart-box.eval {
            border: 1px solid #3366ff;
            height: 0px;
        }
        .chart-box.eval .left.part{
            display: none;
        }
        .chart-box.eval .right.part{
            display: none;
        }
        .chart-element {
            position: absolute;
        }
        .chart-element.row {
            border: 1px solid #cccccc;
            height: 0px;
        }
        .chart-element.column {
            border: 1px solid #cccccc;
            width: 0px;
        }
        .chart-element.row-text.right,
        .chart-element.row-text.left {
            font-size: 0.65rem;
            width: 1rem;
            text-align: right;
        }
        .chart-element.row-text.right {
            left: 20rem;
        }
        .chart-element.column-text {
            font-size: 0.65rem;
            width: 3rem;
            text-align: left;
        }
        .chart-main .chart-box {
            width: 3.6rem;
        }
        .chart-bar {
            width: 1rem;
            background-color: #f9b600;
            position: absolute;
            z-index: 5;
        }
    .body(ng-app="buzzProgressModule").init
        .row.special(id="profile", ng-controller="headerCtrl")
            .box
                .account.column
                    .text.head.font.black Level
                    .text.content.font.black.bold A
                .account.column
                    .text.head.font.black Lesson
                    .text.content.font.black.bold 20
                .pic.column
                    .img
                        img(ng-src="{{profile.avatar || '/public/images/default_avatar.png'}}")
                    .text(ng-bind="profile.real_name")
                .account.column
                    .text.head.font.black
                        img(ng-src="/public/images/points.png")
                    .text.content.font.black.bold 200
                .account.column
                    .text.head.font.black
                        img(ng-src="/public/images/medal.png")
                    .text.content.font.black.bold 5
        .row
            .box.process-head 练习打卡日历
        .row.blank
        .row( ng-controller="calendarCtrl")
            .box.process-content(ng-if="!expanded")
                .calander.left
                    span.font.grey 你来到BUZZ BUZZ已有：
                    span.font.black 20 Days
                .calander.right(ng-click="expandContent(true)")
                    img.valign-middle(src="/public/images/calander.png")
            .box.process-content(ng-if="expanded")
                .expand-calander.row
                    .expand-calander.left.font.orange {{current | date: 'MMM, yyyy'}}
                    .expand-calander.right(ng-click="expandContent(false)")
                        img.valign-middle(style="width:1.86em",src="/public/images/calander_off.png")
                .expand-calander.row.blank
                .expand-calander.row.blank
                .expand-calander.row(style="color: #999999;")
                    .expand-calander.unit.column 日
                    .expand-calander.unit.column 一
                    .expand-calander.unit.column 二
                    .expand-calander.unit.column 三
                    .expand-calander.unit.column 四
                    .expand-calander.unit.column 五
                    .expand-calander.unit.column 六
                .expand-calander.row.blank
                .expand-calander.row(ng-repeat="week in extendedweekdays")
                    .expand-calander.unit.column(ng-repeat="day in week", ng-class="{'invalid': !day.iscurrentmonth,'now': day.istoday,'signed': day.goodness!==''}") {{day.date.getDate()}}
                    .expand-calander.row.blank
                .expand-calander.row.blank
        .row.blank
        .row.blank
        .row
            .box.process-head 学习进度
        .row.blank
        .row
            .box.process-content
                .learn.left
                    .title 练习全对
                    .content
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                        img(src="/public/images/correct.png")
                .learn.middle
                    .title 练习有错
                    .content
                        img(src="/public/images/wrong_1.png")
                        img(src="/public/images/wrong_2.png")
                .learn.right
                    .title 打败多少对手
                    .text-content 2028
        .row.blank
        .row.blank
        div()
            .row
                .box.process-head 历史曲线
            .row.blank
            .row(ng-controller="chartCtrl")
                .box.process-content(ng-if="!expanded")
                    .chart.left
                        span.font.grey 你已累计学习了
                        span.font.black 1200个
                        span.font.grey 单词
                    .chart.right(ng-click="expandContent(true)")
                        img.valign-middle(src="/public/images/chart.png")
                .box.process-content(ng-if="expanded")
                    .expand-chart.row
                        .expand-chart.left.font.orange 
                            span.font.grey 你已经累计学习了
                            span.font.black 1200
                            span.font.grey 个单词
                        .expand-chart.right(ng-click="expandContent(false)")
                            img.valign-middle(style="width:1.6em",src="/public/images/chart_off.png")
                    .expand-chart.row
                        .expand-chart.small.left.font.orange
                            img(style="vertical-align:middle;width:1.5rem",src="/public/images/mini_bar.png")
                            span.font.grey 你累计学习单词词量：个/周
                        .expand-chart.small.right
                            img(style="vertical-align:middle;width:1.5rem",src="/public/images/mini_chart.png")
                            span.font.grey 系统整体排名：名/周
                    .expand-chart.row
                        .chart-main(style="height: 13rem;")
                            .chart-element.column(style="left: 1.5rem;height: 11rem;")
                            .chart-element.row(style="top: 11rem;left: 1.5rem;width: 18rem;")
                            .chart-element.column(style="left: 19.5rem;height: 11rem;")
                            .chart-element.row-text.left(style="top: 0.7rem") 200
                            .chart-element.row-text.left(style="top: 3.2rem;") 150
                            .chart-element.row-text.left(style="top: 5.7rem;") 100
                            .chart-element.row-text.left(style="top: 8.2rem;") 50
                            .chart-element.row-text.left(style="top: 10.7rem;") 0
                            .chart-element.row-text.right(style="top: 0.7rem") 100%
                            .chart-element.row-text.right(style="top: 3.2rem;") 75%
                            .chart-element.row-text.right(style="top: 5.7rem;") 50%
                            .chart-element.row-text.right(style="top: 8.2rem;") 25%
                            .chart-element.row-text.right(style="top: 10.7rem;") 0%
                            .chart-element.row(style="top: 1rem;left:1.5rem;width:0.5rem;")
                            .chart-element.row(style="top: 3.5rem;left:1.5rem;width:0.5rem;")
                            .chart-element.row(style="top: 6rem;left:1.5rem;width:0.5rem;")
                            .chart-element.row(style="top: 8.5rem;left:1.5rem;width:0.5rem;")
                            .chart-element.row(style="top: 11rem;left:1.5rem;width:0.5rem;")
                            .chart-element.row(style="top: 1rem;left:19rem;width:0.5rem;")
                            .chart-element.row(style="top: 3.5rem;left:19rem;width:0.5rem;")
                            .chart-element.row(style="top: 6rem;left:19rem;width:0.5rem;")
                            .chart-element.row(style="top: 8.5rem;left:19rem;width:0.5rem;")
                            .chart-element.row(style="top: 11rem;left:19rem;width:0.5rem;")
                            .chart-element.column-text(style="top: 11.5rem;left:2.5rem") 第一周
                            .chart-element.column-text(style="top: 11.5rem;left:6.1rem") 第二周
                            .chart-element.column-text(style="top: 11.5rem;left:9.7rem") 第三周
                            .chart-element.column-text(style="top: 11.5rem;left:13.3rem") 第四周
                            .chart-element.column-text(style="top: 11.5rem;left:16.9rem") 第五周
                            .chart-element.column(style="top: 10.5rem;left:5.1rem;height:0.5rem;")
                            .chart-element.column(style="top: 10.5rem;left:8.7rem;height:0.5rem;")
                            .chart-element.column(style="top: 10.5rem;left:12.3rem;height:0.5rem;")
                            .chart-element.column(style="top: 10.5rem;left:15.9rem;height:0.5rem;")
                            .chart-box(ng-repeat="chartdata in m_linedata", ng-class="chartdata.shapeClass", style="left:{{3.6+$index*3.6}}rem;top:{{(100-chartdata.point)/10+1}}rem;height:{{chartdata.height/10}}rem")
                                .part.left
                                    .shape
                                .part.right
                                    .shape
                            .chart-bar(ng-repeat="bardata in data[1] track by $index", style="left: {{3+$index*3.6}}rem;top:{{11-bardata/200*10}}rem;height:{{bardata/200*10}}rem")
        .row.blank
        .row.blank
        .row.blank
        .row.blank
        .row.blank
    include ../tail.pug
    include ../../js
    script(src="/node_modules/chart.js/dist/Chart.js?2017-03-03")
    script(src="/node_modules/angular-chart.js/dist/angular-chart.min.js?2017-03-03")
    script(src="/js/quizModule.min.js?2017-03-03")
    script(src="/js/DateModule.min.js?2017-03-03")
    script(src="/node_modules/moment/min/moment.min.js?2017-03-03")
    script(src="/js/buzzProgressModule.min.js?2017-03-06")
    script(src="/js/buzzHeaderModule.min.js?2017-03-03")
    script.
        angular.bootstrap(document.getElementById("profile"), ['buzzHeaderModule']);
        Array.from(document.getElementsByClassName("init")).forEach(function(ele){
            ele.className = ele.className.split(' ').concat("done").join(" ");
        });
