extends ../vedio_layout

block js
    + js("/node_modules/quiz-adapter/main.js")
    + js("/js/quizModule.min.js")
    + js("/js/buzzModule.min.js")
    + js("/lib/jwplayer/jwplayer.js")
    script.
        jwplayer.key = 'lG24bAGJCRLF1gi4kajg4EnUKi+ujyUyKMoSNA==';
    + js("/js/level-ctrl.min.js")

block head
    + css("/public/css/modal.min.css")
    + css("/public/css/button.min.css")
    style.
        body {
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat 0 0;
            background-size: cover;
            background-attachment: fixed;
        }

mixin videoPlayer
    .center.aligned.container.column.flex-box.transparent
        iframe.row.content.white.background(ng-src="{{src}}" ng-controller="VideoPlayerCtrl", style="border:none; width: 100%;", allowfullscreen)

block content
    .full.height.container(ng-app="buzzModule", ng-controller="UpdateHitsCtrl")
        if hcd_user
            .page.with-header.with-footer.section.transparent
                + videoPlayer
        else
            .page.with-header.section.transparent
                + videoPlayer
        include ../../partial/ask-for-login-modal
    if hcd_user
        include ../tail.pug
        + tailcontent(true,  false, false, false)


    include ../../js

