extends ../vedio_layout

block js
    + js("/node_modules/quiz-adapter/main.js")
    + js("/js/quizModule.min.js")
    + js("/js/buzzModule.min.js")
    + js("/lib/jwplayer/jwplayer.js")
    script.
        jwplayer.key = 'lG24bAGJCRLF1gi4kajg4EnUKi+ujyUyKMoSNA==';
    + js("/js/level-ctrl.min.js")

block head
    + css("/public/css/modal.min.css")
    + css(`${config.cdn}/public/css/button.min.css?${config.version}`)
    style.
        body {
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat 0 0;
            background-size: cover;
            background-attachment: fixed;
        }

mixin videoPlayer
    .center.aligned.container.column.flex-box.transparent
        iframe.row.content.white.background(ng-src="{{src}}" ng-controller="VideoPlayerCtrl", style="border:none; width: 100%;", allowfullscreen)

block content
    .full.height.container(ng-app="buzzModule", ng-controller="UpdateHitsCtrl")
        if hcd_user
            .page.with-header.with-footer.section.transparent
                + videoPlayer
        else
            .page.with-header.section.transparent
                + videoPlayer

        #login.mask(ng-controller="loginModalCtrl", ng-class="{'hide': hideModal, 'show': showModal}")
            .popup(ng-click="keepModal($event)", style="max-width: 250px;")
                .body(style="padding: 1em;")
                    .center.aligned.container(ng-cloak)
                        img(src="http://resource.buzzbuzzenglish.com/image22_03.png", style="max-width: 180px;")
                        p 意犹未尽？戳这里注册登录获取完整内容，最炫视频加配套练习！
                        p
                            a.yellow.button(href="/m/sign-in", style="padding-left: 2em!important; padding-right: 2em!important;") 已有账号，去登录
                        p
                            a.linear.basic.button(href="/m/sign-up", style="padding-left: 2em!important; padding-right: 2em!important;") 没有账号，去注册

    if hcd_user
        include ../tail.pug
        + tailcontent(true,  false, false, false)


    include ../../js

