extends ../vedio_layout

block js
    + js("/node_modules/quiz-adapter/main.js")
    + js("/js/quizModule.min.js")
    + js("/js/buzzModule.min.js")
    + js("/lib/jwplayer/jwplayer.js")
    script.
        jwplayer.key = 'lG24bAGJCRLF1gi4kajg4EnUKi+ujyUyKMoSNA==';
    + js("/js/level-ctrl.min.js")

block head
    + css("/public/css/modal.min.css")
    + css("/public/css/button.min.css")
    style.
        body {
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat 0 0;
            background-size: cover;
            background-attachment: fixed;
        }

        .cube, .cube .cube-side {
            width: auto;
            height: auto;
            min-height: 400px;
        }
        .arrow{
            padding-top: .2em;
        }
        .left.arrow{
            display: inline-block;
            width: 70%;
        }
        .right.arrow{
            display: inline-block;
            width: 30%;
            text-align: right;
            padding-right: 1rem;
        }


        .wechat-share-img {
            display: none;
        }

mixin videoPlayer
    .center.aligned.container.column.flex-box.transparent
        iframe.row.content.white.background(ng-src="{{src}}" ng-controller="VideoPlayerCtrl", style="border:none; width: 100%;", allowfullscreen)

mixin quiz
    .center.aligned.container.column.white.background.row.content
        .tabular.menu(ng-controller="page2ParentCtrl")
            .item.middle(ng-class="{'active': $root.tabularIndex===1}",ng-click="$root.tabularIndex=1")
                span.iconleft
                span.tag >
                span.title.word Today's Vocabulary
                br
                span.word 今日单词

            .div
                .item(ng-show="$root.tabularIndex===1",ng-controller="newWordCtrl",style="position:relative;")
                    .left.arrow(ng-click="turnWord(false)",ng-class="{'hidden':wordIndex===0}")
                        span.icon-circle-left
                    .right.arrow(ng-click="turnWord(true)",ng-class="{'hidden':wordIndex===WORD_MAX_INDEX}")
                        span.icon-circle-right
                    .vocabulary.container.cube(ng-class="{'init': initStatus==='true', 'rtom':animateDirection==='rtom','ltom':animateDirection==='ltom','ttom':animateDirection==='ttom','btom':animateDirection==='btom','side-a':currentID==='word-1', 'side-b':currentID==='word-2', 'lock':!actionLock}")
                        .cube-side.side-a
                            iframe(id="word-1",frameborder="0",style="width: 100%; min-height: 400px;")
                        .cube-side.side-b
                            iframe(id="word-2",frameborder="0",style="width: 100%;min-height: 400px;")
            .item(ng-class="{'active': $root.tabularIndex===2}",ng-click="$root.tabularIndex=2")
                span.iconleft
                span.tag >
                span.title.word Daily Exercis
                br
                span.word 每日练习

            .div
                .item(ng-show="$root.tabularIndex===2",ng-controller="quizCtrl")
                    .left.arrow(ng-click="turnQuiz(false)",ng-class="{'hidden':quizIndex===0}")
                        span.icon-circle-left
                    .right.arrow(ng-click="turnQuiz(true)",ng-class="{'hidden':quizIndex>=quizLimit}")
                        span.icon-circle-right
                    .exercise.container.cube(ng-class="{'init': initStatus==='true', 'rtom':animateDirection==='rtom','ltom':animateDirection==='ltom','side-a':currentID==='quiz-1', 'side-b':currentID==='quiz-2', 'lock':!actionLock}")
                        .cube-side.side-a
                            iframe(id="quiz-1",frameborder="0",style="width: 100%;min-height: 400px;")
                        .cube-side.side-b
                            iframe(id="quiz-2",frameborder="0",style="width: 100%;min-height: 400px;")


            //.item(ng-class="{'active': $root.tabularIndex===3}",ng-click="$root.tabularIndex=2")
            //    span.iconleft
            //    span.tag >
            //    span.title.word Weekly Quiz
            //    br
            //    span.word 每周测试

block content
    .wechat-share-img
        img(src="http://resource.buzzbuzzenglish.com/image2.jpg")
    #full-page.full.height.container(ng-app="buzzModule", ng-controller="UpdateHitsCtrl")
        if hcd_user
            a.page-pos(name="page-1")
            .page.with-header.section.transparent
                + videoPlayer
            a.page-pos(name="page-2")
            .with-footer.page.section.flex-box.scrolly(ng-controller="page2ParentCtrl")
                + quiz
        else
            a.page-pos(name="page-1")
            .page.with-header.section.transparent
                + videoPlayer
            a.page-pos(name="page-2")
            .page.section.flex-box.scrolly(ng-controller="page2ParentCtrl")
                + quiz
        include ../../partial/ask-for-login-modal
    if hcd_user
        include ../tail.pug
        + tailcontent(true,  false, false, false)


    include ../../js

