extends ../vedio_layout

block js
    + js("/node_modules/quiz-adapter/main.js")
    + js('/js/parserModule.min.js')
    + js("/js/quizModule.min.js")
    + js("/js/DateModule.min.js")
    + js("/js/buzzModule.min.js")
    + js("/js/buzzModule/weeklyQuizCtrl.min.js")
    + js("/lib/jwplayer/jwplayer.js")
    script.
        jwplayer.key = 'lG24bAGJCRLF1gi4kajg4EnUKi+ujyUyKMoSNA==';
    + js("/js/level-ctrl.min.js")
    script.
        var frames = document.getElementsByTagName('iframe');

        function adjustIframeHeight() {
            try {
                for (var i = 0; i < frames.length; i++) {
                    var subWeb = frames[i].contentDocument;

                    frames[i].style.height = subWeb.body.scrollHeight + 'px';

                    break;
                }
            } catch (ex) {
            }
        }

        setInterval(adjustIframeHeight, 500);

block head
    + css("/public/css/modal.min.css")
    + css("/public/css/button.min.css")
    style.
        @media screen and (max-width: 720px) {
            .tabular.menu {
                border-bottom: solid 1px #f7b52a;
                text-align: left;
                background-color: #dddddd;
                overflow: hidden;
                height: auto;
                margin-bottom: 1em;
            }

            .tabular.menu .item {
                position: relative;
                background-color: white;
                display: block;
                width: 100%;
                color: #666;
                margin: 1em 0;
                text-align: left;
                line-height: 1em;
                font-size: 1em;
                border-top-left-radius: 0;
                border-top-right-radius: 0;

            }

            .tabular.menu .item.middle {
                width: 100%;
            }

            .tabular.menu .item:hover {
            }

            .tabular.menu .item.active {
                background-color: white;
                color: black;
            }

            .tabular.menu .item .icon {
                margin-right: 0.2em;
                vertical-align: text-top;
            }

            .tabular.menu .item span.iconleft {
                height: 100%;
                width: 20%;
            }

            .tabular.menu .item .word {
                margin: 0;
                line-height: 1.5em;
                font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }

            .tabular.menu .item .title {
                color: #f7b52a;
                vertical-align: text-bottom;
            }

            .tabular.menu .item span.tag {
                color: #f7b52a;
                height: 100%;
            }
        }

        body {
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat 0 0;
            background-size: cover;
            background-attachment: fixed;
        }

        .cube, .cube .cube-side {
            width: auto;
            height: auto;
            min-height: 400px;
        }

        .arrow {
            padding-top: .2em;
        }

        .left.arrow {
            display: inline-block;
            width: 70%;
        }

        .right.arrow {
            display: inline-block;
            width: 30%;
            text-align: right;
            padding-right: 1rem;
        }

        .wechat-share-img {
            display: none;
        }

        .uiz_title_panel, .inProgress {
            display: none;
        }

        .tabular.menu .item {
            padding: 1em 1.5em;
            position: relative;
            display: flex;
            align-items: center;
        }

        .item .tag {
            align-self: center;
            text-align: right;
            flex: 1;
        }

        .titlecontainer {
            flex: 3;
            display: block;
        }

        .imagecontainer {
            flex: 1;
        }

        a.exercisebutton {
            width: 45%;
            height: 100%;
            display: inline-block;
            margin: 0;
            padding: 0 !important;
            line-height: 2.5em;
            text-align: center;
        }

        a.exercisebutton2 {
            width: 90%;
            height: 100%;
            display: inline-block;
            margin: 0;
            padding: 0 !important;
            line-height: 2.5em;
            text-align: center;
        }

        div#space {
            width: 5%;
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        #word-1 .quiz_title_panel, .inProgress {
            display: none !important;
        }

        .cube-side {
            width: 100% !important;
        }

        .weekly-grade {
            width: 100%;
            margin: 10px auto;
            border: 1px solid #bbb;
            border-radius: 2px;
            padding: 1em 0;
        }

        .grade-title {
            min-height: 2em;
            line-height:2em;
            text-align: center;
            width: 100%;
            margin: 0 auto;
        }

        .grade-body {
            width: 80%;
            margin: 1em auto;
        }

        .grade-body > div {
            border: 1px solid #bbb;
            border-radius: 2px;
        }

        .grade-body .course {
            padding:0 5%;
            width: 100%;
        }

        .course .title {
            text-align: left;
            display:inline-block;
            width:30%;
        }

        .course .span {
            color: red;
            font-size: 1em;
            padding: .5em 0;
            font-weight: 100;
            display:inline-block;
            width:70%;
            text-align: center;
        }

        .grade-body .content {
            width: 65%;
        }

        .grade-body .content > .title {
            font-weight: bold;
        }

        .grade-body .content > div {
            height: 2em;
            line-height: 2em;
            width: 100%;
            border-bottom: 1px solid #bbb;
            padding: 0;
            margin: 0;
        }

        .progress {
            margin: 20px;
            width: 87%;
        }

        .progress > span {
            width: 10%;
        }

        .progress > .percent {
            display: inline-block;
            width: 85%;
            padding: 0;
            margin: 0 0 0 3%;
            background-color: rgba(249, 182, 0, .5);
            height: 100%;
        }

        .progress > .percent > .tab {
            height: 100%;
            background-color: rgb(249, 182, 0);
        }

        .exercise-container > div {
            padding: 0;
            margin: 0;
            display: inline-block;
        }

        .exercise-container {
            position: relative;
        }

        .exercise-container > .right.arrow {
            position: absolute;
            top: 40%;
        }

        .detail > div {
            display: inline-block;
            width: 25%;
            text-align: center;
        }

mixin itemBar(imageSrc, title, subTitle)
    .item.middle&attributes(attributes)
        div.imagecontainer
            image(src=imageSrc style="width: 3em;")
        div.titlecontainer
            p.title.word #{title}
            p.word #{subTitle}
        span.tag >

mixin videoPlayer
    .center.aligned.container.transparent
        iframe.white.background(ng-src="{{src}}" ng-controller="VideoPlayerCtrl", style="border:none; width: 100%; display: block;", allowfullscreen)

mixin quiz
    .center.aligned.container.column.white.background.row.content
        .tabular.menu(ng-controller="page2ParentCtrl")
            + itemBar('/public/images/exersise1.png',"Today's Vocabulary", "今日单词")(ng-class="{'active': $root.tabularIndex===1}",ng-click="tagToggle(1)")
            div(ng-show="$root.tabularIndex===1",ng-controller="newWordCtrl",style="padding: 5px 10px; background-color: white;")
                .vocabulary.container.cube(ng-class="{'init': initStatus==='true', 'rtom':animateDirection==='rtom','ltom':animateDirection==='ltom','ttom':animateDirection==='ttom','btom':animateDirection==='btom','side-a':currentID==='word-1', 'side-b':currentID==='word-2', 'lock':!actionLock}")
                    .cube-side.side-a
                        iframe(id="word-1",frameborder="0",style="width: 100%; min-height: 400px;")
                    .cube-side.side-b
                        iframe(id="word-2",frameborder="0",style="width: 100%;min-height: 400px;")
                    .exersise-progress(style='height:44px;position:absolute;top:0;width:100%;background-color:#fff;text-align:center;line-height:44px;')  {{wordIndex+1}}/{{WORD_MAX_INDEX+1}}
                div(style="display: flex; margin-top: 5px;")
                    a.button.yellow.exercisebutton(ng-show="isWordMode&&hasWordMode",ng-click="changeWordMode(false)", style="flex: 1;") 进入练习
                    a.button.yellow.exercisebutton(ng-show="!isWordMode&&hasWordMode",ng-click="changeWordMode(true)", style="flex: 1;") 显示词汇
                    div#space
                    a.button.yellow.exercisebutton(ng-click="turnWord(true)",ng-class="{'hidden':wordIndex===WORD_MAX_INDEX}", style="flex: 1;") 下一题
            + itemBar('/public/images/exersise2.png', "Daily Exercise", "每日练习")(ng-class="{'active': $root.tabularIndex===2}",ng-click="tagToggle(2)")

            .div(ng-show="$root.tabularIndex===2",ng-controller="quizCtrl",style="padding: 5px 10px; background-color: white;")
                .exercise.container.cube(ng-class="{'init': initStatus==='true', 'rtom':animateDirection==='rtom','ltom':animateDirection==='ltom','side-a':currentID==='quiz-1', 'side-b':currentID==='quiz-2', 'lock':!actionLock}")
                    .cube-side.side-a
                        iframe(id="quiz-1",frameborder="0",style="width: 100%;min-height: 400px;")
                    .cube-side.side-b
                        iframe(id="quiz-2",frameborder="0",style="width: 100%;min-height: 400px;")
                    .exersise-progress(style='height:44px;position:absolute;top:0;width:100%;background-color:#fff;text-align:center;line-height:44px;')  {{quizIndex+1}}/{{quizLimit+1}}
                div(style="display: flex; margin-top: 5px; text-align: center;")
                    a.fluid.button.yellow(ng-click="turnQuiz(true)",ng-class="{'hidden':quizIndex>=quizLimit}") 下一题
            + itemBar('/public/images/exersise3.png', "Weekly Quiz", "每周测试")(ng-class="{'active': $root.tabularIndex===3}",ng-click="tagToggle(3)")
            .item(ng-show="$root.tabularIndex===3", ng-controller="weeklyQuizCtrl",style='margin-bottom:4em;')
                p sorry,正在建设中...

block content
    .wechat-share-img
        img(src="http://resource.buzzbuzzenglish.com/image2.jpg")
    .container(ng-app="buzzModule", ng-controller="UpdateHitsCtrl")
        if hcd_user
            .page.with-header.section.transparent
                + videoPlayer
            .with-footer.page.section.flex-box.scrolly(ng-controller="page2ParentCtrl")
                + quiz
        else
            .page.with-header.section.transparent
                + videoPlayer
            .page.section.flex-box.scrolly(ng-controller="page2ParentCtrl")
                + quiz
        include ../../partial/ask-for-login-modal
    if hcd_user
        include ../tail.pug
        + tailcontent(true,  false, false, false)
    include ../../js
    + js("/js/wechat-share.js")

