extends ../video_layout

block js
    + js('/js/parserModule.min.js')
    + js("/js/quizModule.min.js")
    + js("/js/DateModule.min.js")
    + js("/js/buzzModule.min.js")
    + js("/js/buzzModule/encouraging-sharing.min.js")
    + js("/js/buzzModule/quizCtrl.min.js")
    + js("/js/buzzModule/newWordCtrl.min.js")
    + js("/js/buzzModule/weeklyQuizCtrl.min.js")
    + js("/lib/jwplayer/jwplayer.js")
    script.
        jwplayer.key = 'lG24bAGJCRLF1gi4kajg4EnUKi+ujyUyKMoSNA==';
    + js("/js/level-ctrl.min.js")
    script.
        var frames = document.getElementsByTagName('iframe');

        function adjustIframeHeight() {
            try {
                for (var i = 0; i < frames.length; i++) {
                    var subWeb = frames[i].contentDocument;

                    frames[i].style.height = subWeb.body.scrollHeight + 'px';

                    break;
                }
            } catch (ex) {
            }
        }

        setInterval(adjustIframeHeight, 500);

block head
    + css("/public/css/modal.min.css")
    + css("/public/css/button.min.css")
    
    <!-- Only required for desktop -->
    + css("/node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css")

    <!-- Always required -->
    + css("/node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css")

    <!-- Only required for desktop -->
    + css("/node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css")
    style.
        * {
            font-family:  "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        body {
            background-color: #dddddd;
        }

        .wechat-share-img {
            display: none;
        }

mixin itemBar(imageSrc, title, subTitle)
    a.list-group-item&attributes(attributes)
        image(src=imageSrc, style="max-width: 40px; max-height: 40px; ")
        div(style="margin-left: 1em; ")
            div(style="white-space: nowrap; color: #f7b52a;") #{title}
            div #{subTitle}
        i.fa.fa-chevron-right(style="color: #f7b52a;")

mixin videoPlayer
    .center.aligned.transparent
        iframe.white.background(ng-src="{{src}}" ng-controller="VideoPlayerCtrl", style="border:none; width: 100%; display: block;", allowfullscreen)

mixin quiz
    .list-group(ng-controller="page2ParentCtrl")
        + itemBar('/public/images/exersise1.png',"Today's Vocabulary", "今日单词")(ng-click="switchToTab(1)",ng-cloak, style="border-bottom: none;")
        div &nbsp;
        + itemBar('/public/images/exersise2.png', "Daily Exercise", "每日练习")(ng-click="switchToTab(2)",ng-cloak, style="border-bottom:none;")
        div &nbsp;
        + itemBar('/public/images/exersise3.png', "Weekly Quiz", "每周测试")(ng-click="switchToTab(3)", ng-controller="weeklyQuizTabCtrl", ng-show="showWeeklyQuiz",ng-cloak, style="border-bottom:none;")

block content
    .wechat-share-img
        img(src="http://resource.buzzbuzzenglish.com/image2.jpg")
    div(ng-app="buzzModule", ng-controller="UpdateHitsCtrl")
        sharing
        .scrollable
            .scrollable-content
                .with-header.transparent
                    + videoPlayer
                div &nbsp;
                .with-footer.flex-box.scrolly(ng-controller="page2ParentCtrl")
                    + quiz
        include ../../partial/ask-for-login-modal
    if hcd_user
        include ./partials/footer
    include ../../js
