extends ../../m/mobile-layout

block meta
    style.
        html{
            height:auto !important;
            overflow: auto;
        }

block js
    script.
        angular.module('mobileModule')
            .run(['$rootScope', function ($rootScope) {
            }])
        ;
block content
    script(type="text/ng-template", id="user-account.html")
        div(ng-controller="userAccountCtrl")
            .ui.equal.width.center.aligned.padded.grid
                .row(style="background:gray")
                    .column(style="color:#fff")
                        i.chevron.circle.down.icon(style="font-size:24px;")
                        .title 余额
                        .account(style="font-size:smaller; margin-left: -1.5rem;" ng-cloak)
                            i.yen.icon {{account}}
        div(style="margin:0 10px;")
            button.fluid.positive.ui.button(style="margin-top:12px;") 充值
            button.fluid.ui.button(style="margin-top:12px;") 提现
            .ui.tertiary.inverted.segment buzz服务
            .ui.segment
                p 分享课程给朋友，我们会根据个人分享情况，给予相应的红包奖励，分享给更多的朋友，你将获得更多的红包奖励，快来行动吧！