mixin js(src, disableCdn)
    - var sep = src.indexOf('?') >= 0 ? '&' : '?';
    - var cdn = disableCdn ?  '' : config.cdn;
    if src.indexOf('/node_modules') === 0 || src.indexOf('/js') === 0
        script(src=cdn + src + sep + 'v=' + config.version, type="text/javascript")&attributes(attributes)
    else
        script(src=src + sep + 'v=' + config.version, type="text/javascript")&attributes(attributes)

mixin css(src, disableCdn)
    - var cdn = disableCdn ? '' : config.cdn;
    link(rel="stylesheet", href=cdn + src + '?' + config.version)