//Created by hank on 2017/6/14.
#loading-model.ui.segment.fetching(style='border: none;min-height: 20em;')
    .ui.active.dimmer.inverted(style='background-color: rgba(255,255,255,.4);')
        .ui.text.loader Loading
    p
