div#survey(style="position: fixed; right: 0; bottom: 100px;")
    a(href="https://www.wenjuan.com/s/aAFjuu/", target="_blank")
        img(src="http://www.wenjuan.com/static/images/sharepic/share_pD.png")
