#survey(ng-controller="surveyCtrl")
    .survey-container(style="position: fixed; right: 0; bottom: 100px;",ng-show="survey" )
        i.remove.circle.outline.icon(style="position:absolute; top:-2px; right:-5px; color: #fff; cursor: pointer", ng-click="close()")   
        a(href="{{surveyUrls}}")
            img(src="http://www.wenjuan.com/static/images/sharepic/share_pD.png")
block content
        include ../js
        + js("/js/components/survey/buzzSurveyModule.min.js")
script.
        angular.element(document).ready(function () {
            angular.bootstrap(document.getElementById('survey'), ['buzzSurveyModule']);
        });

