block content
    script(type="text/ng-template", id="survey.html")
        if !answered
            div#wenjuan.ui.container(style="height: 100%; margin: 0 auto !important;padding: 0;")
                iframe#WJ_survey(name="WJ_survey", width="100%", frameborder="0", src= survey_url, style="min-height: 600px; border: 0; overflow: hidden; allow-transparency: true; height: 100%;")
        else
            .ui.container(style='margin-top: 40px;background-color: white;')
                div=answer || '你已经回答过了'

block js
    + js("/js/buzzHeaderModule.min.js")
    + js('/js/components/spaModuleWithHeader.min.js')
    + js('/js/components/survey/spa-route.min.js')
    script.
        window.addEventListener('message', function (event) {
        if (event.data && event.data.indexOf && event.data.indexOf('redirect://') === 0) {
        console.log('==========redrect==========');
        console.log(event.data.replace('redirect://','').replace('result','my/account'));
        location.href = '/survey?url= ' + localStorage.getItem('wenjuanurl') + '&short_id=' + localStorage.getItem('short_id');
        }
        }, false);