#survey(ng-controller='surveyCtrl')
    .survey-container(style="position: absolute; right: 0px; top: 0px;", ng-show='survey')
        i.remove.circle.outline.icon(style="position:absolute; top:-2px; right:-5px; color: #fff; cursor: pointer", ng-click='closeTarget()')
        a(href="{{surveyUrls}}")
            img(src="http://www.wenjuan.com/static/images/sharepic/share_pD.png")