#survey(ng-controller='surveyCtrl')
    .survey-container(style="position: absolute; right: 0px; top: 0px;", ng-show='survey')
        i.remove.circle.outline.icon(style="position:absolute; top:28px; right:-2px; color: #fff; cursor: pointer", ng-click='closeTarget()')
        a(href="{{surveyUrls}}")
            img(src="/images/survey.png", style="max-height:200px")