if JSON.parse(answer).Q1.answer == '神奇国度迪拜首创机器人警察Robocop都可以抓坏人了，还有什么他不可以？'
    img(src='//resource.buzzbuzzenglish.com/survey-answer1.png', style='margin-bottom: 1rem;')
else if JSON.parse(answer).Q1.answer == '印度小哥的环保发明-可食塑料袋之神秘配方'
    img(src='//resource.buzzbuzzenglish.com/survey-answer2.png', style='margin-bottom: 1rem;')
else if JSON.parse(answer).Q1.answer == '毕业季里奇思妙想的创意毕业照不妨下次同学聚会试一下'
    img(src='//resource.buzzbuzzenglish.com/survey-answer3.png', style='margin-bottom: 1rem;')
else if JSON.parse(answer).Q1.answer == '台湾长荣航空的Hello Kitty梦想航班虽然没坐过，看了就等于坐了！'
    img(src='//resource.buzzbuzzenglish.com/survey-answer4.png', style='margin-bottom: 1rem;')
else if JSON.parse(answer).Q1.answer == '美国总统特朗普握手里暗藏的玄机善于观察的你，在生活里发现了吗？'
    img(src='//resource.buzzbuzzenglish.com/survey-answer5.png', style='margin-bottom: 1rem;')
else
    img(src='//resource.buzzbuzzenglish.com/survey-answer1.png', style='margin-bottom: 1rem;')