script(type="text/ng-template", id="survey.html")
    if !answered
        iframe#WJ_survey(name="WJ_survey", width="100%", frameborder="0", src= survey_url, style="min-height: 600px; border: 0; overflow: hidden; allow-transparency: true; height: 100%;")
    else
        .ui.icon.message(style='margin: 2rem auto; width: 90%; padding: .5rem;')
            i(style='max-width: 180px; width: 60%;')
                img(style='width: 80%;', src='//resource.buzzbuzzenglish.com/survey-selected.png')
            .content
                .head(style='font-size: 1.5rem;')
                    span 选择你最想看的英语奇闻趣事
                p
                - var myAnswer = JSON.parse(answer).Q1
                if (myAnswer) && (myAnswer.answer)  && (myAnswer.answer.indexOf('--') > -1)
                    b= myAnswer.answer.split('--')[0]
                    br
                    span= '---' + myAnswer.answer.split('--')[1]
                else
                    span 我已选择:
                    b='' + (myAnswer ? myAnswer.answer : '')
    if source != 'mobile' && answered
        .ui.message.transition(style='font-size: 1.3rem; width: 90%; margin: 0 auto;')
            p 小提示: 目前只支持微信端分享给好友哦！

script.
    window.addEventListener('message', function (event) {
        if (event.data && event.data.indexOf && event.data.indexOf('refresh://') === 0) {
            location.reload(true);
        }
    }, false);
