extends ../my/layout

block head
    + css('/public/css/vocabulary.min.css')
    + css('/public/css/pagination.min.css')
    + css("/public/css/semantic-ui/semantic.min.css")

    style.
        .ui.grid {
            margin:0!important;
        }
        .ui.grid>* {
            padding-left:0!important;
            padding-right:0!important;
        }
        .table-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
        }
         body {
            text-align: center;
            background: url('http://source.bridgeplus.cn/buzz/skin2.png') repeat 0 0;
            line-height:1.6em;
        }
        .table-column.part1 {
            width: 10%
        }

        .table-column.part2 {
            width: 68%;
        }

        .table-column.part3 {
            width: 7%;
        }

        .table-column.part4 {
            width: 6%;
        }
        .table-column.part5 {
            width: 7%;
        }
        .body-container {
            width: 900px;
            padding-top: 60px;
            padding-bottom: 14px;
            display: inline-block;
            text-align: center;
            background-color: white;
        }
        .button {
            padding: 0.4em;
            background-color: #f7b52a;
            border-radius: 4px;
            color: white;
            width: 80%; 
            text-align: center;
        }
        .table-row.head {
            margin-bottom: 0.6em;
            border-bottom: #f7b52a 4px solid;
        }
        .head .part1 {
            padding-top: 0.4em;
            padding-bottom: 0.4em;
            font-size: 18px;
            font-weight: bold;
            padding-left: 0.5em;
        }

        .head .part3,
        .head .part4,
        .head .part5 {
            padding-top: 1em;
            padding-bottom: 0.4em;
            font-weight: bold;
            font-size: 11px;
        }
        .part1 {
            text-align:center!important;
        }
        .line {
            background-color: #bcbcbc;
            position: absolute;
        }
        .line.head {
            width: 0.6em;
            height: 0.6em;
            border-radius: 50%;
            left: 6.7em;
            top: 0.2em;
        }

        .line.body {
            height: 100%;
            width: 2px;
            left: 98px;
            top:1px;
        }
        .monthday {
            font-size: 10px;
            width:80%;
            display:inline-block;
            height: 20px;
            line-height: 20px;
            text-align: center;
            color:#ddd;
        }
        a:active, a:hover {
            text-decoration: underline;
            color: #f7b52a!important;
        }
        .back-day{
            color:#f7b52a !important;
            font-size: 20px;
        }
        .body .fourteen.wide.column {
            padding:0;
        }
        .body .fourteen.wide.column:after{
            content: "";
            background-color: #cdcdcd;
            width: 100%;
            height: 3px;
            display: block;
            position: absolute;
            bottom: 0;
        }
         .text-with-radio {
            cursor: pointer;
        }

        .text-with-radio i {
            margin-right: 6px;
        }

block content
    include ../partial/svg
    .body-container(ng-app="vocabularyModule", ng-controller="vocabularyCtrl")
        .ui.grid
            .table-row.center.head(ng-controller="vocabularyHeaderCtrl")
                .table-column.part1
                    .button(ng-click="vocabularyPrint()") &#x6253;&#x5370;
                .table-column.part2
                .table-column.part3
                    div(ng-click="checkboxClick(RADIO_TYPE.PASS)" class="text-with-radio")
                        i.icon-checkbox-checked(ng-show="radioBoxType===RADIO_TYPE.PASS")
                        i.icon-checkbox-unchecked(ng-show="radioBoxType!==RADIO_TYPE.PASS")
                        span &#x7406;&#x89E3;
                    //- .button.small(onClick="vocabularyPrint()") &#x6253;&#x5370;
                .table-column.part4
                    div(ng-click="checkboxClick(RADIO_TYPE.FAIL)" class="text-with-radio")
                        i.icon-checkbox-checked(ng-show="radioBoxType===RADIO_TYPE.FAIL")
                        i.icon-checkbox-unchecked(ng-show="radioBoxType!==RADIO_TYPE.FAIL")
                        span &#x4E0D;&#x7406;&#x89E3;
                    //- .button.small(onClick="vocabularyPrint()") &#x6253;&#x5370;
                .table-column.part5
                    div(ng-click="checkboxClick(RADIO_TYPE.NOTTEST)" class="text-with-radio")
                        i.icon-checkbox-checked(ng-show="radioBoxType===RADIO_TYPE.NOTTEST")
                        i.icon-checkbox-unchecked(ng-show="radioBoxType!==RADIO_TYPE.NOTTEST")
                        span &#x672A;&#x7EC3;&#x4E60;
        .ui.two.column.grid.body(ng-repeat="weeklylist in vocabularyAll",ng-cloak)
                .two.wide.column.part1
                    div {{weeklylist.year}}
                    a(ng-href="/my/play?date={{weeklylist.date}}&cat={{weeklylist.category}}&level={{weeklylist.level}}").monthday {{weeklylist.monthDay}}
                    .space
                    a(ng-href="/my/play?date={{weeklylist.date}}&cat={{weeklylist.category}}&level={{weeklylist.level}}").back-day.icon-play2
                    .line.head
                    .line.body
                .fourteen.wide.column(style="padding: 1.5em 0;")
                    table.ui.compact.table(ng-repeat="word in weeklylist.words track by $index",ng-show="radioBoxType===RADIO_TYPE.NONE||word.status === radioBoxType")
                        tbody
                            tr
                                td(style="width:18%;")
                                    span(style="white-space: nowrap;") {{word.name}}
                                td(style="width:18%;")
                                    span {{word.ipc_gb}}
                                    br
                                    span {{word.ipc_us}}
                                td(style="width:5%; color: #f7b52a; font-size: 16px;line-height: 1.6em;")
                                    i.icon-volume-medium
                                td(style="width:35%;")
                                    span {{word.explanation}}
                                td(style="width:8%;")
                                    + pass_pic(ng-show="word.status === RADIO_TYPE.PASS")
                                td(style="width:8%;")
                                    + fail_pic(ng-show="word.status === RADIO_TYPE.FAIL")
                                td(style="width:8%; color: #f7b52a;font-size: 16px; line-height: 1.6em;")
                                    i.icon-question(ng-show="word.status === RADIO_TYPE.NOTTEST")
        br
        include ../../node_modules/angular-service/views/pagination.pug
        + pagination('vocabularyData')
        .popup-mask(style="position:fixed;height:100%;width:100%;background-color:rgba(0,0,0,0.4);top:0;left:0",ng-show="printMode")
        .popup(style="position:fixed;top: 5em;margin:auto;left:0;right:0",ng-show="printMode",ng-click="hidePopup()",ng-cloak)
            iframe(width=800,height=600,frameborder="no",border="0",ng-show="printMode",ng-src="{{$sce.trustAsResourceUrl(printURL)}}")

block js
    + js("/js/DateModule.min.js")
    + js("/js/level-ctrl.min.js")
    + js("/js/quizModule.min.js")
    + js("/js/vocabularyModule.min.js")

block extraMenus
    include ../my/partials/level-switcher