<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Buzz English</title>
    <link rel="stylesheet" href="/public/css/player.css">
    <link rel="stylesheet" href="/public/css/vocabulary-printable.css">
</head>
<body>
    <div class="vocabulary-printable-container">
        <div class="vp-header">
            <img src="/images/logo.png" alt="">
            <div class="vp-signature">
                <span>姓名</span>
                <div class="vp-signature-printable-after"></div>
            </div>
            <div class="vp-signature last">
                <span>家长</span>
                <div class="vp-signature-printable-after"></div>
            </div>
        </div>
        <div class="vp-description">
            <span>*每练习一次请在<i class="icon-checkbox-unchecked"></i>里为自己划上“√”。加油！</span>
        </div>
        <div class="vp-title">
            <div class="vp-title-printable-before"></div>
            <span>第五周理解词汇</span>
            <div class="vp-title-printable-after"></div>
        </div>
        <div class="vp-body">
            <div class="vp-word-check">hair</div>
            <div class="vp-word-check last">hair</div>
            <div class="vp-word-check">hair</div>
            <div class="vp-word-check last">hair</div>
            <div class="vp-word-check">hair</div>
            <div class="vp-word-check last">hair</div>
            <div class="vp-word-check">hair</div>
            <div class="vp-word-check last">hair</div>
            <div class="vp-word-check">hair</div>
            <div class="vp-word-check last">hair</div>
            <div class="vp-word-check">hair</div>
            <div class="vp-word-check last">hair</div>
            <div class="vp-word-check">hair</div>
            <div class="vp-word-check last">hair</div>
            <div class="vp-word-check">hair</div>
            <div class="vp-word-check last">hair</div>
            <div class="vp-word-check">hair</div>
            <div class="vp-word-check last">hair</div>
            <div class="vp-word-check">hair</div>
            <div class="vp-word-check last">hair</div>
            <div class="vp-word-check">hair</div>
            <div class="vp-word-check last">hair</div>
        </div>
    </div>
</body>
</html>