extends ../m/layout

block js
    + js("/node_modules/ui-select/dist/select.min.js")
    + js("/js/educationModule.min.js")
    + js("/js/formModule.min.js")
    + js("/js/signUpModule.min.js")

block content
    .body(ng-app="signUpModule", ng-controller="signUpParentCtrl")
        .head(ng-if="step == 2")
            .title 信息填写
        .head(ng-if="step == 1")
            .title 绑定手机号
            a.back(onClick="history && history.back()") <
        .form-container(ng-if="step == 2")
            form(name="infoForm", ng-controller="infoCtrl", ng-submit="submitInfo()")
                .left-row.name.input-container
                    .label 姓名
                    input(type="text",placeholder="请输入您的姓名", ng-required="true", ng-model="infoData.name")
                .left-row.gender.input-container.without-border
                    .label 性别
                    input(type="radio", name="gender", ng-model="infoData.gender", value="M", id="boy", ng-required="true")
                    img.valign-middle(src="/images/boy.png")
                    .space
                    input(type="radio", name="gender", ng-model="infoData.gender", value="F", id="girl", ng-required="true")
                    img.valign-middle(src="/images/girl.png")
                .left-row.grade.input-container
                    .label 年级
                    select(ng-model="infoData.grade", ng-required="true")
                        option(value="",disabled,selected, hidden) 请选择你所在的年级
                        option(ng-repeat="grade in grades", value="{{grade.key}}") {{grade.name}}
                button.finish(type="submit", ng-disabled="!infoForm.$valid") 完成
        .form-container(ng-if="step == 1")
            form(name="signUpForm", ng-submit="signUp()", ng-controller="signUpCtrl")
                .left-row.phone.input-container
                    .label 手机号
                    input(type="phone",placeholder="请输入手机号", ng-required="true", ng-model="signUpData.mobile")
                .left-row.captchabox.input-container
                    .label 图形码
                    input(type="text",placeholder="请输入图形验证码", ng-required="true", ng-model="signUpData.captcha")
                    .captcha(ng-model="signUpData.captchaId", captcha)
                .left-row.verification-box.input-container
                    .label 验证码
                    input(type="text",placeholder="请输入手机验证码", ng-model="signUpData.verificationCode", ng-required="true", maxlength="6", minlength="6")
                    resend-verification
                .left-row.password.input-container
                    .label 密码
                    input(type="password", placeholder="请输入6-20位密码", ng-model="signUpData.password", ng-required="true", minlength="6", maxlength="20")
                button.next(type="submit", ng-disabled="!signUpForm.$valid") 下一步
                .center-row.agreement
                    input(type="checkbox", id="agree", ng-model="signUpData.agreed", ng-required="true")
                    label(for="agree") 您已阅读并同意
                        a.active(href="/agreement") 《BUZZBUZZ 用户注册协议》